@import url(https://cloud.typography.com/6431954/716946/css/fonts.css);@import url(bootstrap.css);@import url(font-awesome.css);@import url(fonts.css);@import url(popup.css);@import url(slider.css);@import url(ut.css);@import url(rrssb.css);
.body-copy p .caption {
    color: #404040;
}

.tags-nav {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: inherit;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .tags-nav li {
    display: inline; }
  .tags-nav a {
    display: inline-block;
    }
  .tags-nav a {
    background: #d0112b;
    text-decoration: none;
    border-radius: 1.5em;
    color: white;
    padding: 0.625em 1.25em;
    margin: 0.5em 0.5em 0.5em 0;
    -webkit-transition: color 0.3s, background 0.3s;
    -moz-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s; }
    .tags-nav a:hover, .tags-nav a:focus {
      background: white;
      color: #d0112b; }
  .tags-nav.tags-nav--gold a {
    background: #fbc804;
    color: black; }
    .tags-nav.tags-nav--gold a:hover, .tags-nav.tags-nav--gold a:focus {
      background: white;
      color: #d0112b; }
  .tags-nav.tags-nav--white a {
    background: white;
    color: #d0112b; }
    .tags-nav.tags-nav--white a:hover {
      background: #fbc804;
      color: black; }
  @media screen and (max-width: 850px) {
    .tags-nav {
      font-size: 75%; } }
  @media screen and (max-width: 769px) {
    .tags-nav li, .tags-nav a {
      display: block; } }
