html {
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000, #585858); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,#000000), color-stop(100%,#585858)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #000000 54%,#585858 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #000000 54%,#585858 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #000000 54%,#585858 100%); /* IE10+ */
background: linear-gradient(top,  #000000 54%,#585858 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#585858',GradientType=0 ); /* IE6-9 */
min-height: 100%;
background-attachment: fixed; /*added for IE10 to display gradient correctly - 12-13-13 */
}
body {
   color: #000;
   margin: 0px;
   font: normal 100%  Arial, Helvetica, Verdana,  sans-serif;
}
#skip-links a, #skip-links a:hover, #skip-links a:visited,  #skip-links a:focus { /*focus added on 11-29-12*/
   position: absolute;
   left: 0px;
   top:-500px;
   width:1px;
   height: 1px;
   overflow: hidden;
     }
#skip-links a:active, #skip-links a:focus {
   position: static;
   background: #900;
   color: #fff;
   width: auto;
   height: auto;
 }

a.reservearoom:hover {background: #FFE172 !important;}

.searchhidden { /*added on 11-29-12 for screen reader accessibility of search box label */
   position: absolute;
   left: 0px;
   top:-500px;
   width:1px;
   height: 1px;
   overflow: hidden;
     }
#printlogo {
   display: none;
}

/* @license
 * MyFonts Webfont Build ID 2318964, 2012-07-03T10:44:36-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Goudy Trajan Pro Regular by CastleType
 * URL: http://www.myfonts.com/fonts/castletype/goudy-trajan/regular/
 * Copyright: Copyright (c) 2001 by CastleType. All rights reserved.
 * Licensed pageviews: 1,000,000
 *
 * Webfont: Goudy Trajan Pro Bold by CastleType
 * URL: http://www.myfonts.com/fonts/castletype/goudy-trajan/bold/
 * Copyright: Copyright (c) 1994 by CastleType. All rights reserved.
 * Licensed pageviews: unspecified
 *
 * Webfont: Goudy Trajan Pro Medium by CastleType
 * URL: http://www.myfonts.com/fonts/castletype/goudy-trajan/medium/
 * Copyright: Copyright (c) 2007 by CastleType. All rights reserved.
 * Licensed pageviews: unspecified
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2318964
 *
 * © 2012 Bitstream Inc
*/

 @font-face {font-family: 'GoudyTrajan-Regular';src: url('/cameron-files/fonts/236274_0_0.eot');src: url('/cameron-files/fonts/236274_0_0.eot?#iefix') format('embedded-opentype'),url('/cameron-files/fonts/236274_0_0.woff') format('woff'),url('/cameron-files/fonts/236274_0_0.ttf') format('truetype');}
 @font-face {font-family: 'GoudyTrajan-Bold';src: url('/cameron-files/fonts/236274_1_0.eot');src: url('/cameron-files/fonts/236274_1_0.eot?#iefix') format('embedded-opentype'),url('/cameron-files/fonts/236274_1_0.woff') format('woff'),url('/cameron-files/fonts/236274_1_0.ttf') format('truetype');}
 @font-face {font-family: 'GoudyTrajan-Medium';src: url('/cameron-files/fonts/236274_2_0.eot');src: url('/cameron-files/fonts/236274_2_0.eot?#iefix') format('embedded-opentype'),url('/cameron-files/fonts/236274_2_0.woff') format('woff'),url('/cameron-files/fonts/236274_2_0.ttf') format('truetype');}

#top {
   background-color: #333;
   padding-left: 2.9%;
   padding-right: 2.9%;
   padding-bottom: 2px;
   overflow: hidden;
}
#top a {
   color: #fff;
   text-decoration: none;
}
#toplinks a {
   font-size: .70em;
   padding-left: .5em;
}
#top a:hover {
   color: #ffe5a9;
}
#logo {
   width: 59%;  /* 531px / 900px */
   margin-left: 0px;
   float: left;
}
   #logo h1 {
       margin-bottom: 3px;
   }
#searchbar {
   width: 90%;
   float: right;
   margin-top: 25px;
}
#search {
   width: 35%;
   float: right;
   text-align: right;
}
.searchwhite {
   background-color: #fff;
   margin: 0 auto;
   height: 22px;
}
.searchbutton {
   background: url(/cameron-files/images/Search2.png);
   display: relative;
   float: right;
   text-indent: -9999px;
   overflow: hidden;
   margin: 0;
   padding: 0;
   cursor: pointer;
   width: 22px;
   height: 22px;
   border: none;
}
#search input {
   font-size: .75em;
   color: #000; /*changed for color accessibility on 02-27-13 */
}
#outerwrap {
   background-color: #fff;
   overflow: hidden;
   /*  padding: 5px 4%;  /* 37px / 900px */   */
}
.pagewidth {
   width: 93.75%;  /* 900px / 960px */
   margin: 0px 3.125%;
}
.hidden {
   display: none;
}
a {
   text-decoration: none;
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
a:visited {
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
a:hover, a:focus {
   text-decoration: underline;
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}

/* For use with the red notice on the homepage */
 a.black{color: black;
}
 a.black:visited { color:black;
}
 a.black:hover, a.black:focus {color: black;
}

.center {
text-align: center;
}

h1, h2 {
   font-family: GoudyTrajan-Regular, Trajan Pro, Times New Roman;
   font-size: 1.5em;   /* 24px/16px */
   padding-top: 0;
   margin-top: 0;
   text-transform: uppercase;
}
h1, h2 {
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
h3 {
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
#nav h2 {
   color: #000000;
}
#nav {
   margin-top: 65px;
   margin-left: 4%;
   margin-right: 0;
   float: left;
   width: 22.5%; /* 146px/900px  */
}

#nav h3 {
   color: #000;
   font-family: GoudyTrajan-Regular, Trajan Pro, Times New Roman;
   font-size: 1.5em;
   border-bottom: thin solid #ccc;
   padding-bottom: 9px;
}
#nav ul {
   margin: 0px;
   margin: -15px 0px 0px -40px; /* firefox */
   list-style-type: none;
}
#nav li {
   border-bottom: thin solid #ccc;
   padding: 9px 0;
   line-height: 1.3;
}
#nav li li {
   border-bottom: none;
   line-height: 115%;
   padding: .50em 0 0 1.5em;
}
#nav li li:first-child {
   padding-top: 20px;
}
#nav a, #nav a:visited {
   color: #000;
}
#nav a.active {
  font-weight: bold;
  background: url('/cameron-files/images/arrow2.png') no-repeat left;
  padding-left: 25px;
  margin-left: -25px;
}
a.dcjq-parent {
  font-weight: normal !important;
  background: none !important;
}
.directory-list img{
  padding: 5px 10px 5px 0;
}
.directory-list h3{
  margin-bottom: 0;
  color: black;
}
.directory-list h4{
  margin-bottom: 0;
}
.directory-list p{
  margin-top: 0;
}
#maincontent {
   float: right;
   width: 73%;
   border-left: medium solid #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
   padding-top: 5px;
}
#crumbtrail {
   padding: 5px 4%;
}
#crumbtrail a {
   color: #000;
}
#mainpic {
   padding: 0;
   width: 96%;
}
#main {
   padding: 15px 4%;
   width: 60%;
   float: left
}
#main a {
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
#highlightpic {
   float: right;
   width: 25%;
   margin-right: 4%;
}
#highlight {
   float: right;
   width: 25%;
   margin-top: 15px;
   margin-right: 4%;
   font-size: .75em;
background: #ffcc44; /* Old browsers */
background: -moz-linear-gradient(top,  #ffcc44, #ffffff); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,#ffcc44), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffcc44 54%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffcc44 54%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffcc44 54%,#ffffff 100%); /* IE10+ */
background: linear-gradient(top,  #ffcc44 54%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc44', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#highlight h3 {
   background-color: #ffe172;
   margin-top: 0;
   color: #000;
   font-family: GoudyTrajan-Regular, Trajan Pro, Times New Roman;
   font-size: 1.3em;
   padding: 4%;
}
#highlight-content {
   padding: 0 4% 14% 4%;
}
#highlight div.description {
   padding: 0 4% 14% 4%;
}
#highlight a {
   color: #8B4812;
}
#footer {
   color: #fff;
   clear: both;
   float: left;
   font-size: .67em;
   line-height: 0.3em;
}
#footer a {
   color: #fff;
   text-decoration: underline; /*added on 11-29-12*/
}

#footer a:hover, #footer a:focus { /*added on 11-29-12*/
   color: #c89b0a; /*#ffe5a9;*/
   text-decoration: underline; 
}
#footer a:visited {
   color: #fff;
   text-decoration: underline; /*added on 11-29-12*/
}
#buttonbar {
   z-index:9999;
}
#socialfooter {
   float: right;
}
.orange_td {
background-color : #ffe172;
}
.datatable th {
   background-color: #ffe172;
}
.datatable {
	border-spacing: 0px;
	border: 1px solid gray;
background-color: white;
border-collapse: collapse;
}

.datatable th {
font-size: 10pt;
text-align: left;
padding: 5px;
border: 1px solid gray;
}
.datatable td {
font-size: 10pt;
padding: 5px;
border: 1px solid gray;
}

.valigntop {
vertical-align:text-top;
}

.tcaption {
font-family: GoudyTrajan-Regular, Trajan Pro, Times New Roman;
   font-size: 1.3em;
color: #93720D;
font-weight: bold;
}

.bold {
font-weight: bold;
}


/* ********** smaller than 950 ************* */
@media screen and (max-width: 949px) {
#main {
  width: 54%;
}
#highlight {
  width: 30%;
  margin: 0px 4%;
}
#highlight h3 {
  padding: 1%;
}
}
/* ********** smaller than 950 ************* */
@media screen and (max-width: 760px) {
#nav {
  width: 100%;
}
#maincontent {
  border-left: none;
  width: 100%;
}
#mainpic {
  width: 100%;
}
}
/* ******************************* */
/* Buttonbar for less than 1020px screens
   buttonbar max width does not include
   padding and margins
---------------------------------- */
@media screen and (max-width: 949px) {
#bar li#quicklinks {
   display: none;
}
#bar li.fill {
   display: none;
}
#toplinks a {
   font-size: 1em;
   padding-left: 1em;
}
#togglemenu {
   width: 14.25%;
   float: right;
}
#searchbar {
   margin-top: 0;
}
#buttonbar {
   margin: 0;
   margin-left: 48%;
   margin-top: -1.5em;
   padding: 0;
   height: 1em;
   position: relative;
   float: left;
   display: none;
}
#bar {
   margin: 0;
   padding: 0;
   height: 1em;
}
#bar li {     /* main menu - future, current, etc. */
   list-style-type: none;
   list-style: none;
   float: left;
   background-color: #ffe172;
   text-indent:0;
   display: block;
   text-transform: uppercase;
   padding-left: 3px;
   margin: 0;
   width: 85%;
   border-right: none;
   padding-top: 8px;
   padding-bottom: 7px;
   border-top: thin solid #999;

}
#bar li a{
   display: block;
   background-color: #ffe172;
   font-size: 1.2em;
   text-transform: none;
   width: 100%;
   color: black;
   padding-top: 8px;
   padding-bottom: 7px;
   padding-left: 3px;

}
#bar li#quicklinks {
	   display: block;
   background-color: #ffe172;
   font-size: 1.2em;
   text-transform: none;
   width: 100%;
   color: black;
   width: 85%;
   padding-top: 8px;
   padding-bottom: 7px;
   padding-left: 3px;
}
#bar ul li a:hover, #bar ul li a:focus {
   text-decoration: none;
   color: #93720D; /*was ad8505, changed on 11-29-12 for contrast ratio*/
}
#bar li ul {
   display: none;
   width: 100%;
   background-color: white;
}
#prospective-links li,
#current-links li,
#academic-links li,
#facstaff-links li,
#parent-links li,
#alumni-links li,
#visitor-links li {
   width: 80%;

}
#prospective-links,
#current-links,
#academic-links,
#facstaff-links,
#parent-links,
#alumni-links,
#visitor-links {
   display: none;
}
}
/* ********************************* */
/*   Rework for 1020 and smaller     */
@media screen and (max-width: 949px) {
   #logo {
   width: 100%;
   }
   #logo h1 {
       margin-bottom: 0;
   }
   #search {
   width: 100%;
   }
   #searchbar {
       width: 43%;
       padding-top:5.5px;
   float: left;
   }
   #searchbutton {
       height: auto;
   }
   #toplinks  {
       padding-top: 5px;
       float: right;
   }
.social {
   width: 15%;
   float: right;
}
#footer {
   /*width: 100%;*/
   line-height: 1em;
}
}
/*Rework for 640px and smaller, added to fix event calendar & contact box overlapping /eventcalendar */
@media screen and (max-width: 640px) {
	#main {
	width: 95%
}
#highlight {
	float: left;
	width: 35%;
}
}
/* ********************************* */
/*   Rework for 550px and smaller    */
@media screen and (max-width: 550px) {
#togglemenu {
   width: 43%;
   float: right;
}
#toplinks {
   display: none;
}
#buttonbar {
   margin-left: 3%;
}
   #searchbar {
       width: 50%;
       padding-top: 3%;
}
#bar li#quicklinks {
   display: block;
}
}

img,
embed,

object,
video {
   max-width: 100%;
   height: auto;
}
.video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.calendar-container iframe {
   width: 100%;
}
img {
   border: none;
}


#searchbar {
   margin-top: 0;
}
/* Main
---------------------------------- */

#mainpage {
   float: left;
   overflow: hidden;
}
#col1 {
   float: left;
   width: 71.111%;  /* 640px / 900px */
}
#col1 img {
   /*padding: 35px 0px 0px 0px;*/
   display: block;
}
#col2 {
   width: 27.22%;  /* 245px / 900px */
   float: right;
   background-color: #ffffff;
   background-image: url(http://www.cameron.edu/cameron-files/images/Watermark-Logo.png);
   background-repeat: no-repeat;
   background-position: top center;
   color: #000000;
   padding-bottom: 9999px;
   margin-bottom: -9999px;
}
#news {
   margin: 25px auto;
   width: 87.234%;
   font-size: .75em;   /* 12pt/16pt */
}
.rssfeed a {
   padding-bottom: 5px;
}

#col2 h2 {
   border-bottom: thin solid black;
   color: #ad8505;
   font-size: 2.5em;
}

#col2 a {
   color: #000;
   text-decoration: underline; /*changed on 10-17-12*/
}
#col2 a:hover,
#col2 a:focus {
   text-decoration: underline;
   color: #AD8505;
}
#col 2a:visited {
color: #000;
text-decoration: underline;
}
#col2 ul {
   padding-left: 25px;
   margin-left: 0;
}
#badges {
   margin: 15px 3.125%;
   clear: both;
   float: left;
   font-size: .67em;
   line-height: 0.3em;
}
.awards {
   width: 6.3%;
   float: left;
}
.awards_cp {
   width: 10%;
   float: left;
   padding-left: 1%;
   padding-top: 1em;
}
#agcentral {
   float: right;
   width: 27.22%; /* same as col2 */
   margin-right: 1.669%;
}
#aggies {
   float: right;
   width: 27.22%; /* same as col2 */
}
span.arrowmore {
   display: inline-block;
   vertical-align: middle;
   width: 15px;
   height: 22px;
   background: url('http://www.cameron.edu/cameron-files/images/arrow2hover.png') no-repeat;
}
a:hover span.arrowmore, a:focus span.arrowmore {
   background-position: -15px 0;
}

#alertdiv {
   background-color: red;
   color: white;
   margin-top: -20px;
   padding-top: 5px;
}

/* ********************************* */
/*   Rework for 1020 and smaller     */
@media screen and (max-width: 949px) {

   #giveapply {
       width: 40%;
       float: right;
       padding-bottom: 0;
   }
#col1 {
   float: left;
   width: 100%;
}
#col2 {
   float: left;
   width: 100%;
   margin-top: 25px;
}

#agcentral {
   float: left;
   width: 48%; /* same as col2 */
   margin:0 auto;
}
#aggies {
   clear: both
   float: right;
   width: 48%; /* same as col2 */
}

.awards {
   width: 15%;
   float: left;
}

.awards_cp {
   width: 20%;
   float: left;
   padding-top: 2em;
   padding-bottom: 2em;
}

}
/*For iPhone5 landscape */
@media screen and (max-width: 980px) and (orientation:landscape)  {
	#col2 {
		float: left;
		width: 100%;
		margin-top: 60px;
	}
}
/*For android landscape*/
@media screen and (min-width:598px) and (max-width: 685px) and (orientation:landscape) {
		#col2 {
		float: left;
		width: 100%;
		margin-top: 80px;
	}
}	 
@media screen and (max-width: 568px) and (orientation: landscape) {
	#col2 {
		float: left;
		width: 100%;
		margin-top: 70px;
	}
}

/* ********************************* */
/*   Rework for 550px and smaller    */
@media screen and (max-width: 550px) {

   #giveapply {
       display: none;
   }
   #col2 {
   float: left;
   width: 100%;
   margin-top: 75px;
}


/* ********************************* */
/*   Rework for 480px and smaller    
@media screen and (max-width: 480px) {

.awards_cp {
   padding-top: 1em;
   }


}*/
/* Buttonbar
---------------------------------- */

#buttonbar {
      background: transparent url(/cameron-files/images/bbbackground.png) repeat-x;
	height: 35px;
      width: 93.75%;
      margin-bottom: 10px;
	overflow:hidden;
	display:block;
	position:relative;
      margin: 0px 3.75% 1.669% 3.125%;
      padding; 0;

	}

#bar
{
      width: 100%;
	margin: 0 auto;
      padding: 0;

	}


#bar a,
#bar a:visited,
#bar a:active,
#bar a:focus {
      color: #000;
}
#bar li {
	display:block;
	color:#000;
	line-height: 35px;
	font-size: .7em;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
	float:left;
	position:relative;
      width: 14.25%;
	}

	
#bar li ul {
	position:absolute;
	margin: 0;
      padding: 0;
      width: 100%;
      min-width: 128px;
	overflow:hidden;

	}

#bar li#prospective li ,
#bar li#students li,
#bar li#academics li,
#bar li#facstaff li,
#bar li#parents li,
#bar li#alumni li,
#bar li#visitors li{
	float:none;
	background-color:#fef0b7;
	background-image:none;
	text-indent:0;
	overflow:hidden;
	font-size: .9em;
	line-height: 1.5em;
	padding: 3px;
      text-transform: none;
      text-align: left;
      margin: 0;
      list-type: none;
      font-weight: normal;
      width: 150%;
      min-width: 128px;
      border-left: thin solid #ffffff;

	}
#bar li li a:hover,#bar li li a:focus {
      text-decoration: underline;
}

#bar li#prospective li.last-item,
#bar li#students li.last-item,
#bar li#academics li.last-item,
#bar li#facstaff li.last-item,
#bar li#parents li.last-item,
#bar li#alumni li.last-item,
#bar li#visitors li.last-item  {
      background-color: #ffc426;
      font-weight: bold;
}
#togglemenu {
  display: none;
}
#bar li#quicklinks {
   display: none;
}

#bar a.nolink:hover, #bar a.nolink:focus {
   text-decoration: none;
}

/**************************
*
*	GENERAL
*
**************************/
.camera_wrap a, .camera_wrap img,
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img,
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}

.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;
}
.camera_wrap img {
	max-width: none!important;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

}
	
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible; /*changed on 2-25-13*/
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(http://www.cameron.edu/cameron-files/images/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(http://www.cameron.edu/cameron-files/images/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(http://www.cameron.edu/cameron-files/images/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	bottom: 0;
	display: block;
	position: absolute;
	width: 40%;
      font-size: .75em;
      margin-bottom: 40px;
}
.camera_caption a {
      color: white;
}

.camera_caption a:visited {
      color: white;
}

@media screen and (max-width: 568px) and (orientation: portrait) {
	.camera_caption {
position:relative;
float: left;
margin-top: 200px;
    width: 100%;
	z-index: 150;
}}
/*For iPhone5 landscape */
@media screen and (max-width: 980px) and (orientation:landscape)
     {
		.camera_caption {
position:relative;
float: left;
margin-top: 323px;
    width: 100%;
	z-index: 150;
}}
/*For android landscape*/
@media screen and (min-width:598px) and (max-width: 685px) and (orientation:landscape)
     {
		.camera_caption {
position:relative;
float: left;
margin-top: 350px;
    width: 100%;
	z-index: 150;
}}
@media screen and (max-width: 480px) and (orientation: landscape) {
		.camera_caption {
position:relative;
float: left;
margin-top: 270px;
    width: 100%;
	z-index: 150;
}}
/*For phones with 380px wide in portrait (android devices) */
@media screen and (max-width: 380px) and (orientation: portrait) {
		.camera_caption {
position:relative;
float: left;
margin-top: 210px;
    width: 100%;
	z-index: 150;
}}
/*For iPhone3/4/5 portrait, android devices */
@media screen and (max-width: 320px) and (orientation: portrait) {
		.camera_caption {
position:relative;
float: left;
margin-top: 200px;
    width: 100%;
	z-index: 150;
}}

.camera_caption > div {
	padding: 10px 20px;
}
@media screen and (max-width: 685px) and (orientation: landscape) {
		.camera_caption > div {
		padding: 1px;
	}}
@media screen and (max-width: 568px) and (orientation: portrait) {
	.camera_caption > div {
		padding: 1px;
	}}
@media screen and (max-width: 480px) and (orientation: landscape) {
		.camera_caption > div {
		padding: 1px;
	}}
/*Removed 04-01-13
@media screen and (max-width: 550px) {
.camera_caption {
position:relative;
float: left;
margin-top: 190px;
    width: 100%;
	z-index: 150;
}
}*/


/*Removed 04-01-13
@media screen and (max-width: 550px) {
	.camera_caption > div {
		padding-top: 0px;
		padding-right: 5px;
		padding-bottom: 0px;
		padding-left: 5px;
}}*/
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat -160px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}

.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat -190px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.camera_pag {
      position: relative;
      margin-top: -25px;
      margin-bottom: 0px;
      margin-left: 30%;
}
@media screen and (max-width: 685px) and (orientation: landscape) {
		.camera_pag {
		visibility:hidden;
	}}
@media screen and (max-width: 568px) and (orientation: portrait) {
	.camera_pag {
		visibility:hidden;
	}}

@media screen and (max-width:480px) and (orientation: landscape) {
		.camera_pag {
		visibility:hidden;
	}}
/*Removed 04-01-13
@media screen and (max-width: 550px) {
.camera_pag {
      margin-top: -25px;
      margin-left: 70%;
}}*/
.camera_wrap .camera_pag .camera_pag_ul li {
	/*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	cursor: pointer;
	display: inline-block;
	height: 16px;
	/*margin: 20px 5px;*/
      margin-right: 5px;
	position: relative;
      float: left;
      text-align: left;
	text-indent: -9999px;

	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	/*-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;*/
	height: 12px;
	left: 2px;
	overflow: hidden;
	position: absolute;
	top: 2px;
	width: 12px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.camera_prev {
	left: 0;
}

.camera_prev > span {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat 0 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_next {
	right: 0;
}
.camera_next > span {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat -40px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat -80px 0;
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	background: url(http://www.cameron.edu/cameron-files/images/camera_skins.png) no-repeat -120px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	/*-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;*/
	cursor: pointer;
	/*display: inline-block;*/
	height: 16px;
	/*margin: 20px 5px;*/
	/*position: relative;*/
	text-indent: -9999px;
	width: 16px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
	background: url(http://www.cameron.edu/cameron-files/images/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
	background: url(http://www.cameron.edu/images/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
	background: url(../images/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
	background: url(../images/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
	background: url(../images/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
	background: url(../images/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
	background: url(../images/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
	background: url(../images/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
	background: url(../images/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
	background: url(../images/patterns/overlay10.png) repeat;
}
.camera_caption {
	color: #fff;
}
.camera_caption > div {
	background: #000;
	background: rgba(0, 0, 0, 0.7);
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #585858;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background: #585858;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #fff;
}
.camera_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
	background: #d8d8d8;
	background: rgba(216, 216, 216, 0.85);
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #333333;
}
.camera_thumbs_cont ul li > img {
	border-color: 1px solid #000;
}
body {
   color: #000;
   font-size: 11pt;
   background-color: #fff;
   font-family:  Arial, Helvetica, Verdana,  sans-serif;
}

#skip-links, #top, #nav, #buttonbar, #togglemenu, #bar, #socialfooter, .hidden {
   display: none;
}

#maincontent {
   width: 100%;
}

#main a:link:after, #main a:visited:after, #highlight a:link:after, #highlight a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 80%;
   font-style: italic;
   }
#crumbtrail {
   margin-bottom: 10px;
}
#crumbtrail a {
   color: #000;
}


#mainpic {
   padding: 0;
   width: 100%;
}

#main {
   width: 100%;

}
#highlightpic {
   float: right;
   width: 25%;
   margin-right: 4%;
}

#highlight {
   margin-top: 15px;
   border: solid thin;
   padding: 10px;
}

#highlight h3 {
   font-family: Trajan Pro, Times New Roman;
   font-size: 1.3em;
}


#footer {
   clear: both;
   font-size: .67em;
   line-height: 0.3em;
}

img,
embed,
object,
video {
   max-width: 100%;
   height: auto;
}

img {
   border: none;
}
h1, h2 {
   font-family: Trajan Pro, Times New Roman;
   font-size: 1.5em;   /* 24px/16px */
   padding-top: 0;
   margin-top: 0;
   text-transform: uppercase;
}
h1, h2 {
   #93720D; /*changed on 11-29-12 in reference to the contrast ratio accessibility*/
}

h3 {
   #93720D; /*changed on 11-29-12 in reference to the contrast ratio accessibility*/
}

