[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
requests = "*"
mcts = "*"
tinycss2 = "*"
selenium = "*"
tqdm = "*"
# coconut = "*"
scipy = "*"
pillow = "*"
numpy = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"
