
IMG{border:none;}
html {padding-top: 0px; padding-bottom: 15px; margin: 0; overflow-y:scroll; height:100%;}
body {padding-top: 0px; padding-bottom: 15px; margin: 0; 
	background-color: #660000;
	margin:0px;
	padding:0px;
	height:100%;}	
h1 {margin: 0;}
.JonahBlack { 
	font-family: JonahBlack;
	font-weight: normal;
	font-style: normal;
	color:#660000;
	font-size:2em;
}
.JonahWhite { 
	font-family: JonahWhite;
	font-weight: normal;
	font-style: normal;
}
//* Styles for IE*//
@media \0screen\,screen\9 {
	   .imgsmallleft {
        width: 100%;
    }
	  .imgsmallright {
        width: 100%;
    }
}
	 
@media screen\0 {
	   .imgsmallleft {
        width: 100%;
    }
	  .imgsmallright {
        width: 100%;
    }
}
@-moz-document url-prefix() {
  	   .imgsmallleft {
        width: 100%;
    }
	  .imgsmallright {
        width: 100%;
    }
}
	
  .imgsmallright {float:right;margin:4px; clear:none;width:inherit;max-width:60%;}
  .imgsmallleft {float:left;margin:4px; clear:none;width:inherit; max-width:60%;}
  .imglargecenter {display:block;margin:0 auto; max-width:100%;}
.admissionbannerleft {
width:290px;float:left;	
}
.admissionbannerright {
width:390px;float:left; padding-left:7px;	
}
 #ldbanners {top: -70px; width: 650px; height: 268px; margin-left: 48px; position: relative; background-image: url("/images/banners_bg.png"); background-repeat: no-repeat;}
.padleft10 {
	padding-left: 10px;
}

.padleft20 {
	padding-left: 20px;
}
	
.hideonmobile {display:none !important; }

.searchpad {
	padding-left: 0px;	
	clear:right;
	float:right; 
	 position:relative;
	 top:-16px;
}
.searchpad_srch_image {
	padding-left: 10px;
	padding-top:20px;
}
.searchpad LABEL{
color:#fff;
font-family:Arial, Helvetica;
font-size:0.8em;
}
.searchpad IMG{
padding-top:30px;
}
.searchpad P{
font-family: Verdana, Arial, Helvetica, sans-serif;
color:#660000;
}
.searchpad A{
color:#fff;
text-decoration:none;
}
.searchpad A:HOVER{
text-decoration:underline;
}
#searchradio {
	padding-left: 10px;	
}

.searchradiofont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
}

#b1 {background:   url(/images/content_home_b.gif) repeat-y top;}

.b1_top {background:   url(../../images/content_home_b1-2.gif) top left no-repeat;display: block;}

.b1_bottom {background:   url(/images/content_home_b1-2.gif) bottom left no-repeat;display: block;}

#top_menu {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	}

#top_menu {
    background: #191919 none repeat scroll 0 0;
    color: #ffffff;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 auto;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: 900px;
}
	
	#top_menu ul {
	margin: 0;
	padding-left: 0;
	display: inline;
	}
	
	#top_menu ul li {
	margin-left:0;
	border: none;
	list-style: none;
	display:inline;
	}
	
	#top_menu a {
	color: #CCC;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration: none;
	padding: 2px 10px 2px 10px;}	
	
	#top_menu a:hover {
	color: #FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-decoration: none;
	padding: 2px 10px 2px 10px;
	background-color: #2e2e2e;}

.newsfeeddate {
	font-family: Arial, Verdana, Helvetica, sa0ns-serif;
	font-size: 11px;
	line-height: 150%;
	color: #600;
	padding-top: 10px;
	padding-right: 10px;}

.newsfeedne {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 11px;
	color: #600;
	padding-top: 10px;}

.newsfeedne a {
color: #600;
text-decoration: none;
}

.newsfeedne a:hover {
color:#600;
text-decoration:underline;
}

.newsfeedne a:visited {
color: #600;
}



.spotlight {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 130%;
	font-size: 11px;
	color: #000000;
	padding-left: 10px;
	padding-top: 10px;}

	.spotlight a {
	font-weight: bold;
	color: #660000;
	text-decoration: none;
	}
	
	.spotlight a:hover {
	color: #660000;
	text-decoration: underline;}
	
	.spotlight a:active {
	color: #660000;
	text-decoration: none;}
	
#2ndnavpad {
	padding-top: 10px;
}

#utlcontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #000000;
}
.logoribbon {float:left;padding:1em 0 0 0;clear:right;border-bottom:1px solid #ebebeb;background:#fff;width:100%;}
#wysiwygcontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: .75em;
	color: #000000;
	max-width:700px;
	margin:20px;
	display:block;
	  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
  clear:left;
  overflow:hidden;
}
#wonavcontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: .75em;
	color: #000000;
	max-width:860px;
	margin:20px;
	display:block;
	  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-word;
  clear:left;
}
.threecolumnrow { display:table;table-layout:fixed;width:100%;	}
.threecolone {width:33%;display:table-cell;border-right:#cecece solid 1px;padding-left:10px;}
.threecolone img {display:block;margin-left:4px;}
.threecoltwo {width:34%;display:table-cell;border-right:#cecece solid 1px;padding-left:10px;}
.threecolthree {width:33%;display:table-cell;padding-left:10px;}
.twocolumnrow { display:table;table-layout:fixed;width:100%;	}
.column-half {display:table-cell;width:48%; padding: 15px 1%;vertical-align:top;}
#left_col {	float:left;	width:345px;}
#right_col {float:left;	width:345px;padding-left:10px;}
.left_col {	float:left;	width:49%;}
.right_col {float:right;width:49%;padding-left:2%;}
.video-container {position:relative; padding-bottom:56.25%; /*padding-top:30px;*/ height:0; overflow:hidden;}
.video-container iframe, .video-container object, .video-container embed {position:absolute; top:0; left:0; width:100%; height:100%; }

#biophoto {
max-width:170px;
padding-right:10px;
display:table;
float:left;	
margin: 0;
}
.biobody {
width:100%;
max-width:520px;	
display:table;
}
.thanks {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/maroon-ribbon-bg.png") no-repeat 0 0;
	position:relative;
	right:11px;
	color:#efefef;
	float:left;
    font-family: Arial, Verdana, Helvetica, sans-serif;
	}

.security {
	display: block;
	width: 550px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/security.png ") no-repeat 0 0;
	position:relative;
	right:11px;
	color:#efefef;
	float:left;
	clear:right;
    font-family: Arial, Verdana, Helvetica, sans-serif;
	}
	.security:hover {
	background-position: 0 -90px;
}
.utlcontent_h1 {
font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #660000;
	font-size: 36px;
	line-height: 1em;
	margin: 0px;
}
.utlcontent_h2 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #555;
	font-size: 18px;
	line-height: 1em;
}
.utlcontent_h3 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #660000;
	font-size: 18px;
	line-height: 1em;
}
.utlcontent_h4 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color:#000000;
	font-size: 18px;
	line-height: 1em;
}

#academicsb {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right top;
}

#audiencecontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #333333;}
	
	#audiencecontent a {
	color: #333333;
	text-decoration: none;}
	
	#audiencecontent a:hover {
	color: #333333;
	text-decoration: underline;}
	
	#audiencecontent a:active {
	color: #333333;
	text-decoration: none;}
	
	#audiencecontent h1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #660000;

	margin-top: 0em;}
		
		#audiencecontent h2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #660000;

	margin-top: 0em;}
	
	#audiencecontent ul {
	margin-left: .5em;
	padding-left: .5em;
	list-style-image: url(/images/audience-bullet.gif);
	list-style-position: outside;
}
.secondhead {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 10px;
	background-image: url(/images/heading_back.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-transform: uppercase;}

.infofloat {float:right;margin:5px 0 5px 5px;} 
.bigleftcolumn {float:left;width:65%; display:table-cell;}
.smallrightcolumn {float:right;width:34%;padding-left:1%; display:table-cell;}
#careercloseup {background:#ebebeb;width:100%;padding:5px 0; position:relative;top:-5px;}
#audiencecontent h2.secondhead {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: .75rem;
	color: #FFFFFF;
	padding-left: 10px;
	background-image: url(/images/heading_back.gif);
	background-repeat: repeat-x;
	background-position: left top;
	text-transform: uppercase;}

.audpad1 {
	padding-right: 0px;
}

.audpad2 {
	padding-left: 10px;
}

.audpad3 {
	padding-left: 10px;
}

#audienceb {background: url(/images/content_aud_b.gif) repeat-y top;}

#audiencesell {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 148%;
	font-size: 12px;
	color: #000000;
	padding-top: 60px;
	margin-bottom: 0px;
}

	#audiencesell a {
	color: #660000;
	text-decoration: underline;}
	
	#audiencesell a:hover {
	color: #660000;
	text-decoration: none;}
	
	#audiencesell a:active {
	color: #660000;
	text-decoration: underline;}

/*#audiencesellb {
background-image: url(/images/content_v_b.jpg);
	background-repeat: no-repeat;
	background-position: top;
}*/
.h3links {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1em;
	text-decoration:none;

}
a.h3links:link {
	color: #660000;
	text-decoration:none;
}
a.h3links:visited {
	color:#660000;
	text-decoration:underline;
}
a.h3links:hover {
	color:#660000;
	text-decoration:underline;
}
a.h3links:active {
	color:#660000;
	text-decoration:underline;
}
#fs_back{
background-image: url(/images/content_fs_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#cs_back{
background-image: url(/images/content_cs_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#fac_back{
background-image: url(/images/content_fac_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#v_back{
background-image: url(/images/content_v_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#af_back{
background-image: url(/images/content_af_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#pf_back{
background-image: url(/images/content_pf_b.jpg);
background-repeat: no-repeat;
background-position: top;
}

/*
#audiencesellb .fs{
background-image: url(/images/content_fs_b.jpg);
background-repeat: no-repeat;
background-position: top;
}
#audiencesellb .cs{
background-image: url(/images/content_cs_b.jpg);
}
#audiencesellb .fs{
background-image: url(/images/content_fs_b.jpg);
}
#audiencesellb .v{
background-image: url(/images/content_v_b.jpg);
}
#audiencesellb .af{
background-image: url(/images/content_af_b.jpg);
}
#audiencesellb .pf{
background-image: url(/images/content_pf_b.jpg);
}
*/

#audiencenav {
	font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background: #555;
    vertical-align:top;
    margin-left: 0em;
    padding-top: 15px;
    width: 160px;
	padding-bottom:15px;
}

#audiencenav li {
	list-style: none;
	border-bottom: 2px solid #999;
}

#audiencenav ul {
	margin: 0;
	padding-left: 0;
}

#audiencenav ul li ul li a{
    padding-left: 20px;
}

#audiencenav a {
	list-style: none;
	font-weight: bold;
	display: block;
	color: #fff;
	padding: 5px 10px 5px 10px;
	text-decoration: none;}
	
#audiencenav a.social {
	list-style: none;
	font-weight: bold;
	display: block;
	color: #e4e4e4;
	padding:0 0 0 0;;
	text-decoration: none;}

	#audiencenav a:hover {
	color: #e4e4e4;
	text-decoration: none;
}

#audiencenav1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	margin-left: 0em;
	padding-top: 15px;
	width: 158px;}

	#audiencenav1 li {
	list-style: none;
	border-bottom: 2px solid #999;}

	#audiencenav1 ul {
	margin: 0;
	padding-left: 0;}

	#audiencenav1 a {
	list-style: none;
	font-weight: bold;
	display: block;
	color: #CCC;
	padding: 5px 10px 5px 10px;
	text-decoration: none;}

	#audiencenav1 a:hover {
	color: #FFF;
	text-decoration: none;
}
#eventcontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 130%;
	color: #000000;}
	
	#eventcontent h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #660000;}

	#eventcontent a {
	color: #660000;
	text-decoration: underline;}
	
	#eventcontent a:hover {
	color: #660000;
	text-decoration: none;}
	
	#eventcontent a:active {
	color: #660000;
	text-decoration: underline;}

#event2nd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 130%;
	color: #660000;
	padding: 10px;
}

	#event2nd strong {
	text-transform: uppercase;
}

	#event2nd a {
	color: #660000;;
	text-decoration: underline;
	font-weight: bold;}
	
	#event2nd a:hover {
	color: #660000;
	text-decoration: none;
	font-weight: bold;}
	
	#event2nd a:active {
	color: #660000;
	text-decoration: underline;
	font-weight: bold;}

/*#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .65em;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 20px;
	text-align: center;
	width:100%;
	margin:0 auto;
	}
	
	#footer a {
	color: #FFFFFF;
	text-decoration: none;}
	
	#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;}
	
	#footer a:active {
	color: #FFFFFF;
	text-decoration: none;}
	
	#footer ul li {
		display:inline;
	list-style:none;
	}
	
	#footer ul {
		margin:0;
	padding:0;
	}*/
	
		#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 150%;
	color:white;
	text-decoration: none;
	padding-top: 20px;
	background:#660000; width:900px; padding-top:10px; text-align:left; color:white; margin:0 auto;}
	
	#footer a {
	color:white;
	text-decoration: none;}
	
	#footer a:hover {
	color: #f2f2f2;
	text-decoration: underline;}
	
	#footer a:active {
	color: #444;
	text-decoration: none;}
	
	.footcol {float:left; width:32%;}
	.footcol ul {list-style-type: none; margin:0 0 0 20px;}

.cal1 td.header {
    border-right-style:none;
    background-color:White;
}

.cal1 td.title:hover {
    background-color:White;
}

.cal1 td.header:hover {
    background-color:White;
}

.cal1 { 
	background: #F1F6F8; 
	width:210px;
	height:25px;
} 
.cal1 td.title { 
	font-size:10px;
	border-bottom:4px groove #DDDDDD;
	border-top:1px solid #DDDDDD;
	border-right-style: none;
	width:70px;
	background: #FFFFFF;
 	font-weight:bold; 
}

.cal1 td.left { 
	border-left:1px solid #DDDDDD;
}

.cal1 td.leftbold {
    border-left:1px solid #DDDDDD;
    font-weight:bold;
}

.cal1 td.bold {
    font-weight:bold;
}

.cal1 td { 
	color: #333333; 
	border:1px solid #DDDDDD; 
	border-left-color: #DDDDDD; 
	border-left-style: none;
	border-top-style: none;  
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	line-height: 25px; 
	text-align: center; 
	cursor:default;
 
} 

.cal1 td:hover {
    background-color: #FFFFCC;
}

.cal1 a { 
	color: #660000;
	display:block; 
} 
* html .cal1 td a {width: 100%;} 

.cal2 td.header {
    border-right-style:none;
    background-color:White;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    height:35px;
}

.cal2 td.title:hover {
    background-color:White;
}

.cal2 td.header:hover {
    background-color:White;
}

.cal2 { 
	background: #F1F6F8; 
	width:860px;
	height:.5em;
} 
.cal2 td.title { 
	font-size:12px;
	border-bottom:4px groove #DDDDDD;
	border-top:1px solid #DDDDDD;
	border-right-style: none;
	height:25px;
	background: #FFFFFF;
 	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}

.cal2 td.left { 
	border-left:1px solid #DDDDDD;
}

.cal2 td.leftbold {
    border-left:1px solid #DDDDDD;
    font-weight:bold;
}

.cal2 td.bold {
    font-weight:bold;
}

.cal2 td {
	color: #333333;
	border:1px solid #DDDDDD;
	border-left-color: #DDDDDD;
	border-left-style: none;
	border-top-style: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	height: 100px;
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
}

.cal2 td:hover {
    background-color: #FFFFCC;
}

.cal2 a { 
	color: #660000;
	display:block;
}

.cal2 a.eventlink {
    text-decoration:none;
    background-color:white;
    font-size:9px;
    padding:2px;
    margin:3px;
}

.cal2 a.eventlink:hover {
    text-decoration:underline;
    background-color:#E9E9E9;
    padding:2px;
    margin:3px;
} 

* html .cal2 td a {width: 100%;} 


.eventList
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    text-decoration: none;
}

.eventList td.events_header 
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:White;
    background-color:#660000;
    border-bottom: solid 3px #8c4040;
    padding:8px;
    margin: 8px;
}

.eventList td.date_header 
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:bold;
    color:#660000;
    padding:6px;
    margin: 6px;
}

.eventList tr.event
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    height: 30px;
    border-bottom: solid 3px #8c4040;
}

.eventList tr.event:hover
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    height: 30px;
    background-color:#FFFFCC;
    border-bottom: solid 3px #8c4040;
}

.eventList tr.event_alt
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    height: 30px;
    background-color:#F1F6F8;
    border-bottom: solid 3px #8c4040;
}

.eventList tr.event_alt:hover
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    height: 30px;
    background-color:#FFFFCC;
    border-bottom: solid 3px #8c4040;
}

.eventList tr.event td
{
    border-bottom: solid 1px #8c4040;
    padding-left: 6px;
}

.eventList tr.event_alt td
{
    border-bottom: solid 1px #8c4040;
    padding-left: 6px;
}

.eventList tr.event a
{
    color:#660000;
    text-decoration: none;
}

.eventList tr.event a:hover
{
    color:#660000;
    text-decoration: underline;
}

.eventList tr.event_alt a
{
    color:#660000;
    text-decoration: none;
}

.eventList tr.event_alt a:hover
{
    color:#660000;
    text-decoration: underline;
}

.event_detail_header
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:bold;
    color:#660000;
    padding:6px;
    margin: 6px;
}

.event_detail
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight:normal;
    color:#333333;
    padding:8px;
    margin: 8px;
    line-height:1.5em;
}

ul#frontend_view_selector{position:relative;width:96%;float:left;padding:0 10px 0 15px;margin:0;border-bottom:1px solid #999;}
ul#frontend_view_selector li{font-family: Verdana, Arial, Helvitica, sans-serif; font-size:12px; background:#efefef;display:block;float:left;margin:0 0 -1px 4px;border: 1px solid #ccc;border-bottom:1px solid #999; padding:4px;}
ul#frontend_view_selector a{text-decoration:none;color:#660000;}
ul#frontend_view_selector a:hover{text-decoration:underline;color:#660000;}
ul#frontend_view_selector.month li#monthview, ul#frontend_view_selector.day li#todayview{position:relative;background:#fff url(../../images/ulnavbar.gif) no-repeat left top;border: 1px solid #999;border-bottom:1px solid #fff;}

.student_links ul li {
color: #600;
line-height: 20px;
margin-left: -20px;
}

.student_links a {
color: #600;
font-family: sans-serif;
text-decoration: none;
font-weight: bold;
font-size: 12px;
}

.student_links a:hover {
color: #600;
font-family: sans-serif;
font-weight: bold;
text-decoration: underline;
font-size: 12px;
}

.article_header
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: normal;
    color:#660000;
}

.article
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:normal;
    color:#333333;
    padding:8px;
    margin: 8px;
    line-height:1.5em;
}

.course_detail
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight:normal;
    color:#333333;
    line-height:1.5em;
}

.course_detail h1
{
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #660000;
	font-size: 36px;
	line-height: .85em;
	padding: 10px 0px 20px 0px;
	margin: 0px;
}

.course_detail h2
{
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
color:#660000;
font-weight:bold;
}

.course_detail a {
color: #600;
font-family: sans-serif;
text-decoration: none;
font-weight: bold;
font-size: 12px;
}

.course_detail a:hover {
color: #600;
font-family: sans-serif;
font-weight: bold;
text-decoration: underline;
font-size: 12px;
}

.course_detail hr {
height:1px;
background:#CCC;
}

.newscurrent {
font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:80%;
	font-weight:bold;
	margin-top:0;
	padding-top:5px;
	padding-bottom:5px;
}

.newscurrent a{
	color:#660000;
	text-decoration:none;
		margin-top:0;
}

.newscurrent a:hover{
	color:#660000;
	text-decoration:underline;
}

.newscurrent a:active{
	color:#660000;
	text-decoration:none;
}


.newsrecent1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:80%;
	margin-top:0;
	padding-top:5px;
	padding-bottom:5px;	
}

.newsrecent1 a{
	color:#660000;
	text-decoration:none;
}

.newsrecent1 a:hover{
	color:#660000;
	text-decoration:underline;
}

.newsrecent1 a:active{
	color:#660000;
	text-decoration:none;
}

.genericbodytext {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #000000;
}
.logoribbon2 {display:none;}
.thanks h2 {
	font-size: 0.75rem; margin: 0px 15px 0 15px;padding:5px 0 2px 0; border-bottom-color: white; border-bottom-style: solid; border-bottom-width: 1px; text-align: center;
	}
	.thanks p {
	text-align: center; font-size:.8rem; margin:4px 0 0 0;color:#f2f2f2;
	}
	div.thelogo {height:61px;float:left;padding-top:7px;padding-left:0px; border-right:#ebebeb solid 1px;}

.translate {
	float:right;
	width:250px;
	background-color:#FFFFFF;
	border:none;
	text-align:right;
}
.iamwt {
	border-color:1px solid #ffffff;
	a.link:1px solid #ffffff;
	a.hover:1px solid #660000;
	a.active:1px solid #660000;
}
#skip a, #ski
a:hover, #skip a:visited
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
color:#FFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
}

#skip a:active, #skip a:focus
{
position:static;
width:auto;
height:auto;
} 
a.cornernav {
	color:#FFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 14px;
	text-decoration:none;
	position:relative;
	
}
a.cornernav:hover
{
	text-decoration:none;
}

th.tsi {
	background:#660000;
	color:#fff;
}
th.tsi a {
	background:#660000;
	color:#fff;
}

div ul.math {
	list-style-type:none; margin-left:5px; margin-bottom:2px;
}

div ul.math li {clear:left; margin:0; padding:0;
}

div div.grey {
	background:url(/images/greycircle.png) no-repeat; height:50px; vertical-align:middle; float:left; width:75px; display:inline; padding:26px 0; text-align:center; color:#fff;margin-bottom:2px;
}

div div.maroonbar {
	background:url(/images/maroonbar.png) no-repeat;height:50px; float:left; padding:26px 4px 0 12px; color:#FFF; position:relative; right:8px; width:500px; display:inline;margin-bottom:2px;
}

div div.maroonbar2 {
	background:url(/images/maroonbar.png) no-repeat;height:50px; float:left; padding:16px 4px 0 12px; color:#FFF; position:relative; right:8px; width:500px; display:inline;margin-bottom:2px;
}

div div.maroonbar3 {
	background:url(/images/maroonbar.png) no-repeat;height:75px; float:left; padding:10px 4px 0 12px; color:#FFF; position:relative; right:8px; width:500px; display:inline;margin-bottom:2px;
}

div.buttons {width:125px; height:2.5em; background:#ebebeb; padding:.75em 0 0 0; border-radius:30px; border-style:outset; text-align:center; float:left; margin-right:10px;}
div.buttons a {color:#660000; text-decoration:none; font-size:1.25em;}
div.buttons:hover { border-style:inset;}

div.buttons1 { height:28px; background:url(../../images/bttn-bg.gif); background-repeat:repeat-x;  border:#707070 1px solid; border-radius:4px; text-align:center; margin:10px;color:#f2f2f2;text-decoration:none; font-size:17px; font-weight:305; float:right;padding:0px 7px;}
div.buttons1:hover {  background:url(../../images/bttn-bg-hover.gif);}

div.bigbuttons {height:2em;background:url(/images/blubg.png); padding:.75em 1em 0 1em; border-color:#660000; border-radius:40px; border-style:outset; text-align:center; float:left; margin-right:10px;color:#660000; text-decoration:none; font-size:1.25em;}
div.bigbuttons:hover { border-style:inset;}
div.bigbuttons background {opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */}
a#phillips {
	display: inline-block;
	width: 61px;
	height: 44px;
	text-decoration: none;
	background: url("/webres/Image/Career%20Services/logos/Phillips-66.png") no-repeat 0 0;
	
	text-decoration:none;
	}
	
a#phillips:hover {
	background-position: 0 -44px;
}
a#nalco {
	display: inline-block;
	width: 180px;
	height: 43px;
	text-decoration: none;
	background: url("/webres/Image/Career%20Services/logos/NALCOChampion.png") no-repeat 0 0;
	text-decoration:none;
	}
	
a#nalco:hover {
	background-position: 0 -43px;
}
a#fidelity {
	display: inline-block;
	width: 180px;
	height: 46px;
	text-decoration: none;
	background: url("/webres/Image/Career%20Services/logos/FIDELITY-LOGO.png") no-repeat 0 0;
	text-decoration:none;
}
a#fidelity:hover {
	background-position: 0 -46px;
}
a#fbsw {
	display: inline-block;
	width: 156px;
	height: 61px;
	text-decoration: none;
	background: url("/webres/Image/Career%20Services/logos/fbsw.png") no-repeat 0 0;
	text-decoration:none;
}
a#fbsw:hover {
	background-position: 0 -61px;
}
#freshman {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/Freshman.gif") no-repeat 0 0;
	}
	
#freshman:hover {
	background-position: 0 -90px;
}
#freshman h2 {
	  position: absolute;
  top: -999em;
}
#graduate {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/graduate.gif") no-repeat 0 0;
	}
	
#graduate:hover {
	background-position: 0 -90px;
}
#graduate h2 {
	  position: absolute;
  top: -999em;
}
#studyabroadinterest {
	display: block;
	width: 150px;
	height: 70px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/Interested-in-Study-Abroad-button.png") no-repeat 0 0;
	}
#studyabroadinterest:hover {
	background-position: 0 -70px;
}
#studyabroadinterest h2 {
	  position: absolute;
  top: -999em;
}

#studyabroadapply {
	display: block;
	width: 150px;
	height: 70px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/applying-to-a-study-abroad-program-button.png") no-repeat 0 0;
	}
#studyabroadapply:hover {
	background-position: 0 -70px;
}
#studyabroadapply h2 {
	  position: absolute;
  top: -999em;
}

#studyabroadreturnee {
	display: block;
	width: 150px;
	height: 70px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/Study-Abroad-returnee-button.png") no-repeat 0 0;
	}
#studyabroadreturnee:hover {
	background-position: 0 -70px;
}
#studyabroadreturnee h2 {
	  position: absolute;
  top: -999em;
}

#studyabroadexchange {
	display: block;
	width: 175px;
	height: 75px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/study-abroad-Exchange-Program-button.png") no-repeat 0 0;
	}
#studyabroadexchange:hover {
	background-position: 0 -75px;
}
#studyabroadexchange h2 {
	  position: absolute;
  top: -999em;
}
#studyabroadfacultyled {
	display: block;
	width: 175px;
	height: 75px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/Faculty-Led-Program-button.png") no-repeat 0 0;
	}
#studyabroadfacultyled:hover {
	background-position: 0 -75px;
}
#studyabroadfacultyled h2 {
	  position: absolute;
  top: -999em;
}
#studyabroadthirdparty {
	display: block;
	width: 175px;
	height: 75px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/Third-Party-Providers-button.png") no-repeat 0 0;
	}
#studyabroadthirdparty:hover {
	background-position: 0 -75px;
}
#studyabroadthirdparty h2 {
	  position: absolute;
  top: -999em;
}
#studyabroadinternship {
	display: block;
	width: 175px;
	height: 75px;
	text-decoration: none;
	background: url("/webres/Image/Study Abroad/New photos/internship-abroad-button.png") no-repeat 0 0;
	}
#studyabroadinternship:hover {
	background-position: 0 -75px;
}
#studyabroadinternship h2 {
	  position: absolute;
  top: -999em;
}
#transfer {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/transfer.gif") no-repeat 0 0;
	}
	
#transfer:hover {
	background-position: 0 -90px;
}
#transfer h2 {
	  position: absolute;
  top: -999em;
}
	#international {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/international.gif") no-repeat 0 0;
	}
	
#international:hover {
	background-position: 0 -90px;
}
#international h2 {
	  position: absolute;
  top: -999em;
}
#returning {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/returning.gif") no-repeat 0 0;
	}
	
#returning:hover {
	background-position: 0 -90px;
}
#returning h2 {
	  position: absolute;
  top: -999em;
}
#online {
	display: block;
	width: 257px;
	height: 90px;
	text-decoration: none;
	background: url("/webres/Image/Admissions/applybttns/online.gif") no-repeat 0 0;
	}
	
#online:hover {
	background-position: 0 -90px;
}
#online h2 {
	  position: absolute;
  top: -999em;
}

p {
font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #000000;
}
li {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #000000;

}

iframe {
	scrollbar-base-color:#ebebeb;
}
div.efbutton { padding:.5em; border-color:black; border-radius:15px; border-style:outset; text-align:center; margin:4px;color:black; text-decoration:none; font-size:1.25em;}
div.efbutton:hover {padding:.5em; border-color:black; border-radius:15px; border-style:inset; text-align:center; margin:4px;color:black; text-decoration:none; font-size:1.25em;}
div.efbutton background {opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */}

ul.gradnav {margin:0; padding:25px 0px; text-align:center;}

ul.gradnav li {display:inline; list-style-type:none; text-align:center; padding:15px; margin:10px; background:#ebebeb; }
ul.gradnav li:hover {display:inline; list-style-type:none; text-align:center;  background:#ggg; }

#headerblock {
	width:900px;
	display:block;
	height:135px;
	margin:0 auto;
}


.templatecontainer {
    margin: 0px auto;
    width: 900px;
}
.templatecontainer .main_container {
    width: 900px;
    padding:0;
    background: #666;
    display:table;
}
.templatecontainer .main_container .wysiwygcontent {
    float: left;
    width: 740px;
    background:white;
    padding: 0;
    margin: 0;
    display: table-cell;
}
.templatecontainer .main_container .templatenav {
    float: left;
    width: 160px;
    background: #666;
    padding: 0;
    margin: 0;
   display:table-cell;
}
div#colcontainer {
    width: 900px;
    height: 100%;
    
    height: auto !important;
    margin: 0 auto;
    /* For Sticky Footer */
	background:url(/images/content_main_back.gif);
	
}
div.wysiwyg {
    width: 740px;
    background-color: white;
    display:block;
*float:left;

}
div.wonav {
    width: 900px;
    background-color: white;
    display:block;
*float:left;

}
div.thenav {
    width: 160px;
    background-color: #666;
    display: table-cell;

*float:left;

}
/*
.templatecontainer {
    margin: 0px auto;
    width: 900px;
}
.templatecontainer .main_container {
    width: 900px;
    padding:0;
    background: #666;
    overflow: hidden;
	  clear: both;
    float:left;
}
.templatecontainer .main_container .wysiwygcontent {
    float: left;
    width: 740px;
    background:white;
    padding: 0;
    margin: 0;
    margin-bottom: -100000px;
    padding-bottom: 100000px;
}
.templatecontainer .main_container .templatenav {
    float: left;
    width: 160px;
    background: #666;
    padding: 0;
    margin: 0;
    margin-bottom: -100000px;
    padding-bottom: 100000px;
}
*/

.clear {
	clear: both;
}

#grouptour {
    display: block;
    width: 288px;
    height: 99px;
    text-decoration: none;
    background: url("/webres/Image/University%20Outreach/buttons/Group-Tours.png") no-repeat 0 0;
}
#grouptour:hover {
    background-position: 0 -98px;
}
#grouptour h2 {
    position: absolute;
    top: -999em;
}

#mobilego {
	display: block;
	width: 288px;
	height: 99px;
	text-decoration: none;
	background: url("/webres/Image/University%20Outreach/buttons/Mobile-Go-Center-Requestalt.png") no-repeat 0 0;
    
	}
	
#mobilego:hover {
	background-position: 0 -99px;
}
#mobilego h2 {
	  position: absolute;
  top: -999em;
}

#promotionalclassroommaterial {
    display: block;
    width: 288px;
    height: 99px;
    text-decoration: none;
    background: url("/webres/Image/University%20Outreach/buttons/Promotional-Classroom-Material.png") no-repeat 0 0;
}
#promotionalclassroommaterial:hover {
    background-position: 0 -98px;
}
#promotionalclassroommaterial h2 {
    position: absolute;
    top: -999em;
}

div#basepagecontainer {
	width:900px;
	display:block;
	margin:0 auto;
}

div.basepagecontainer {
	width:900px;
	display:block;
	margin:0 auto;
}

div.commentcontainer {
	width:860px;
	display:block;
	margin:0 auto;
}
#copyright {clear:both; line-height:3em; text-align:center; margin:0 auto;}
.utlcontent {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 150%;
	font-size: 12px;
	color: #000000;
}
#topbar {/**background:url(../../images/Topbar.png);**/ background:#660000; background-repeat:repeat-x; height:135px;min-width:900px; width:100%;}
.container {width:900px;margin:0 auto;}
#h1hidden {position:absolute; left:-99999px;}
#logo {padding:6px 0; float:left;}

div#twocolcontainer {
  width: 900px;
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  /* For Sticky Footer thenav
  */
  display:table;
  background: url(http://wtamu.edu/images/content_main_back.gif);
}

.skiptranslate div span a span:last-child{
	color: #555 !important;
}

div.themainnav {
width: 160px;
background-color: #666666;
display: table-cell;
float: right;
text-align: left;
height: 100%;
}


h1{
	color: #660000;
	font-weight: 100;
	font-size: 3em;
	line-height: normal;
	padding-bottom: 15px;
}

a > h1,
a > h2,
a > h3{
	text-decoration: none;
}

.tag{
	color: #660000;
    font-size: 1.5em;
    font-weight: 900;
    line-height: normal;
}

.bold, strong{
	font-weight: 900;
}
.caps {
	text-transform: uppercase;
	font-size: 1.2em;
}

#audiencecontent a,
#wysiwygcontent a{
	color: #660000;
}

#audiencecontent .threecolone img,
#audiencecontent .threecoltwo img,
#audiencecontent .threecolthree img{
	margin-left: -1px;
    width: 100%;
    padding-bottom: 20px;
}

#wysiwygcontent .secondhead a{
	color: #fff;
}

#wysiwygcontent h3{
	color: #660000;
}

h2.maroon, h2.grey{
	font-family: helvetica;
	clear: both;
	padding: 5px 0px 3px 5px;
	line-height: normal;
	font-weight: 500;
}

button, .button {
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  max-width: 300px;
  padding: 7px 15px 7px 15px !important;
  width: 100% !important;
  text-decoration: none;
  line-height: normal;
  height: auto !important;
  display: table-cell;
}

.grey, 
.gray, 
#wysiwygcontent a.grey.button,
#wysiwygcontent a.gray.button,
#wysiwygcontent .grey a,
#wysiwygcontent .gray a,
.button.grey {
  background-color: #555;
  color: #fff;
  text-decoration: none;
}

.maroon, a.maroon.button {
  background-color: #660000;
  color: #fff;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  color: black;
}

button .small, .button.small {  
  font-size: 15px;  
}

#homeb {
	background-color: #555;	
}

.center{
	text-align: center;
	padding-left: 0;
}

.noline{
	text-decoration: none;
}

.grid4,
.grid3,
.grid2{
	float:left;
	padding-bottom: 20px;
	width: 100%;
}

.grid4 img,
.grid3 img,
.grid2 img{
	width: 100%;
	padding-bottom: 15px;
}

.grid2 > div{
	display: block;
    float: left;
    padding-left: 5%;
    width: 47.5%;
    white-space: nowrap;
}

.grid3 > div{
	display: block;
    float: left;
    padding-left: 10px;
    width: 32.37%;
}
.grid4 > div{
	display: block;
    float: left;
    padding-left: 10px;
    width: 23.9%;
}

.grid2 > div:first-child,
.grid3 > div:first-child,
.grid4 > div:first-child{
	padding-left: 0;
}

}




