/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000003b9b3068
 *   - http://typekit.com/eulas/00000000000000003b9b305e
 *   - http://typekit.com/eulas/00000000000000003b9b3066
 *   - http://typekit.com/eulas/00000000000000003b9b3062
 *   - http://typekit.com/eulas/00000000000000003b9b3060
 *   - http://typekit.com/eulas/00000000000000003b9b3064
 * proxima-nova-extra-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9b3089
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-02-14 20:44:01 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=zfe0jvv&ht=tk&f=139.171.173.175.5474.25136.156&a=14581178&app=typekit&e=css");

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/c47696/00000000000000003b9b305e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"proxima-nova";
src:url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/6e816b/00000000000000003b9b3064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"proxima-nova-extra-condensed";
src:url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4a329e/00000000000000003b9b3089/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
.tk-proxima-nova-extra-condensed { font-family: "proxima-nova-extra-condensed",sans-serif; }

.campus-calendar-grid {
	display: grid;
	grid-template-columns: 1fr;
	max-width: 95%;
	margin: 0 auto;
}

.main-calendar {
  grid-column: 1;
}

.spud-bank {
	grid-column: 2;
}

.calendar-spud {
	margin: .5em auto;
	max-width: 95%;
}

.calendar-spud iframe {
	position:relative;
	max-height: none;
	z-index: 10;
}

.promotional-spud {
	display: block;
	position: relative;
	float: right;
	width: 275px;
	padding: .5em;
	margin: .5em 1em;
}

.main a.calendar-btn {
	display: block;
    position: relative;
    background: var(--dark-gray);
    color: var(--gold);
    font-family: var(--san-serif);
    font-weight: 500;
    margin: .5em 0 1em 0;
    padding: .25em;
    text-align: center;
    max-width: 155px;
    font-size: .875em;
}

.main a.calendar-btn:hover, 
.main a.calendar-btn:focus {
	background: var(--gold);
	color: var(--black);
	text-decoration: none;
}


*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: .03125em
}

html {
  --black: hsla(0, 0%, 0%, 1); /* #000000 */
  --black-transp: hsla(0, 0%, 0%, 0.8); 
  --black-transp-light: hsla(0, 0%, 0%, 0.4);
  --white: hsla(0, 100%, 100%, 1); /* 	#ffffff*/
  --white-transp: hsla(0, 100%, 100%, 0.9);
  --white-transp-light: hsla(0, 100%, 100%, 0.5); 
  --gray: hsla(0, 0%, 50%, 1); /* 	#808080 */
  --gray-transp: hsla(0, 0%, 50%, 0.9); 
  --light-gray: hsla(48, 0%, 75%, 1); /* #bfbfbf */
  --light-gray-transp: hsla(48, 0%, 85%, 0.7);  /* 	#d9d9d9*/
  --almost-gray: hsla(48, 0%, 90%, 0.7); /* 	#e6e6e6 */
  --almost-white: hsla(48, 0%, 95%, 0.7); /* #f2f2f2 */
  --dark-gray: hsla(48, 0%, 25%, 1); /* #404040 */
  --dark-gray-transp: hsla(48, 0%, 25%, 0.9); 
  --gold: hsla(46, 89%, 55%, 1); /* #f2c326*/
  --gold-transp: hsla(46, 89%, 55%, 0.7); 
  --tan: hsla(44, 73%, 75%, 1); /* 	#eed591 */
  --tan-transp: hsla(44, 73%, 75%, 0.9); 
  --light-tan: hsla(44, 73%, 75%, 0.2); /* 	#eed591 */
  --light-gold: hsla(48, 100%, 75%, 1); /* #ffe680 */
  --light-gold-transp: hsla(48, 100%, 75%, 0.9); 
  --light-gold-transp50: hsla(48, 100%, 75%, 0.5); 
  --dark-gold: hsla(48, 100%, 25%, 1); /* 	#806600 */
  --red: hsla(355, 76%, 40%, 1); /* #b41825 */
  --green: hsla(140, 100%, 40%, 1); /* 	#00cc44 */
  --white-border: 1px solid hsla(0, 100%, 100%, 1);
  --black-border: 1px solid hsla(0, 0%, 0%, 1);
  --serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  --san-serif: proxima-nova, helvetica, arial, sans-serif;
  --link-blue: #1E7EA4;
  margin: 0;
}

p:empty, 
h2:empty, 
h3:empty, 
h4:empty, 
h5:empty, 
h6:empty, 
.main p:empty {
	display: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
}

img, 
figure {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

figcaption {
  font-family: var(--san-serif);
  padding: .25em 0;
  font-size: .75em;
  line-height: 1.25em;
  font-style: italic; 
}

nav {
  cursor: pointer;
}

p,
li, 
td {
  font-size: 1em;
  font-weight: 300;
  font-family: var(--san-serif);
  color: var(--black);
  max-width: 800px;
  line-height: 1.5em;
}

p {
  padding: 1.25em 0;
}

ul, ol {
  padding: 1em;
}

li {
  padding-bottom: .75em;
}

p a:link,
p strong,
p em {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  display: inline;
  font-size: 2em;
  font-family: var(--san-serif);
  font-weight: 400;
  color: var(--black);
  padding: 0.25em 0;
  max-width: 900px;
  margin: 0 auto;
  letter-spacing: .03125em;
}

h2 {
  font-size: 1.375em;
  font-family: var(--serif);
  font-weight: 500;
  padding: 1em 0;
  color: var(--black);
  letter-spacing: .03125em;
}

h2 a:link {
  color: var(--link-blue);
  font-size: inherit;
  font-weight: inherit;
}

h2 a:visited {
	color: blueviolet;
}

h2 strong,
h2 em {
	font-size: inherit;
	font-family: inherit;
}

h3 {
  font-size: 1em;
  font-family: var(--san-serif);
  font-weight: 500;
  padding: 1em 0;
  color: var(--black);
  letter-spacing: .03125em;
}

 h4 {
  font-size: 1.25em;
  font-family: var(--san-serif);
  font-weight: 400;
  padding: 1em 0 2em 0;
}

h5 {
  font-size: 1.025em;
  font-family: var(--san-serif);
  font-weight: 500;
  padding: 1em 0;
  color: var(--dark-gray);
} 

strong {
  font-weight: 600;
}

table {
  max-width: 800px;
  margin: .5em auto 1em auto;
  padding-bottom: 1em;
  font-size: .875em;
  border-collapse: collapse;
  font-family: var(--san-serif);
  border: 1px solid var(--light-gray);
  overflow: scroll;
}

td {
  padding: .5em;
  margin: 0;
  font-size: 1em;
  border: 1px solid var(--light-gray);
}

tr {
  vertical-align: top;
}

th {
  padding: .5em;
  margin: 0;
  font-size: 1em;
  background: var(--light-gray-transp);
  text-align: left;
  font-weight: 500;
  border: 1px solid var(--light-gray);
}

td p {
  padding: 0;
  margin: 0;
}

td p:last-child {
  padding-top: .75em;
}

tr.odd {
	background: var(--light-tan);
}

/* ----- END DEFAULT STYLES ----- */

/* ----- START HEADER/MAIN NAVIGATION STYLES ----- */

#emergency {
  background: var(--red);
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  color: var(--white);
}

#emergency h1, #emergency p {
  color: var(--white); 
  font-family: var(--san-serif);
  padding: 0;
  margin: 0;
}

#emergency a {
  text-decoration: none;
  color: var(--white);
}

#emergency a:hover {
  text-decoration: underline;
}

#header {
  position: relative;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: #000000;
  background: var(--black)
    url(/_resources/images/tartanslant.gif)
    no-repeat;
  background-position: 0 50%;
  background-size: auto 95%;
  max-height: 5em;
}

#logo {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  padding: 1.5em 1em;
  height: auto;
}

#page {
  transition: margin-right 0.5s;
}


/* ------ END HEADER/MAIN NAVIGATION STYLES START ------*/

/* ----- START MAIN PAGE STYLES  */

.grid {
  display: grid;
  display: -ms-grid;
}

.full-page {
  z-index: -1;
  background-attachment: fixed;
  background-position: center -175px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--black);
} 

.main {
  position: relative;
  background: var(--white);
  padding: 1em 0 3em 0;
  margin: 22em 0 0 0;
  z-index: 1;
		height: calc(100% - 22em);
}

.bio {
  margin: 12em 0 0 0;
	height: calc(100% - 12em);
		
}

.right-column {
  display: block;
  float: right;
  width: 225px;
  margin: -3em .75em 2em 2em;
  background: var(--white);
}

.page-title {
  display: block;
  position: relative;
  top: -4.6875em;
  margin: 0 auto;
  max-width: 1024px;
}

.bio .page-title h1{
  display: block;
  position: relative;
  top: .875em;
  margin: 0 auto;
  max-width: 900px;
}

.page-title h1 {
  display: inline;
  position: relative;
  padding: 0.5em 1em 0.5em 1em;
  background: var(--gold);
  letter-spacing: 0.03125em;
  line-height: 1.5em;
}

.main p, .main ul li, .main ol li {
  font-family: var(--san-serif);
  font-weight: 300;
  letter-spacing: 0.03125em;
}

.main p,
.main ul,
.main h3,
.main h4, 
.main h5, 
.main h6,
.main ol, 
.main .divWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.main a {
	font-weight: 400;
	text-decoration: none;
	color: var(--link-blue);
}

.main a:hover {
	text-decoration: underline;
}
/* iframe responsive work-around. All iframes require a wrapper to create responsive block. */

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	border: 0;
	max-height: 437px;
}

.main .iframe, 
.main .virtualTour {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}

.main .iframe {
	padding-top: 56.25%;
}

.main .virtualTour {
	padding-top: 0;
}

.main .iframeWrapper, 
.main .virtualTourWrapper {
	max-width: 800px;
	margin: 0 auto;
}

.main .iframeWrapper iframe {
	height: 100%;
}

/* end iframe responsive work-arounds. Youvisit has additional styles that negate need for wide-screen padding-top setting */

.wide p {
 max-width: 1024px;
}

.opening {
	display: block;
	position: relative;
	max-width: 1024px;
	margin: -1.5em auto 0 auto;
	padding: 0 .25em .5em .5em;
	z-index: -1;
}

.opening p {
  font-size: 1.75em;
  padding: 0;
  max-width: inherit;
  letter-spacing: normal;
  font-weight: 200;
  line-height: 1.5em;
  word-spacing: 0.07em;
}

.main h2 {
  max-width: 900px;
  margin: 0 auto;
}

.main h3, .main h4, .main h5 {
  font-size: 1em;
  font-family: var(--san-serif);
  font-weight: 500;
  padding: 1em 0;
  color: var(--black);
  letter-spacing: .03125em;
}

.main h4 {
	color: var(--red);
}

.main h5 {
	color: var(--gold);
		text-transform: uppercase;
}

.main h6 {
	font-family: var(--serif);
}

.main ul,
.main ol {
  padding-left: 2em;
}

.main ul ul {
	padding-top: 0;
	padding-bottom: 0;
}

.main ul ul ul {
	padding-top: 1em;
}


.main p a:link {
	color: var(--link-blue);
	font-weight: 400;
	text-decoration: none;
}

.main p a:hover {
	text-decoration: underline;
}

.main p a:visited {
	color: blueviolet;
}

.attention {
	display: flow-root;
	padding: 1em;
	margin: 1em auto;
	max-width: 600px;
	border: 2px solid var(--red);
	border-radius: 2em;
}

.attention h2 {
	text-transform: uppercase;
	font-family: var(--san-serif);
	font-size: 1em;
	padding: .25em 0;
	font-weight: 600;
	border-bottom: 2px solid var(--gold);
	margin-bottom: .875em;
}

.attention p {
	font-family: var(--san-serif);
	line-height: 1.25em;
	padding: 1em 0;
}

/* CONTACT INFO STYLES */


.contact-info {
  display: block;
  position: relative;
  padding: .5em;
  border: 1px solid var(--gold-transp);
  margin-top: .5em;
  width: 225px;
}

.contact-info p {
  font-size: .875em;
  padding: 0;
}

.sub-nav .contact-info a {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.contact-info h2 {
  font-size: .875em;
  font-weight: 600;
  font-family: var(--san-serif);
  margin: 0;
  padding: 0;
}


/* END CONTACT INFO STYLES */


/* START LIBRARIES STYLES */


.rightBox {
	padding: 1em .25em;
}

.rightBox h2 {
	font-family: var(--san-serif);
	font-size: .875em;
	font-weight: 600;
	padding: 0;
}

.rightBox p {
	font-size: .875em;
	padding:0;
	line-height: 1.5em;
}

/* END RIGHT BOX STYLES (libraries) */


/* START IMAGE STYLES */


.small {
  max-width: 250px;
}

.medium {
  max-width: 500px;
}

.large {
  max-width: 1024px;
}

.left {
  float: left;
  padding: 1em;
}

.right {
  float: right;
  padding: 1em;
}

.center {
  margin: 0 auto;
	text-align:center;
}

.indent-right {
  float: right;
  display: block;
  position:relative;
  margin-right: calc((100% - 800px) / 2);
  padding: 1em 0 1em 1em;
}

.indent-left {
  float: left;
  display: block;
  position:relative;
  margin-left: calc((100% - 800px) / 2);
  padding: 1em 1em 1em 0;
}

/* END IMAGE STYLES */

/* START STAFF/DEPARTMENT LIST STYLES */

.department {
	display: block;
	position:relative;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	max-width: 1024px;
}

.departmentListing {
	display:block;
	padding: .25em;
	margin: 1.25em .5em;
	max-height: 270px;
	overflow: hidden;
}

.departmentListing h2 a {
	text-decoration: none;
	padding: 0;
}

.departmentListing h2 a:hover {
	text-decoration: underline;
}

.departmentListing p, 
.departmentListing h2, 
.departmentListing h3 {
	padding: 0 0 1em 0;
	margin: 0;
}


/* END STAFF LIST STYLES */

/* START TILE GRID FEATURE STYLES */

.full-width {
  display: block;
  grid-column: 1 / 3;
  background: var(--tan);
  border-top: 2px solid var(--red);
  margin: 2em auto;
  width: 100%;
}

.tile-grid {
  display: grid; 
  position: relative;
  margin: 2em auto;
  grid-gap: 2em;
  gap: 2em;
}

.tile-grid-title {
  font-family: var(--san-serif);
  font-size: 1.625em;
  letter-spacing: 0.03125em;
  margin: 2em auto 1em auto;
  padding: .5em 1em;
  max-width: 1280px;
  text-align: center;
  background: var(--gold);
}

.two {
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  max-width: 800px;
}

.three {
  grid-template-columns: repeat(3, minmax(225px, 1fr));
  max-width: 1280px;
}

.four {
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  max-width: 1280px;
}

.tile {
  text-align: center;
  margin: 0 auto;
  font-family: var(--serif);
  font-size: 1em;
  padding: 1em;
}

.tile a {
  text-decoration: none;
}

.tile:hover, .card:hover {
  box-shadow: 0 2px 3px 0 hsla(48, 0%, 55%, 0.7);
}

.tile h2 {
  padding: .5em 0;
}

.tile p {
  text-align: left;
}

.tile p a {
  text-decoration: underline;
}

.tile-content img {
  padding: 1em 0;
}

/* START CARD DECK STYLES (Career Planning) */


.deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  padding: 1em;
  border: 1px solid gold;
  margin: 1.5em;
  text-align: center;
}

.card h2 {
  padding: .5em 0;
}

.card p {
	padding: .25em 0;
}

.card a {
  text-decoration: none;
}

/* END CARD DESK STYLES */


/* END TILE GRID STYLES */



/* NEWS FEED STYLES */

.news {
  padding: 0 0 5em 0;
  margin: 0;
}

.news-head {
  display: block;
  text-align: center;
  font-family: var(--san-serif);
  font-size: 2em;
  font-weight: 300;
  padding: 2em 0 0 0;
  margin: 0 auto 1em auto;
  border-bottom: 2px solid var(--gold);
  max-width: 500px;
}

.news-grid, .newsBlocks {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin: 0 auto;
  padding: 2em 0;
	clear: both;
}

.newsBlock, .news-item, .news1, .news2, .news3 {
  display: block;
  max-width: 350px;
  padding: .25em 1em;
  margin: .5em auto;	
  background: var(--white);
}

.newsBlock:hover, 
.news-item:hover, 
.news1:hover, 
.news2:hover, 
.news3:hover {
	box-shadow: 0 2px 3px 0 hsla(48, 0%, 55%, 0.7);
}

.news-item:first-child, .news1 {
  grid-column: 1;
}
.news-item:nth-child(2), .news2 {
  grid-column: 2;
}
.news-item:nth-child(3), .news3 {
  grid-column: 3;
}

.news-image, .newsImage {
  width: 100%;
  height: 18em;
  object-fit: cover;
}

.news-grid a, .newsBlocks a {
  text-decoration: none;
}

.news-grid h2, .newsBlocks h2 {
  font-family: var(--san-serif);
  font-weight: 300;
  font-size: 1.25em;
  padding: 0.5em 0;
  line-height: 1.25em;
}


/* END NEWS FEED STYLES */

/* START EXPANDER STYLES */

.expander {
  max-width: 800px;
  margin: 1em auto;
}

.expander button {
  display: block;
  width: 100%;
  padding: 1em .5em .5em .5em;
  margin: .5em 0;
  border-bottom: 2px solid var(--gold);
  text-align: left;
  font-family: var(--san-serif);
  font-size: 1em;
  font-weight: 500;
}

.expander button:hover, 
.expander button:active {
  background: var(--light-gray-transp);
}

.expander .panel {
  padding: 1em;
  margin: 0 auto;
  background: var(--almost-white);
}

.expander .panel p {
  font-weight: 400;
}

.expander .panel h2 {
	margin: 0;
}


/* END EXPANDER STYLES */


/* START PAGE FEATURE STYLES */


.page-feature {
  display: block;
}

.page-feature-img {
  display: block;
  position: relative;
  margin: 0 auto 1em auto;
  text-align: center;
  top: -2em;
}
.page-feature-content {
  display: block;
  position: relative;
  top: -2em;
}

.page-feature-content h2 {
  padding: .5em 0;
  text-align: center;
}
.page-feature-content a {
  text-decoration: none;
}

.page-feature-content p a {
  text-decoration: underline;
}


/* END PAGE FEATURE STYLES */


/* ARROW FEATURE STYLES */


.arrow-feature {
  display: block;
  margin: 1em auto;
  background: var(--light-gold-transp50);
  padding: .5em 0 0 0;
}

.arrow-feature-content {
  max-width: 900px;
  margin: 0 auto;
  padding: .5em 0;
}

.arrow-feature-content p {
  font-weight: 400;
}

.arrow-icon {
  position: relative;
  vertical-align: middle;
  display: block;
  float: left;
  background-image: url(/_resources/images/tartan-arrow.gif);
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin: 1em .5em 0 0;
}


/* END ARROW FEATURE STYLES */


/* START STAT GRID STYLES*/


.landscape-tan {
	background: var(--tan);
	padding: 1em 0;
	margin: 1.5em 0;
	border-top: 2px solid var(--red);
}

.landscape-page-gold {
	border-top: 2px solid var(--red);
	background: var(--gold);
	margin: 1em 0;
}

.landscape-page-gold .tile-content h2 {
	font-family: var(--serif);
    font-weight: 400;
    padding: .125em 0;
    margin: 0 auto;
    color: var(--black);
    font-size: 2em;
    line-height: 1em;
	max-width: 1024px;
}

.landscape-page-gold .tile-content p {
	text-align: center;
	margin: 0 auto;
	max-width: 1024px;
	padding: .125em 0;
	font-size: 1.25em;
	font-family: var(--san-serif);
}

.stat-grid {
  display: flex;
  position: relative;
  padding: 0 1em;
  max-width: 1280px;
  margin: 0 auto;
}

.stat-grid .tile {
  padding: 1em 1em 0 1em;
}

.stat-grid .tile:hover {
	box-shadow:none;
}

.stat-grid .tile-content p {
  color: var(--black);
  line-height: 1.5em;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 auto;
  padding: 0 1em .5em 1em;
  text-align: center;
  max-width: 300px;
}

.stat-grid .stat {
  font-family: var(--serif);
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--black);
  font-size: 2em;
  line-height: 1em;
}

/* END STAT GRID STYLES */


/* START COLUMN STYLES */


.columns {
  position: relative;
  columns: auto 4;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.columns ul {
	padding: 0 0 1rem 0; 
}

.columns li, .columns-item {
  list-style: none;
  margin: 0 0 0 1.5rem;
  padding: 0 0 .5rem 0;
}

.columns-item {
  display: block;
  margin: 1em 0;
}

.columns-item p {
  padding: 0;
  text-align: left;
  margin: 0;
}

.columnBlock h3 {
  margin: 1.5em 0 .5em 0;
  border-bottom: 2px solid var(--light-gold);
  padding: 0;
}

.columnBlock{
	display: inline-block;
	min-width: 200px;
	padding: 0 .5em;
}

.columnBlock p {
	padding: .5em 0;
}

table.columns {
  max-width: 1024px;
  table-layout: auto;
  margin-bottom: 3em;
  overflow: scroll;
}

/* END COLUMN STYLES */


/* START WHAT OTHERS SAY PAGE STYLES */


.others {
    display: grid;
	max-width: 900px;
	padding: 1em .5em;
	margin: 0 auto;
}

.othersimage {
    grid-column: 1;
	width: 15.625em;
    text-align: center;
	padding: .5em;
	margin: auto;
}

.otherstext {
	grid-column:2;
    /* padding-bottom: 3em;*/
}

.pullquote {
	max-width: 300px;
	font-size: 1.5em;
	font-family: var(--serif);
	padding: 1em .25em 1em 1em;
	float:right;
	margin: .5em;
}

.pullquote a {
	font-size: inherit;
	font-family: inherit;
	padding: 0; margin: 0;
	
}


/* END WHAT OTHERS SAY PAGE STYLES */


/* ----- END MAIN PAGE STYLES ----- */



/* ----- START FOOTER STYLES ----- */

#footer {
  position: relative;
  margin: 0;
  padding: 1em 0;
  background-color: black;
  color: var(--light-gray);
}

.foot-logo {
  text-align: center;
  padding: 0;
  max-width: 270px;
  margin: 0 auto;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  z-index: -1;
  padding: 2em 0 0.5em 0;
  margin: 0 auto;
}

.foot-area {
  padding: 0;
  margin: 0 auto;
}

.foot-list-header{
  letter-spacing: 0.03125em;
  font-weight: 500;
  margin-bottom: 0.5em;
  padding: 0 0 0.25em 0;
  color: var(--gold);
  font-family: var(--san-serif);
}

.foot-list-header a {
	color: var(--gold);
	text-decoration: none;
}

.foot-list-header a:hover {
  text-decoration: underline;
}

ul.foot-list {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.foot-list li a {
  color: var(--light-gray);
  display: block;
  text-decoration: none;
  font-size: 0.875em;
  letter-spacing: 0.03125em;
  line-height: 1.5em;
  padding: 0;
  font-weight: 500;
  font-family: var(--san-serif);
}

.foot-list li a:hover,
.foot-required li a:hover {
  color: var(--gold);
  text-decoration: underline;
}

.foot-required {
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 900px;
  border-top: 1px solid var(--gold);
}

.socialmedia {
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 900px;
}

.foot-required li, .socialmedia li {
  display: inline-block;
  list-style-type: none;
  padding: 0.5em 1.5em;
}

.foot-required li a {
  color: var(--light-gray);
  font-family: var(--san-serif);
  font-size: 0.875em;
  letter-spacing: 0.03125em;
  font-weight: 500;
  padding: 0.25em;
  text-decoration: none;
}

.copyright {
  text-align: center;
  font-size: 0.875em;
  font-family: var(--san-serif);
  letter-spacing: 0.03125em;
  font-weight: 500;
  color: var(--light-gray);
  padding: 1em 0 1em 0;
  margin: 0 auto;
}

.copyright a {
  font: inherit;
  color: var(--light-gray);
}

.copyright a:hover {
  color: var(--gold);
}

/* ----- END FOOTER STYLES -----*/


#searchBox2{
	height: 48px;
	background-color: var(--dark-gray);
	background: url(/_resources/images/menuSearch.png) no-repeat 15em 1em;
	background-size: 1.25em 1.25em;
	color: var(--white);
	border: 0;
	padding: 0 0 0 .5em;
	font-weight: 300;
	letter-spacing: .03125em;
	font-size: .94em;
}

.copyright #directedit{
	font: inherit;
}

#directedit a{
  font: inherit;
  text-decoration: none;
}

#directedit a:hover {
  color: var(--light-gray);
  text-decoration: none;
}

.editorPreview{
	background-color: whitesmoke;
	border: 2px dashed grey;
}

/* ----- MEDIA QUERIES ----- */




@media screen and (min-width: 1025px ) {
	
	
  .full-page {
   /*  background-position: center -350px; */
  }
	
}

@media screen and (max-width: 1024px) {
  
  .tile-grid {
  max-width: 95%;
  }
  
  .columns {
    max-width: 95%;
    columns: auto 3;
  }
  
  table.columns {
    max-width: 95%;
	overflow: scroll;
  }	
	
}

@media screen and (max-width: 925px) {

  .full-page {
	background-position: top;
  }
	
  .main p.opening,
  .main p,
  .main h2,
  .main h3,
  .page-title,
  .main .divWrapper {
    max-width: 95%;
  }
  
  .indent-right, .indent-left {
    margin: 0;
    padding: 1em;
  }

  .medium {
    max-height: 100%;
	/* max-width: calc(100% - 275px);
    padding: 1em;
	margin: 0; */
  }
	
  .news-grid, .newsBlocks {
	grid-template-columns: 1fr;
  }	
	
  .news-item:first-child, 
  .news-item:nth-child(2), 
  .news-item:nth-child(3), 
  .news1, 
  .news2,  
  .news3 {
    grid-column: 1;
  }
	
.department {
	grid-template-columns: 1fr;
	max-width: 700px;
}
	
  .footer-menu {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    max-width: 98%;
  }
	
}

@media screen and (max-width: 834px) {
  
  .head {
    font-size: 2em;
    padding: 1em;
  }
  
  table {
    max-width: 98%;
	overflow: scroll;
  }
	
  .main {
	  margin: 17em 0 0 0;
  }
	
  .main .iframeWrapper, 
  .main .virtualTourWrapper {
    max-width: 95%;
  }
  
  .right, 
  .left {
    float: none;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
  }
  
  .two,
  .three,
  .four {
   grid-template-columns: 1fr;
}
	
  .tile {
    max-width: 600px;
    margin: 0 auto;
  }
 
  .departmentListing {
	margin: 1.5em auto;
  }
  
  .footer-menu {
    grid-template-columns: 1fr 1fr;
  }
  
  .foot-area {
    margin: 0 1em;
  }
  
  .columns {
    columns: auto 2;
  }
	
  .others {
    display: block;
  }
	
  .othersimage {
	width: 98%;
	text-align: center;
  }
	
  .pullquote {
	float:none;
	margin: 0 auto;
	max-width: 90%;
	padding: 1.5em;
  }

}

@media screen and (max-width: 600px) {
  
  #header {
    background-position: 0 95%;
    background-size: auto 75%;
  }

  #logo {
    max-width: 55%;
  }
	
  .contact-info {
	display: none;
  }
	
  .full-page {
    z-index: 0;
	background-size: 600px;
  }  
  
  .page-title {
    max-width: 100%;
  }
  
  .page-title h1 {
    display: block;
    margin: 0 auto;
    padding: 0.25em .5em;
  }
  
  .main {
   margin: 290px 0 0 0; 
  }
  
  .indent-left, 
  .indent-right {
    float: none;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
  }
  
  .small, 
  .medium, 
  .large {
    max-width: 95%;
    max-height: auto;
  }
  
  .tile {
   max-width: 95%;
   margin: 1em auto;
   }
	
  .stat-grid {
	display: grid;
	}
  
  .columns {
    columns: 1;
  }
	
  .columnBlock {
	  display: block;
  }
	
  .pullquote {
	max-width: 98%;
	}
  
  .footer-menu {
    grid-template-columns: 1fr;
    width: 95%
  }
  
}

/* ----- STATIC MENU STYLES ----- */

#static-menu {
  display: block;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 115px;
}

#static-collapsed {
  display: none;
  position: absolute;
  right: 0;
  top: 0.25em;
  width: 75px;
}

.menu-title,
.search-title {
  display: block;
  position: relative;
  right: 0;
  font-size: 1em;
  letter-spacing: .03125em;
  font-weight: 300;
  font-family: var(--san-serif);
  padding: 0.5em;
  margin-bottom: 0.25em;
  color: var(--white);
  background: var(--dark-gray);
  width: 100%;
  border: 0;
  text-align: left;
  transition: 0.2s;
}

#searchForm {
	position: absolute;
	left: -7.2em;
	top: 0px;
}

#searchBox {
	border: 0;
	padding: 0 0 0 .25em;
	height: 2.25em;
	background: var(--white);
}


.menu-title-collapsed {
  display: block;
  position: relative;
  right: 0;
  font-family: var(--san-serif);
  font-size: 0.9375em;
  font-weight: 300;
  letter-spacing: .03125em;
  text-align: left;
  background: var(--dark-gray);
  color: var(--white);
  padding-right: 20px;
  padding: 0.5em;
  width: 75px;
  margin-bottom: 0.25em;
  border: 0;
  transition: 0.2s;
}

.menu-title:hover, 
.menu-title:focus {
  color: var(--black);
  background: var(--gold);
}

.search-title:hover, 
.search-title:focus {
  background: var(--gold);
  color: var(--black);
}

.search {
  grid-column: 1 / 3;
  font-family: var(--san-serif);
  letter-spacing: .0625em;
  font-weight: 300;
  text-align: left;
  /*padding: 0.875em 0.5em;*/
  margin: 0.875em 0 0 0;
  width: 100%;
  border: 0;
  background: var(--dark-gray);
  transition: 0.2s;
  color: var(--white);
}

.action {
  position: relative;
  float: right;
  top: 1em;
}

.action-btn {
  font-family: var(--san-serif);
  background: var(--dark-gray);
  font-size: .9375em;
  letter-spacing: .0625em;
  font-weight: 300;
  padding: 0.5em;
  margin: 0 0 0.25em 0.5em;
  transition: 0.2s;
  width: 75px;
  text-align: center;
  cursor: pointer;
}

.action-btn a {
  color: var(--gold);
  text-decoration:none;
}

.action-btn:hover, 
.action-btn:focus {
  background: var(--black);
  color: var(--gold);
}

.action-mobile { /* These show up in the navigation on mobile only. See  */
	position: relative;
	display: none;
	grid-template-columns: 1fr;
	width: 275px;
	padding: .9375em .25em 0 .5em;
	margin-bottom: 3em;
}

.action-mobile-btn {
  font-family: var(--san-serif);
  background: var(--dark-gray);
  font-size: .9375em;
  letter-spacing: .0625em;
  font-weight: 300;
  padding: 0.5em;
  margin: 0 0 0.25em 0.25em;
  transition: 0.2s;
  width: 95%;
  text-align: center;
  cursor: pointer;
}

.action-mobile-btn a {
	display: block;
	color: var(--gold);
	text-decoration: none;
}

.action-mobile-btn:hover, 
.action-mobile-btn:focus {
	background: var(--gold);
	color: var(--black);
}

.action-mobile-btn a:hover {
	color: var(--black);
}

/* ----- END STATIC MENU STYLES -----  */



/* ----- START MAIN NAV STYLES -----  */

#main-nav {
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top visible layer */
  top: 0; /* Stay positioned at top of viewport */
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background: var(--black);
  height: 100%;
}

#main-list {
  position: relative;
  display: grid;
  grid-template-columns: 85% 15%;
  top: 1.25em;
  padding: .9375em 0.5em 0 0.75em;
  width: 275px;
  margin-bottom: 3em;
}

.close-btn {
  position: absolute;
  font-family: var(--san-serif);
  top: 5px;
  right: .75em;
  font-size: 1.5em;
  font-weight: 200;
  text-decoration: none;
  color: var(--white);
  transition: 0.2s;
  z-index: 1;
}
.close-btn:hover, 
.close-btn:focus {
  color: var(--red);
}

.main-category {
  display: grid;
  font-family: var(--san-serif);
  font-size: 1em;
  letter-spacing: .03125em;
  font-weight: 300;
  color: var(--white);
  text-align: left;
  padding: 0.875em 0.5em;
  margin: 0.75em 0 0 0;
  width: 100%;
  border: 0;
  background: var(--dark-gray);
}

a.main-category {
  text-decoration: none;
}

a.main-category:hover, 
a.main-category:focus {
  background: var(--gold);
  color: var(--black);
  font-weight: 400;
}

.shortcuts {
  grid-column: 1 / 3;
  font-family: var(--san-serif);
  font-size: 1em;
  font-weight: 300;
  color: var(--white);
  text-align: left;
  padding: 0.5em;
  margin: .75em 0 0 0;
  width: 100%;
  letter-spacing: .03125em;
  border: 0;
  background: var(--dark-gray);
}

a.shortcuts {
	text-decoration: none;
}
 
.shortcuts:hover {
  background: var(--gold);
  color: var(--black);
  font-weight: 400;
}

.shortcuts:hover .gold, 
.current .gold
{
  color: var(--dark-gray);
}

.gold {
  font-family: var(--san-serif);
  color: var(--gold);
  font-size: 1em;
}

.active .gold {
	color: var(--black);
}

.icon-right {
  float: right;
}

.sub-category {
 grid-column: 1 / 3; 
  margin: 0;
}

.panel {
  display: none;
  grid-column: 1 / 3;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.nav1 .panel {
  border-left: 0;
}

.dropdown {
  grid-column: 1 / 2;
}

.nav1 {
  padding: 0;
  display: grid;
  grid-template-columns: 85% 15%;
  background: var(--white-transp);
}

.nav2 {
  padding: 0 0 0 0;
  margin: 0;
  grid-column: 1 / 3;
}

.nav1 a,
.nav2 a {
  display: block;
  font-family: var(--san-serif);
  font-size: 0.9375em;
  letter-spacing: .03125em;
  font-weight: 500;
  border-bottom: 1px solid var(--gray);
  padding: 0.75em 0.5em;
  color: var(--black);
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.nav2 a {
  background: var(--white-transp);
  padding-left: 0.75em;
  color: var(--black);
  margin: 0;
  border-left: 4px solid var(--light-gray);
  border-right: 4px solid var(--light-gray);
}

.nav1 a:hover, 
.nav2 a:hover, 
.majors a:hover,
.clubs a:hover, 
a.alumni:hover, 
.nav1 a:focus, 
.nav2 a:focus, 
.majors a:focus,
.clubs a:focus, 
a.alumni:focus{
  background: var(--gold);
  color: var(--black);
  text-decoration: underline;
}

.expand, .shortcuts-expand {  
  grid-column: 2 / 3;
  display: block;
  font-weight: 300;
  background: var(--dark-gray);
  color: var(--white);
  border-left: 1px solid var(--light-gray);
  margin: 0.75em 0 0 0;
  width: 100%;
  border-top: 0;
  transition: 0.2s;
}

.expand {
  padding: 0.875em 0.5em;
}
.shortcuts-expand {
  padding: 0.5em;
}

.expand:hover, 
.expand:active,
.expand:focus,
.nav1 .expand:hover,
.nav1 .expand:active, 
.nav1 .expand:focus {
  background: var(--gold);
  color: var(--black);
}

.nav1 .expand {
  font-size: 0.75em;
  border-bottom: 1px solid var(--dark-gray);
  background: var(--white);
  color: var(--black);
  margin: 0;
}

.accordion {
  /* transition: 0.4s;
  -webkit-transition: 0.4s; */
}

.alumni{
  display: block;
  grid-column: 1 / 3;
  padding: 0.5em 0.5em;
  margin: .75em 0 0 0;
  background: var(--dark-gray);
  font-family: var(--san-serif);
  font-weight: 300;
  font-size: 1em;
}

a.alumni{
  text-decoration: none;
  background: var(--dark-gray);
  color: var(--white);
}

a.alumni:hover,
a.alumni:focus {
	text-decoration: none;
	font-weight: 400;
}

#gTranslate{
  display: block;
  grid-column: 1 / 3;
  padding: 0.25em;
  margin: 1.25em 0 0 0;
  background: var(--dark-gray);
  border-bottom: 1px solid var(--gold);
 
}

.goog-te-gadget .goog-te-combo {
	background: var(--dark-gray);
	border: 0;
	color: var(--white);
	font-family: var(--san-serif);
	font-weight: 300;
 	font-size: 1em;
}

.goog-te-gadget {
	height: 28px;
	overflow: hidden;
	/* font-family: var(--san-serif);
	font-weight: 300;
 	font-size: 1em;
    background: var(--dark-gray);
    color: white;
    border: 0; */
}

.goog-te-combo {
	width:100%;
}




/* ----- END MAIN NAV STYLES -----  */


/* ----- SUB NAV STYLES ----- */


@keyframes nav-animation {
  0% {height: 0%;}
  100% {height: 100%;}
}

.sub-nav-title {
  display: grid;
  grid-template-columns: 85% 15%;
}

.sub-nav-title:not(first-of-type) {
		margin-top: .5em;
}

.sub-nav-title a {
  display: block;
  font-family: var(--san-serif);
  font-size: 1em;
  letter-spacing: 0.03125em;
  padding: .625em .5em;
  font-weight: 500;
  margin: 0;
  background: var(--almost-white);
  color: var(--black);
  grid-column: 1;
  text-align: left;
  text-decoration: none;
}

.secondary {
  display: block;
  font-family: var(--san-serif);
  font-size: 1em;
  letter-spacing: 0.03125em;
  padding: .625em .5em;
  font-weight: 500;
  margin: 0;
 /*  background: var(--light-gold-transp50); */
  color: var(--black);
  grid-column: 1;
  text-align: left;
  text-decoration: none;
  border: 1px solid var(--light-gold);
}


.sub-nav-title button {
  display: block;
  padding: .625em .5em;
  position: relative;
  grid-column: 2;
  background: var(--almost-white);
}

.sub-nav {
  animation-name: nav-animation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  display: none;
  grid-template-columns: 85% 15%;
  position: relative;
  margin: 0;
  letter-spacing: 0.03125em;
  font-family: var(--san-serif);
  background: var(--white);
}

.sub-nav .panel {
  background: var(--almost-gray);
}

.sub-nav a, 
.sub-nav button {
  padding: .625em .25em;
  color: black;
  text-decoration: none;
  background: var(--almost-white);
}

.sub-nav a  {
  font-size: .875em;
  margin: .5em 0 0 0;
}

/* font-size + margin + padding total height for <a> and <button> items need to match or alignment of nav items will be off */

.sub-nav button {  
  font-size: .75em;
  margin: .625em 0 0 0;
}

.sub-nav a:last-child {
  /*margin-bottom: .75em;*/
}

.sub-nav a {
  grid-column: 1 / 3;
}

.sub-nav button {
  grid-column: 2;
}

a.plus {
  grid-column: 1 / 2;
  border-right: 1px solid var(--light-gray);
} 

.sub-nav a:last-child {
  border: none;
}

.sub-nav a:hover, 
.sub-nav button:hover, 
.sub-nav .panel a:hover, 
.sub-nav .panel .sub-nav a:hover,
.sub-nav .panel button:hover, 
.sub-nav a:focus, 
.sub-nav button:focus, 
.sub-nav .panel a:focus, 
.sub-nav .panel .sub-nav a:focus,
.sub-nav .panel button:focus{
  background: var(--light-gold);
  color: var(--black); 
  text-decoration: underline;
}

.sub-nav .panel a {
  margin: 0 0 0 0.25em;
  border-bottom: solid 1px var(--light-gray);
  padding-left: 1em;
  background: none;
}

.sub-nav .panel button {
  padding: 0; 
  margin: 0;
  border-bottom: solid 1px var(--light-gray);
 /* border-top: solid 1px var(--light-gray);
  background: var(--almost-gray); */
  color: var(--dark-gray);
}

.sub-nav .panel a:first-child {
  border-top: 1px solid var(--light-gray);
}

.sub-nav .panel .sub-nav a {
  background-color: var(--light-gray-transp);
  color: var(--black);
  /*  border-bottom: 1px solid var(--almost-white); */
  padding-left: 2em;
}

.sub-nav-title a.current {
	background-color: var(--light-gold);
} 

.sub-nav .panel .sub-nav a:first-child {
	border-top: none;
}

.sub-nav .panel .sub-nav a:last-child {
    margin-bottom: 5px;
}

/* START CURRENT PAGE STYLES */


#main-nav #main-list a.current,
#main-nav #main-list .panel .nav1 a.current,
#main-nav #main-list .panel .nav1 .nav2 a.current {
	background-color: var(--gold);
	color: black;
    font-weight: 500;
}

.sub-nav a.current,
.sub-nav .panel a.current,
.sub-nav .panel .sub-nav a.current {
	background-color: var(--light-gold);
	color: black;
    font-weight: inherit;
}


/* END CURRENT PAGE STYLES */


.icon-right {
  float: right;
}

.directory {
	position:relative;
    right: .25em;
}

.panel {
  display: none;
}


/* -----END SUB NAV STYLES----- */


@media screen and (max-width: 834px) {
  
  #static-menu {
    display: none;
  }

  #static-collapsed {
    display: block;
  }

  .search {
    display: block;
  }
	
  .action-mobile {
	display: grid;		
   }

}

@media screen and (max-width: 600px) {
 
  #main-nav {
    max-width: 98%;
  }
  
  #main-list {
  width: 98%;
  }
  
  .right-column {
    width: 98%;
    float: none;
    margin: -4em auto 2em auto;
  }  
	
  .sub-nav-title button {
    padding: .625em 42%;
  
}
.nav1,
.sub-nav,
.panel{
	display:grid !important;
}

.nav2{
	display:none !important;
}

#main-nav{
	width: 275px !important;
}

#page{
	margin-right: 275px !important;
}

/*.menu-title::after{
	content: " - Requires Javascript";
}*/
.full-page-home {
  z-index: -1;
  background-attachment: fixed;
  -ms-background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);
}

.feature1,
.feature2,
.feature3 {
  text-align: center;
  padding: 1em;
  margin: 42.4vh 0 0 0;
  /* margin: 50vh 0 0 0; */
	
}

.feature1 {
  background-image: linear-gradient(transparent, black);
  /* background: var(--black-transp-light); */
  -ms-background: #000000;
}
.feature2 {
  background: var(--tan-transp);
  -ms-background: #F0E68C;
}
.feature3 {
  background: var(--black-transp);
 -ms- background: #808080;
}

.feature-head {
  font-family: var(--serif);
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.125em;
  max-width: 900px;
  margin: 0 auto;
}

.feature1 .feature-head {
	padding: 2.25em 0 .5em 0;
}

.feature2 .feature-head, .feature3 .feature-head {
	padding: 1em 0 .5em 0;
}

.feature1 .feature-head {
  color: var(--gold);
 -ms-color: #f2c326;
-ms-background: #000000;
}
.feature2 .feature-head {
  color: var(--black);
  -ms-color: #000000;
}
.feature3 .feature-head {
  color: var(--gold);
  -ms-color: #f2c326;
}

.feature-content {
  font-family: var(--san-serif);
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em 3em 1em;
}

.feature1 .feature-content {
  color: var(--white);
}
.feature2 .feature-content {
  color: var(--black);
}
.feature3 .feature-content {
  color: var(--white);
}

.feature-content a {
  font: inherit;
  font-weight: 500;
  text-decoration: none;
}

.feature1 .feature-content a {
  color: var(--gold);
}

.feature2 .feature-content a {
  color: var(--red);
}

.feature3 .feature-content a {
  color: var(--gold);
}

.feature-content a:hover {
  text-decoration: underline;
}

.landscape1 {
  background-image: url(/_resources/images/homepage/home_aerial-2009-10-19_7726.jpg);
	  background-color: var(--black);
}
.landscape2 {
  background-image: url(/_resources/images/homepage/home_undertrees_MD59059.jpg);
	  background-color: var(--white);
}
.landscape3 {
  background-image: url(/_resources/images/homepage/home_longbrake-MD53296.jpg);
	  background-color: var(--white);
}
.landscape4 {
  background: var(--gray);
}
.landscape-black {
  background: var(--black);
}
.landscape-white {
  background: var(--white);
}
.landscape-gold {
  background: var(--gold);
}
.landscape-tan {
  background: var(--dark-gray);
}
.landscape-red {
  background: var(--red);
}

.head-image,
.head-image1,
.head-image2,
.head-image3 {
  display: block;
  position: relative;
  margin: 0 auto -30px auto;
  padding: 0;
}

.head-image1 {
  height: auto;
  top: -45px;
}
.head-image2 {
  max-width: 120px;
  height: auto;
  top: -50px;
}
.head-image3 {
  max-width: 80px;
  height: auto;
  top: -30px;
}

.tradition1,
.tradition2,
.tradition3 {
  display: flex;
  position: relative;
  padding: 0 1em;
  max-width: 1280px;
}

.tradition1 {
	margin: 0 auto;
	
}
.tradition2 {
  margin: -70px auto 0 auto;
}
.tradition3 {
  margin: -20px auto 0 auto;
}

.tradition1 .tile, 
.tradition3 .tile  {
  color: var(--black);
}
.tradition2 .tile {
  color: var(--white);
}

.tradition1 .tile:hover, .tradition2 .tile:hover, .tradition3 .tile:hover {
  box-shadow: none;
}

.tradition1 .tile-content {
  padding: 0;
}

 .tradition1 .tile-content p {
  font-family: var(--san-serif);
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em 1em 1em;
  color: var(--black);
  line-height: 1.5em;
  text-align: center;
} 

.tradition2 .tile-content p {
  color: var(--white);
  line-height: 1.5em;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0 auto;
  padding: 0 1em 1em 1em;
}


.tradition3 .tile-content p {
  color: var(--black);
  padding: 0;
  font-size: 1.25em;
  margin: 0 auto 1.5em auto;
}

.tradition1 .tile-content a {
  color: var(--red);
  text-decoration: none;
  font-weight: 500;
}

.stat {
  font-family: var(--serif);
  font-size: 3em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.tradition1 .stat {
  position: relative;
  top: -.5em;
  color: var(--red);
  font-weight: 500;
  left: 8px;
  font-size: 3em;
} 

.tradition2 .stat {
  color: var(--white);
  font-size: 2em;
  line-height: 2em;
}


.tradition3 .stat {
  color: var(--red);
  float: left;
  padding-right: .5em;
  margin-top: -.2em;
}

/* .news {
  padding: 0 0 5em 0;
  margin: 0;
}

.news-head {
  display: block;
  text-align: center;
  font-family: var(--san-serif);
  font-size: 2em;
  font-weight: 300;
  padding: 2em 0 0 0;
  margin: 0 auto 1em auto;
  border-bottom: 2px solid var(--gold);
  max-width: 500px;
}

.news-grid {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin: 0 auto;
  padding: 2em 0;
}

.news-item {
  display: block;
  max-width: 300px;
  padding: 0;
  margin: 0.25em 1.5em;
  background: var(--white);
}

.news-item:first-child {
  grid-column: 1;
}
.news-item:nth-child(2) {
  grid-column: 2;
}
.newsitem:nth-child(3) {
  grid-column: 3;
}

.news-image {
  width: 100%;
  height: 18em;
  object-fit: cover;
}

.news-grid a {
  text-decoration: none;
}
.news-grid h2 {
  font-family: var(--san-serif);
  font-weight: 300;
  font-size: 1.25em;
  padding: 0.5em 0;
  line-height: 1.25em;
}*/

@media screen and (min-width: 1300px) {
}

@media screen and (max-width: 1024px) {
	
  .full-page-home {
	background-size: 1024px;
	background-attachment: scroll;
	/* background-position-y: -2em; */
  }
	
  .feature1 {
    background: var(--black);
  }
	
  .feature2 {
   background: var(--tan-transp);
  }
	
  .feature3 {
    background: var(--dark-gray);
  }
}

@media screen and (max-width: 925px) {
}

@media screen and (max-width: 834px) {

.full-page-home {
	background-size: 834px;
  }
	
.feature1,
.feature2,
.feature3 {
  /* margin: 23.25em 0 0 0; */
	margin: 25.26em 0 0 0;
}
	
/*.landscape1 {
  background-image: url(/_resources/images/homepage/home_aerial-2009-10-19_7726-crop.jpg);
}*/
	
.landscape2 {
  background-image: url(/_resources/images/homepage/home_undertrees_MD59059-crop.jpg);
}
.landscape3 {
  background-image: url(/_resources/images/homepage/home_longbrake-MD53296-crop.jpg);
}
	
.news-grid {
    grid-template-columns: 1fr;
  }

/*  .news1,
  .news2,
  .news3 {
    grid-column: 1;
    margin: 0 auto 2em auto;
  }

  .news-image {
    height: 20em;
  } */
}

@media screen and (max-width: 600px) {
  
.feature-head {
	font-size: 2.125em;
}
	
.full-page-home {
	/* background-size: contain; */
	background-size: 
  }
	
  .feature1,
  .feature2,
  .feature3 {
    text-align: center;
    padding: 1em;
    /* margin: 290px 0 0 0; */
  }
  
  .tradition1,
  .tradition2,
  .tradition3 {
    display: grid;
  }
  
}

/* VIDEO UPDATE DNAGY 103019 
    /\_____/\
   /  o   o  \
  ( ==  ^  == )
   )         (
  (           )
 ( (  )   (  ) )
(__(__)___(__)__)
	B E E F Y
*/

#homepageVideo{
	width: 100%;
	margin-bottom:-100%;
	z-index: -1;
}

.landscape1{
	background: none;
}

.feature1{
	margin-top: calc(56.25%);
}

@media screen and (min-width: 1025px ) {
	.feature1{
		height: 17em;
		margin-top: calc(56.25% - 17em);
	}
}

