/* ////////////////////////////////////////////////////// */
/* General Resets and Common Use Classes                  */
/* ////////////////////////////////////////////////////// */

html { font-family:Verdana; font-size:16px; }
body { min-width:310px; margin:0; padding:0; } /* set min-width for page: scrolling is better than being narrower than this */
a { /*color:#007ac7;*/ /* 2016-06-24 color shifted down to #layoutContent due to interference with WAVE extension */ text-decoration:none; }
a:hover { text-decoration:underline; }
a:focus { text-decoration:underline !important; }
caption { margin:1em 0; font-weight:bold; }
h1 { font-size:2em; line-height:2em; }
h2 { font-size:1.5em; margin-top:1.5em; }
h3 { font-size:1.17em; margin-top:1.75em; }
h4 { font-size:1.0em; }
h5 { font-size:0.83em; }
h6 { font-size:0.67em; }
img { border:none; }
img { max-width:100%; height:auto !important; }
img[usemap], map area { outline:none; }
input, textarea, select { font-size:inherit; font-family:inherit; }
input[type=text], input[type=password], textarea { padding:0.15em 0.2em; }
p { margin:1.25em 0; }
noscript { font-weight:bold; color:#D60507; }

.linkMaker { color:#007ac7; /*text-decoration:underline;*/ cursor:pointer; }
.contentClear:after { content:""; display:table; clear:both; } /* clear floated items */
.screenReaderOnly { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }

/* 17px is first guess of scrollbar width; it updates with JS later */
.layoutFullWidth { position:relative; left:50%; /*fallback for no calc*/ left:calc(50% + 8px); right:50%; width:100vw; /*fallback for no calc*/ width:calc(100vw - 17px); margin-left:-50vw; margin-right:-50vw; }

table.general { border-collapse:collapse; border-spacing:0; }
table.general tr:nth-child(even) { background-color:#F5F5F5; }
table.general th, table.general td { padding:0.5em 0.25em; border:1px solid #DDD; }
table.general th { background-color:#226291; color:white; }
table.general p { margin:0; }
table.general a { color:#0464A0; } /* for contrast */

.faq { }
.faq div.jumpContainer { padding:1px; /*background-color:#e2f0f7;*/ background-color:#eff7fb; }
.faq div.jumpContainer ul { margin:1em 1.5em; padding:0; list-style-type:none; }
.faq div.jumpContainer ul li { margin:1em auto; }
.faq div.jumpContainer ul li a { color:#006699; font-weight:bold; font-size:0.90em; }
.faq div.jumpContainer ul li a:visited { color:#993366; }
.faq .faqQuestion .section.section2 { display:none; }
.faq .faqQuestion .section.section2.expanded { color:white; text-shadow:0px 0px 1px black; }
.faq div.faqAnswer.expanded { display:block; }
@media screen and (max-width:900px){
	.faq div.jumpContainer { display:none; }
	.faq div.faqAnswer { display:none; }
	.faq .faqQuestion { margin:0.85em 0; padding:1em; font-size:1em; border:1px solid #CDCDCD; border-radius:3px; box-shadow: 0 2px 2px -2px #CCCCCC; cursor:pointer; }
	.faq .faqQuestion .section { display:table-cell; width:100%; }
	.faq .faqQuestion .section.section2 { display:table-cell; padding:0 10px 0 40px; font-size:1.4em; vertical-align:middle; }
}

/* ////////////////////////////////////////////////////// */
/* Layout Styles                                          */
/* ////////////////////////////////////////////////////// */

#layoutWeather #widgetWeather { margin:0; padding:20px 10px; text-align:center; font-family:Verdana; font-size:1em; background-color:#002845; color:white; }
#layoutWeather #widgetWeather p { margin:0 !important; padding:0 !important; }
#layoutWeather #widgetWeather a { color:white; text-decoration:underline; }
#layoutWeather #widgetWeather #widgetWeather_campus { margin:10px 0; text-align:center; }
#layoutWeather #widgetWeather .widgetWeather_column { /*float:left;*/ display:inline-block; vertical-align:top; margin-right:40px; border-collapse:collapse; }
#layoutWeather #widgetWeather .widgetWeather_column:last-of-type { margin-right:0; }
#layoutWeather #widgetWeather td { vertical-align:text-top; }
#layoutWeather #widgetWeather .widgetWeather_columnRowTD1 { font-weight:bold; padding-right:10px; }
#layoutWeather #widgetWeather .widgetWeather_columnClear { clear:both; }
#layoutWeather #widgetWeather ul { margin:10px auto; max-width:460px; text-align:left; }
@media screen and (max-width:900px) {
	#layoutWeather #widgetWeather .widgetWeather_column { /*float:none;*/ /*display:table;*/ margin-right:0; }
	#layoutWeather #widgetWeather .widgetWeather_columnRowTD1 { width:85px; }
	#layoutWeather #widgetWeather .widgetWeather_linksText { display:block; }
	#layoutWeather #widgetWeather .widgetWeather_linksPipe { display:none; }
}

#layoutMiniBanner { background-color:#1C0300; }
.layoutNavMini { width:1170px; margin:0 auto; padding:0.375em 0; text-align:right; color:white; font-size:0.9em; font-family:Verdana; }
.layoutNavMini li { display:inline-block; margin:0; padding:0; list-style-type:none; }
.layoutNavMini a { color:white; }
.layoutNavMini span { position:relative; top:0.8px; display:inline-block; width:1px; height:0.83em; margin:0 0.56em 0 0.59em; border-right:1px solid #794b45; -ms-transform:rotate(23deg); transform:rotate(23deg); }
#layoutNavMobileMenu { display:none; height:20px; padding:8px 10px; color:white; font-size:0.85em; }
#layoutNavMobile3Links { float:right; margin:3px 0 0 0; padding:0; font-size:0.82em; }
#layoutNavMobile3Links li { display:inline-block; float:left; /*centers the slash*/ margin:0; padding:0; list-style-type:none; }
#layoutNavMobile3Links span { padding:0 0.5em; }
#layoutNavMobile3Links a { color:white; white-space:nowrap; }
#layoutMobileMenuSlider { display:none; padding-bottom:1px; }

#layoutBannerContainer { background-color:#8C1101; font-family:Verdana; }
#layoutBannerContent { position:relative; width:1170px; height:97px; margin:0 auto; color:white; }
#layoutRSFull { position:absolute; left:0; bottom:0; display:block; height:90px; /* fixes the RS on ipad landscaped */ margin-bottom:-2px; font-size:0; }
#layoutRSShort { display:none; }
.layoutNavPeople { position:absolute; top:16px; right:0; margin:0; padding:0; text-align:right; font-size:1em; }
.layoutNavPeople li { display:inline-block; float:left; /*centers the slash*/ margin:0; padding:0; list-style-type:none; }
.layoutNavPeople a { color:white; white-space:nowrap; }
/*.layoutNavPeople span { padding:0 0.382em; color:#9D4F57; }*/
.layoutNavPeople span { position:relative; top:0.8px; display:inline-block; width:1px; height:0.83em; margin:0 0.50em 0 0.53em; border-right:1px solid #9D4F57; -ms-transform:rotate(23deg); transform:rotate(23deg); }
/*.rnMobile { display:none; }*/
.layoutSearchForm { position:absolute; top:54px; right:0; width:210px; padding:5px 5px 3px 5px; font-size:1.125em; border-bottom:1px solid #9D4F57; }
.layoutSearchForm input { -webkit-appearance:none; -webkit-border-radius:0; border-radius:0; }
.layoutSearchForm .layoutSearchBox input { float:left; width:170px; height:21px; margin-right:5px; padding:1px 5px; color:white; background-color:transparent; border:none; }
.layoutSearchForm .layoutSearchBox input:focus { outline:none; }
.layoutSearchForm .layoutSearchImage input { float:left; width:23px; height:21px; }

#layoutRSCCPrintBanner { position:absolute; left:-10000px; top:auto; }

.layoutNavMajor { /*margin:1.5em 0;*/ margin:1.5em 0 1.8em; padding:0; list-style-type:none; text-align:center; font-weight:bold; font-size:1.25em; }
.layoutNavMajor li { display:inline-block; }
.layoutNavMajor a { color:black; }
.layoutNavMajor a:hover { text-decoration:none; }
.layoutNavMajor span { position:relative; top:7px; display:inline-block; width:8px; height:1.5em; margin:0 0.9em 0 0.5em; border-right:1px solid #6D6D6D; -ms-transform:rotate(23deg); transform:rotate(23deg); }

/* for skipping navigation */
#layoutMenuSkip { text-align:right; }
#layoutMenuSkip a { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; color:black; }
#layoutMenuSkip a:focus { position:static; width:auto; height:auto; }

#layoutWebwizardEdit { position:fixed; top:5px; right:5px; }

/* this must go here (as in, not just the homepage) due to need to break out of layoutContent  */
#reconnectBanner { display:none; margin:1.5em 0; padding:25px 2em 30px; /*background-color:#8cb98f;*/ background-image:url(/_images/reconnectHomepageBanner2_background.jpg); background-size:contain; background-position:center; text-align:center; cursor:pointer; /* has a JS click event */ }
#reconnectBanner img.mobile { display:none; padding-top:10px; }
@media screen and (max-width:984px) {
	#reconnectBanner { background-size:cover; } 
	#reconnectBanner img.desktop { display:none; }
	#reconnectBanner img.mobile { display:inline; }
}

/* this must go here (as in, not just the homepage) due to need to break out of layoutContent  */
#wintertermBanner { display:none; margin:1.5em 0; padding:25px 2em 25px; /*background-color:#8cb98f;*/ background-image:url(/_images/wintertermHomepageBanner_background.png); background-size:cover; background-position:bottom; text-align:center; cursor:pointer; /* has a JS click event */ }
#wintertermBanner img.mobile { display:none; padding-top:10px; }
@media screen and (max-width:984px) {
	#wintertermBanner { background-size:cover; } 
	#wintertermBanner img.desktop { display:none; }
	#wintertermBanner img.mobile { display:inline; }
}

#layoutContent { position:relative; /*prevent positioned content from breaking out of parent*/ max-width:1170px; min-height:250px; margin:0 auto 10px; line-height:1.5; }
.layoutContentClass li { margin-top:0.25em; margin-bottom:0.25em; } /* was using padding, but that doesn't allow nested lists to collapse margin */
.layoutContentClass a { color:#007ac7; } /* added 2016-06-24; a { color:#007ac7; } was interfering with WAVE extension */

/* optionally give to a UL, or any other suitable element this class in a subpage */
.layoutContentClass .layoutSidebar { float:right; max-width:40%; padding:1em 2em; margin:0 0 2em 2em; font-size:1.1em; background-color:#F5F5F5; list-style-type:none; }
.layoutContentClass .layoutSidebar ul { margin:0; padding:0; list-style-type:none; } /* if class was added to something else */
.layoutContentClass .layoutSidebar h3, .layoutContentClass .layoutSidebar h4 { margin-top:1em; }
.layoutContentClass .layoutSidebar li { padding:0.3em 0; }
.layoutContentClass .layoutSidebar a { color:#0464A0; }
@media screen and (max-width:984px) {
	.layoutContentClass .layoutSidebar { float:none; max-width:none; margin:2em 0; }
}

/* optionally make a sidebar list into a horizontal navigation */
.layoutContentClass .layoutSidebar.horizontal { float:none; max-width:none; margin:2em 0; padding:0; background:none; }
.layoutContentClass .layoutSidebar.horizontal li { display:inline-block; margin:0; font-weight:bold; }
.layoutContentClass .layoutSidebar.horizontal li a { display:inline-block; margin:0 0.5em 0.5em 0; padding:0.5em 1em; background-color:#30485e; color:white; text-decoration:none; }
.layoutContentClass .layoutSidebar.horizontal li a:hover { background-color:#989898; }
.layoutContentClass .layoutSidebar.horizontal li a:focus { background-color:#989898; text-decoration:none !important; /* override; the "focus" will be the background color */ }
@media screen and (max-width:500px) {
	.layoutContentClass .layoutSidebar.horizontal li { display:block; text-align:center; }
	.layoutContentClass .layoutSidebar.horizontal li a { display:block; }
}

#layoutContact { clear:both; max-width:1170px; margin:0 auto; }
#layoutContact h3.normal { float:left; margin:0; font-weight:normal; font-size:16px; /* fix IE */ font-size:initial; }
#layoutContact p { margin-top:2em; }
#layoutContact a { color:#007ac7; }

#layoutFooter { margin:2.5em 0 1.5em; padding:2.5em 0; background-color:#8C1101; color:white; font-size:0.938em; }
#layoutFooterContent { width:1170px; margin:0 auto; }
#layoutFooter ul { float:left; margin:0 45px 20px 0; padding:0; list-style-type:none; }
#layoutFooter li { margin:0.4em 0; }
#layoutFooter a { color:white; }
#layoutSocial { clear:both; margin-left:20px; margin-right:20px; padding-top:10px; font-weight:bold; font-size:1.25em; text-align:center; color:white; }
#layoutSocial a { margin:0 15px; }
#layoutSocial img { height:50px !important; width:auto; }
#layoutLegal { max-width:1170px; margin:20px auto 10px; font-size:10px; /*color:#ABABAB;*/ color:#767676; }
#layoutLegal a { color:#767676; font-weight:bold; }
#layoutExternalLogos { float:right; text-align:center; }
#layoutExternalLogos a { display:inline-block; margin:-5px 40px 10px; }

/* ////////////////////////////////////////////////////// */
/* Subpages                                               */
/* ////////////////////////////////////////////////////// */

#layoutCrumbs, #layoutSiteTitle, #layoutPageTitle { max-width:1170px; margin-left:auto; margin-right:auto; }
#subpagePhoto { display:block; margin:2em 0; background-color:#6F6F6F; background-position:center; background-size:cover; background-repeat:no-repeat; }
#subpagePhoto:hover { text-decoration:none; }
#layoutSiteTitle { padding:0.882em 0; font-size:3.188em; color:white; font-weight:bold; text-shadow:1px 1px 2px rgba(0,0,0,.8); }
#layoutCrumbs { margin:1rem auto 2rem; font-size:0.813em; /*color:#A7A7A7;*/ color:#757575; }
#layoutCrumbs div { display:inline; }
#layoutCrumbs a { color:#757575; }
#layoutCrumbs img { margin-bottom:2px; vertical-align:middle; }
#layoutCrumbs .crumbArrow { padding:0 0.75em; /*color:#E6E6E6;*/ color:#757575; font-size:0.7em; }
#layoutCrumbs .lastCrumb { display:none; }
#layoutPageTitle { margin:1.5rem auto; font-size:1.7em; font-weight:normal; }

/* for editing homepage spotlight (the rotator) */
.spotlightTable td { text-align:center; } .spotlightTable td:nth-child(1) { font-weight:bold; font-size:1.5em; }

/* for Webwizard wwCatalog() plugin */
#layoutContent .layoutCatalogQuote { padding-left:25px; border-left:solid 4px #a0a002; /*#e4e400*/ }
#layoutContent .layoutCatalogQuote h4 { margin:0; padding:0; }
#layoutContent .layoutCatalogQuoteTitle a { font-weight:bold; color:#6f6f00; }
#layoutContent .layoutCatalogQuotePage { /*font-style:italic;*/ color:#5b5b00; }

/* ////////////////////////////////////////////////////// */
/* Mailforms                                              */
/* ////////////////////////////////////////////////////// */

.layoutContentClass form[action*="/mailform/"]:not(.plain) { padding:1px 1.5em; background-color:#f5f5f5; background-color:#fafafa; border-left:5px solid #dbdbdb; }
.layoutContentClass form[action*="/mailform/"] label { display:block; margin-top:1.25em; font-weight:bold; font-size:0.95em; }
.layoutContentClass form[action*="/mailform/"] .requiredNotation { font-size:0.7em; font-style:italic; font-weight:normal; }
.layoutContentClass form[action*="/mailform/"]:not(.plain) input[type=submit] { display:block; margin:1em 0 1.5em; padding:0.3em 0.75em; font-weight:bold; }
.layoutContentClass form[action*="/mailform/"] textarea { min-width:27em; min-height:5em; }

/* if using fieldset groupings */
.layoutContentClass form[action*="/mailform/"] fieldset { margin:1em 0; padding-top:0; padding-bottom:0; background-color:#f9fafb; border:1px solid #9C9B9B; }
.layoutContentClass form[action*="/mailform/"] fieldset label { margin:0.5em 0; font-weight:normal; }
.layoutContentClass form[action*="/mailform/"] fieldset input:last-of-type { margin-bottom:1em; }
.layoutContentClass form[action*="/mailform/"] legend { font-weight:bold; font-size:0.95em; display:-ms-inline-grid; /* for very long legends in IE going off page */ }

/* if a link is present, darken it for contrast */
.layoutContentClass form[action*="/mailform/"]:not(.plain) a { color:#0067a7; }

.layoutContentClass form[action*="/mailform/"] .error { outline:4px groove #D40000; }
.layoutContentClass form[action*="/mailform/"] .errorMessage { color:#D40000; }

@media screen and (max-width:984px){
	.layoutContentClass form[action*="/mailform/"] { padding:1px 0.75em; }
	.layoutContentClass form[action*="/mailform/"] textarea { width:100%; min-width:5em; }
}

/* ////////////////////////////////////////////////////// */
/* Mobile-related                                         */
/* ////////////////////////////////////////////////////// */

/* used to test for narrow window width to set JS variable */
#mobileDetection { display:none; position:relative; z-index:0; /* must be positioned for z-index to work */ }

/* CSS for smaller desktop view (not used in mobile detection) */
@media screen and (max-width:1225px) { /* was 1186px */
	.layoutNavMini { width:auto; margin:0 20px; }
	#layoutBannerContent { width:auto; margin:0 20px; }
	.layoutNavPeople { top:15px; }

	#layoutContent, #layoutCrumbs, #layoutSiteTitle, #layoutPageTitle, #layoutContact { max-width:950px; }
	
	#layoutFooterContent { width:auto; margin-left:20px; margin-right:20px; }
	#layoutLegal { margin:20px; }
}

@media screen and (max-width:1070px) { 
	.layoutNavPeople { font-size:0.9em; }
	.layoutNavPeople span { margin:0 0.45em 0 0.45em; }
}

/* CSS for tablet view */
@media screen and (max-width:984px) {
	#mobileDetection { z-index:984; }

	.layoutNavMini { line-height:1.7; text-align:center; }
	#layoutBannerContent { height:auto; padding:8px 0 20px; text-align:center; }
	#layoutRSFull { position:static; display:block; max-width:100%; height:auto !important; margin:0 auto 20px; }
	.layoutNavPeople { position:static; font-size:0.83em; text-align:center; line-height:2.2; }
	.layoutNavPeople li { float:none; }
	.layoutNavPeople span { /*padding:0 5px; color:#9D4F57;*/ }
	.layoutSearchForm { position:static; display:inline-block; margin:20px auto 0; }
	
	.layoutNavMajor { margin:15px 20px; line-height:2.2; font-size:17px; }
	.layoutNavMajor span { top:8px; }

	#layoutContent, #layoutContact { margin:27px 20px 10px; }
	
	#layoutCrumbs, #layoutSiteTitle, #layoutPageTitle { margin-left:20px; margin-right:20px; }
	
	#layoutFooter ul { float:none; }
	#layoutSocial { padding-top:10px; text-align:left; }
	#layoutSocial img { margin:10px 0; }
	#layoutExternalLogos { float:none; }
	
	.map-responsive { overflow:hidden; padding-bottom:49%; position:relative; height:0; }
	.map-responsive iframe { left:0; top:0; height:100%; width:100%; position:absolute; }
}

/* CSS for phone view */
@media screen and (max-width:414px) { /* changed from 360px */
	#mobileDetection { z-index:414; } /* changed from 360 */
	
	#layoutWeather #widgetWeather { margin:0; font-size:0.83em; }
	
	.layoutNavMini { display:none; }
	#layoutNavMobileMenu { display:block; }
	#layoutMenuBurger { float:left; margin-right:10px; color:#E1E1E1; cursor:pointer; }
	#layoutMenuBurger .patty { width:23px; height:4px; font-size:0; border-bottom:1px solid #E1E1E1; }
	#layoutMenuText { float:left; height:15px; line-height:20px; /*centers menu text vertically */ cursor:pointer; }
	#layoutMobileMenuSlider .layoutNavMajor a { color:white; }
	#layoutMobileMenuSlider .layoutNavPeople { margin-top:10px; }
	#layoutMobileMenuSlider .layoutNavPeople a { padding:0 4px; }
	
	#layoutBannerContent { margin:0 13px; padding:10px 0 0 0; text-align:left; }
	#layoutBannerContent:after { content:""; display:table; clear:both; } /* clear floated items */
	#layoutBannerContent .layoutNavPeople { display:none; }
	#layoutRSFull { display:none; }
	#layoutRSShort { display:block; float:left; width:81px; overflow:hidden; }
	#layoutRSShort img { margin-bottom:10px; vertical-align:bottom; }
	.layoutSearchForm { display:table; width:auto; margin:9px 0 0 107px; padding-bottom:0; }
	.layoutSearchForm .layoutSearchBox { display:table-cell; }
	.layoutSearchForm .layoutSearchImage { display:table-cell; }
	.layoutSearchForm .layoutSearchBox input { width:100%; }
	.layoutSearchForm .layoutSearchImage input { float:none; }
	
	.layoutNavMajor { display:none; margin:15px 20px; line-height:1.9; font-size:17px; }
	.layoutNavMajor li { display:block; }
	.layoutNavMajor span { display:none; }
	
	#layoutSiteTitle { padding:0.50em 0; font-size:2.5em; }
	
	#layoutContent { min-height:150px; }
	#layoutContent, #layoutContact { margin:27px 10px 10px; }
	
	#layoutSocial { text-align:center; }
	#layoutSocial a { margin:0 3%; }
}

@media print {
	body { margin:0 1px; padding:0; /* 2019-02-08 a zero margin-left on the body forces a google bug where the first letter of a heading or para is not printed; adding 1px solves */ }
	a { text-decoration:underline !important; }
	#layoutMiniBanner, #layoutBannerContainer, .layoutNavMajor, #layoutWebwizardEdit, #layoutWeather, #subpagePhoto, #layoutFooter, #layoutLegal { display:none; }
	#layoutRSCCPrintBanner { position:static; margin-top:1em; font-size:1em; }
	#layoutContent, #layoutContact { font-size:0.75em; }
	.noprint, .screenReaderOnly { display:none; }
	
	body.print #layoutCrumbs, body.print #layoutContact { display:none; }
	body.print #layoutRSCCPrintBanner { margin:0; }
	body.print #layoutPageTitle { max-width:none; margin:0 0 2rem; font-size:1.5em; }
	body.print #layoutContent { max-width:none; margin:0; }
	
	.faq div.jumpContainer { display:none; }
	
	#layoutContact h3.normal { font-size:0.75rem; }
}
