@font-face {
  font-family: 'MyWebFont';
  src: url('http://www.anc.edu/fonts/bebasneue.eot') format('embedded-opentype'), 
  	   url('http://www.anc.edu/fonts/bebasneue.otf') format('opentype'),      
       url('http://www.anc.edu/fonts/bebasneue.ttf') format('truetype');  
  }

@font-face {
 font-family: 'AlfaFont';
 src: url('http://www.anc.edu/fonts/AlfaSlabOne-Regular.eot') format('embedded-opentype'),
 	  url('http://www.anc.edu/fonts/AlfaSlabOne-Regular.otf') format('opentype'),
 	  url('http://www.anc.edu/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MyTahoma';
  src: url('http://www.anc.edu/fonts/tahoma.eot') format('embedded-opentype'),
       url('http://www.anc.edu/fonts/tahoma.otf') format('opentype'),
       url('http://www.anc.edu/fonts/tahoma.ttf') format('truetype');	
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}


/* Styles for general links */
a.general:link {
	color: #06539e;
	text-decoration: none;
}
a.general:visited {
	color: #06539e;
	text-decoration: none;
}
a.general:hover {
	color: #06539e;
	text-decoration: underline;
}
a.general:active {
	color: #06539e;
	text-decoration: none;
}


/* Styles for steel tech page links */
a.links4steeltech:link {
	font-family: 'MyTahoma';
	font-size:medium;
	font-weight:bold;
	color: #06539e;
	text-decoration: none;
}
a.links4steeltech:visited {
	font-family: 'MyTahoma';
	font-size:medium;
	font-weight:bold;
	color: #06539e;
	text-decoration: none;
}
a.links4steeltech:hover {
	font-family: 'MyTahoma';
	font-size:medium;
	font-weight:bold;
	color: #06539e;
	text-decoration: underline;
}
a.links4steeltech:active {
	font-family: 'MyTahoma';
	font-size:medium;
	font-weight:bold;
	color: #06539e;
	text-decoration: none;
}



div.header {
  display: table;
  width: 100%;
  height: 50px;
  text-align: center;
  background:#404040;
}
  
.headernav{
	display:table-cell;
	vertical-align:top;
	width:100px;
}

.headertext {
  display: table-cell;
  vertical-align: middle;
  font-family: 'MyWebFont';
  font-size:25pt;
  font-style:italic;
  color:#f9bb00;
  margin-left:-100px;
 }

.steeltech-content {
  font-family: 'MyTahoma';
  font-size:medium;
  color:black;
  margin-top:-1px;
  margin-bottom:-1px;
}

.headertext-steel {
	display: table-cell;
	vertical-align:inherit;
	font-family: 'AlfaFont';
	font-size: 20pt;
	font-style:normal;
	color:#c55b29;
}


.style-steel-subheader {
	display: table-cell;
	font-family: 'AlfaFont';
	font-size:15pt;
	color:#000000;
}

h1{
	font-family:Tahoma;
	font-size:14pt;
	color:#3674B1;
	font-weight:bold;
	margin-top:-1px;
	margin-bottom:-1px;
}

h2{
	font-family:Tahoma;
	font-size:14pt;
	color:#3674B1;
	font-weight:bold;
    margin-top:-1px;
	margin-bottom:-1px;
}

h3{
	font-family:Tahoma;
	font-size:11pt;
	color:#000000;
	font-weight:bold;
	margin-top:-1px;
	margin-bottom:-1px;
	margin-left:40px;
}


h4{
	font-family:Tahoma;
	font-size:14pt;
	color:#000000;
	font-weight:bold;
	margin-top:-1px;
	margin-bottom:-1px;
	margin-left:40px;
}

h5{
	font-family:Tahoma;
	font-size:11pt;
	color:#000000;
	font-weight:bold;
	margin-top:-1px;
	margin-bottom:-1px;
	margin-left:80px;
}

.outer-div {
	background-color:#646464;
	padding:10px;
}

.inner-div {
	background-color:646464;
}

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{
	/*CSS for enlarged image*/
position: absolute;
	background-color: #CCCCCC;
	padding: 5px;
	left: -1000px;
	border: 1px #003366 solid;
	visibility: hidden;
	color: #003366;
	text-decoration: none;
	font-family: Tahoma;
	font-weight: bold;
	font-size: medium;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

