/* Mixins */
.link-footer div {
  margin-top: 1.42857em; }
  .link-footer div:first-child {
    margin-top: 0; }

#site-container > section {
  margin-bottom: 0.21429em; }
  #site-container > section header {
    max-width: 68.57143em;
    margin: 0 auto 2.85714em; }
    #site-container > section header#landing-intro {
      border-bottom: 1px solid #d0d0d0;
      margin: 0 auto;
      /*p{
          @include Lora;
          color: #222;
          font-size:em(18, $font-base);
          line-height: 1.6;
      }*/ }

.callout-stagger > ul {
  list-style: none;
  padding: 0;
  margin: 0; }

#site-container > section header, .link-container, #tuition-and-aid, #news-and-events .col-3:last-child, .clarion-alert.reverse h2, .homepage-error.reverse h2, .link-footer div {
  text-align: center; }

.container, header.page, #site-search, #nav-menu ul, a.icon-btn, .callout-stagger, .callout-stagger > ul:not(.left-overflow):not(.right-overflow), ul.carousel, #prospective-students, #prospective-students p, #tuition-and-aid .link-container, .icon-container, .event_item, .info-container, .clarion-alert, .homepage-error, footer ul, .footer-nav .row {
  *zoom: 1; }
  .container:before, header.page:before, #site-search:before, #nav-menu ul:before, a.icon-btn:before, .callout-stagger:before, .callout-stagger > ul:not(.right-overflow):not(.left-overflow):before, ul.carousel:before, #prospective-students:before, #prospective-students p:before, #tuition-and-aid .link-container:before, .icon-container:before, .event_item:before, .info-container:before, .clarion-alert:before, .homepage-error:before, footer ul:before, .footer-nav .row:before, .container:after, header.page:after, #site-search:after, #nav-menu ul:after, a.icon-btn:after, .callout-stagger:after, .callout-stagger > ul:not(.right-overflow):not(.left-overflow):after, ul.carousel:after, #prospective-students:after, #prospective-students p:after, #tuition-and-aid .link-container:after, .icon-container:after, .event_item:after, .info-container:after, .clarion-alert:after, .homepage-error:after, footer ul:after, .footer-nav .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .container:after, header.page:after, #site-search:after, #nav-menu ul:after, a.icon-btn:after, .callout-stagger:after, .callout-stagger > ul:not(.right-overflow):not(.left-overflow):after, ul.carousel:after, #prospective-students:after, #prospective-students p:after, #tuition-and-aid .link-container:after, .icon-container:after, .event_item:after, .info-container:after, .clarion-alert:after, .homepage-error:after, footer ul:after, .footer-nav .row:after {
    clear: both; }

@media only screen and (min-width: 48em) {
  button.m-btn {
    display: none; } }

@media only screen and (min-width: 60.0625em) {
  .mobile-menu {
    display: none; } }

.callout-stagger > ul.left-overflow, .callout-stagger > ul.right-overflow {
  display: none; }
  @media only screen and (min-width: 60.0625em) {
    .callout-stagger > ul.left-overflow, .callout-stagger > ul.right-overflow {
      display: inherit !important; } }

.blueContainer, header.page {
  background: #193b69;
  color: #fff; }
  .blueContainer a, header.page a {
    text-decoration: none;
    color: #fff; }

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-search:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-exclamation-triangle:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook:before {
  content: ""; }

.fa-bars:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;  }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol, nav ul {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)*/
html,
button,
input,
select,
textarea {
  color: #222; }

html, body {
  height: 100%; }

html {
  font-size: 10px; }

body {
  width: 100%;
  line-height: 1.7;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #efefef;
  background-image: url("../img/grunge_wall.png");
  background-attachment: fixed; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    body {
      background-image: url("../img/grunge_wall_2x.png");
      background-size: 500px 375px; } }

button.m-btn {
  font-weight: 700;
  background-color: #666;
  width: 100%;
  color: #fff;
  padding: 1.07143em;
  text-align: left; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

nav ul {
  margin: 0;
  padding: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #fff;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

small {
  font-weight: bold;
  text-transform: uppercase; }

button {
  border: none;
  text-transform: uppercase; }

ol, ul {
  line-height: 25px; }

ul {
  list-style: square; }

/* Author Styles */
#site-wrapper {
  min-width: 320px;
  min-width: 32rem;
  position: relative;
  overflow: hidden;
  width: 100%; }

#site-container {
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.5s ease-in-out 0s; }
  #site-container > section > .container {
    padding: 40px 15px;
    padding: 4rem 1.5rem; }
  @media only screen and (min-width: 60.0625em) {
    #site-container {
      position: static; } }

.container {
  max-width: 1170px;
  max-width: 117rem;
  padding: 20px 15px;
  padding: 2rem 1.5rem;
  margin: 0 auto; }

.blueContainer h1, .blueContainer h2 {
  color: #fff; }
.blueContainer h3 {
  color: #dcaa00; }
.blueContainer a:hover {
  color: #dcaa00; }

@media only screen and (min-width: 48em) {
  .col-3 {
    float: left;
    width: 30.76923%;
    margin: 0 1.28205%;
    /*&:first-of-type{
        margin-left: 0;
    }*/ } }

table {
  width: 100%;
  font-size: 0.85714em; }
  table > thead > tr > th {
    background-color: #dcaa00;
    padding: 0.625em;
    border-bottom: 1px solid #666;
    vertical-align: bottom; }
  table > tbody > tr > td {
    padding: 0.625em;
    border-top: 1px solid #666;
    vertical-align: bottom; }
  table.table-stripped > tbody > tr:nth-child(even) {
    background-color: #d0d0d0; }

th {
  text-align: left; }

@media only screen and (max-width: 48em) {
  table.table-responsive {
    display: block;
    position: relative;
    width: auto; }
    table.table-responsive > thead {
      display: block;
      float: left; }
      table.table-responsive > thead > tr {
        display: inline-block; }
        table.table-responsive > thead > tr > th {
          border: 1px solid #a98300;
          display: block; }
    table.table-responsive > tbody {
      display: block;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
      width: auto; }
      table.table-responsive > tbody > tr {
        display: inline-block;
        border-right: 1px solid #babcbf;
        margin-right: -5px; }
        table.table-responsive > tbody > tr > td {
          border: 1px solid #a6a6a6;
          display: block; } }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
h1,
h2,
h3,
h4,
h5,
a,
input {
  border: 0 none;
  margin-top: 0;
  outline: 0 none;
  vertical-align: baseline; }

a {
  color: #193b69;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  a:hover {
    color: #9b8542; }

p {
  margin-bottom: 1.42857em; }
  p.more a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
    p.more a:hover {
      text-decoration: underline; }

h1 {
  color: #193b69; }
  @media only screen and (min-width: 48em) {
    h1 {
      font-size: 3.42857em; } }

h2 {
  color: #193b69; }
  @media only screen and (min-width: 48em) {
    h2 {
      font-size: 2.28571em; } }

h3 {
  color: #193b69;
  text-transform: uppercase; }
  @media only screen and (min-width: 48em) {
    h3 {
      font-size: 1.5em; } }

h4 {
  font-size: 1.14286em; }

h5 {
  font-size: 1.28571em;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0.5px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-bottom: 10px;
  margin-bottom: 1rem; }

h1, h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.0625em; }

h4 {
  text-transform: uppercase; }

header.page {
  text-align: center; }
  @media only screen and (min-width: 60.0625em) {
    header.page {
      position: relative;
      padding-top: 72px;
      padding-top: 7.2rem;
      text-align: left; } }

.logo {
  width: 220px;
  width: 22rem;
  height: 69px;
  height: 6.9rem;
  display: inline-block;
  background-image: url("../img/clarionSprite.png");
  background-repeat: no-repeat; }
  .logo strong {
    visibility: hidden;
    display: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .logo {
      background-image: url("../img/clarionSprite_2x.png");
      background-size: 521px 275px; } }
  @media only screen and (min-width: 60.0625em) {
    .logo {
      float: left; } }

#tagline {
  width: 290px;
  width: 29rem;
  height: 25px;
  height: 2.5rem;
  background-image: url("../img/clarionSprite.png");
  text-indent: -71.35714em;
  background-position: 0 -239px;
  background-repeat: no-repeat;
  margin: 1.42857em auto 0; }
  #tagline strong {
    visibility: hidden;
    display: none; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #tagline {
      background-image: url("../img/clarionSprite_2x.png");
      background-size: 521px 275px; } }
  @media only screen and (min-width: 30em) {
    #tagline {
      width: 446px;
      width: 44.6rem;
      height: 38px;
      height: 3.8rem;
      background-position: 0 -200px;
      margin: 1.25em auto; } }

#site-search {
  max-width: 85.71429em;
  margin: 0 auto;
  z-index: 10;
  display: none; }
  @media only screen and (min-width: 60.0625em) {
    #site-search {
      position: absolute;
      display: block !important;
      top: 0.57143em;
      right: 1.07143em;
      width: 15%;
      z-index: 11; } }
  @media only screen and (min-width: 75em) {
    #site-search {
      width: 32%; } }

#nav-menu ul, footer ul {
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.mobile-menu {
  color: #fff;
  background: #193b69; }
  .mobile-menu.left {
    float: left; }
  .mobile-menu.right {
    float: right; }
  .mobile-menu span {
    margin-top: 0.21429em; }

#nav-menu {
  position: absolute;
  top: 0;
  left: -75%;
  width: 75%;
  background-color: #476287;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  z-index: -10; }
  #nav-menu li {
    border-bottom: 1px solid #193b69;
    padding: 1.42857em 0; }
    #nav-menu li a {
      color: #fff;
      display: block;
      padding: 0 0.625em; }
      #nav-menu li a:hover {
        text-decoration: underline; }
  #nav-menu h4 {
    background-color: #7daed3;
    padding: 0.71429em;
    font-weight: normal;
    margin: 0; }
  #nav-menu .container {
    padding: 0; }
  @media only screen and (min-width: 48em) {
    #nav-menu {
      left: -40%;
      width: 40%; } }
  @media only screen and (min-width: 60.0625em) {
    #nav-menu {
      position: relative;
      left: 0;
      background-color: transparent;
      width: auto;
      height: auto;
      z-index: 10;
      overflow-y: visible; }
      #nav-menu .container {
        padding: 20px 15px;
        padding: 2rem 1.5rem; }
      #nav-menu li {
        padding: 0;
        border-bottom: none;
        float: left; } }

@media only screen and (min-width: 60.0625em) {
  #main-navigation, .global-nav {
    text-transform: uppercase; }
    #main-navigation h4, .global-nav h4 {
      display: none; }
    #main-navigation li a, .global-nav li a {
      line-height: 1;
      border-left: 2px solid #fff; }
    #main-navigation li:first-child a, .global-nav li:first-child a {
      border: none; } }

@media only screen and (min-width: 60.0625em) {
  #main-navigation {
    border-top: 2px solid #fff; }
    #main-navigation ul {
      text-align: center;
      max-width: 60.36em; }
    #main-navigation li {
      float: none;
      display: inline-block; } }

@media only screen and (min-width: 60.0625em) {
  .global-nav {
    font-size: 0.85714em;
    background-color: #9b8542;
    position: absolute;
    width: 100%;
    top: -15.41667em; } }

@media only screen and (min-width: 60.0625em) {
  .info-nav {
    max-width: 97.5em;
    font-size: 0.85714em;
    position: relative;
    margin: 0 auto; }
    .info-nav h4 {
      font-weight: 700 !important;
      padding: 0 !important;
      text-transform: capitalize !important;
      background-color: transparent !important;
      margin-bottom: 0.41667em !important; }
    .info-nav li {
      width: 10.83333em; }
      .info-nav li a {
        padding: 0 !important; }
      .info-nav li:nth-child(even) {
        width: auto; }
    .info-nav .container {
      width: 18.83333em;
      position: absolute;
      top: -13.66667em;
      right: 1.25em;
      padding: 0 !important; } }

.menu-open #site-container {
  -webkit-transform: translate3d(75%, 0px, 0px);
  -moz-transform: translate3d(75%, 0px, 0px);
  -ms-transform: translate3d(75%, 0px, 0px);
  -o-transform: translate3d(75%, 0px, 0px);
  transform: translate3d(75%, 0px, 0px); }
  @media only screen and (min-width: 48em) {
    .menu-open #site-container {
      -webkit-transform: translate3d(40%, 0px, 0px);
      -moz-transform: translate3d(40%, 0px, 0px);
      -ms-transform: translate3d(40%, 0px, 0px);
      -o-transform: translate3d(40%, 0px, 0px);
      transform: translate3d(40%, 0px, 0px); } }
  @media only screen and (min-width: 60.0625em) {
    .menu-open #site-container {
      -webkit-transform: translate3d(0%, 0px, 0px);
      -moz-transform: translate3d(0%, 0px, 0px);
      -ms-transform: translate3d(0%, 0px, 0px);
      -o-transform: translate3d(0%, 0px, 0px);
      transform: translate3d(0%, 0px, 0px); } }

.menu-open #site-wrapper {
  height: 100%; }
  @media only screen and (min-width: 60.0625em) {
    .menu-open #site-wrapper {
      overflow: visible; } }
.menu-open body {
  overflow: hidden; }
  @media only screen and (min-width: 60.0625em) {
    .menu-open body {
      overflow: visible; } }

a.btn-o, a.btn-s, a.btn-blue, a.btn-blue-s {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 400px;
  line-height: 1.2; }
  a.btn-o > span, a.btn-s > span, a.btn-blue > span, a.btn-blue-s > span {
    display: block;
    padding: 0.71429em 1.07143em; }
a.icon-btn {
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  position: relative;
  background-color: #476287;
  text-decoration: none;
  font-size: 1.28571em;
  max-width: 400px;
  width: 100%; }
  a.icon-btn > span {
    float: left;
    padding: 0.55556em; }
  a.icon-btn .icon {
    background-color: #193b69;
    width: 1.78571em; }
  @media only screen and (min-width: 48em) {
    a.icon-btn {
      max-width: auto; } }
a.btn-o {
  color: #fff;
  border: 3px solid #fff;
  width: 98.125%; }
  a.btn-o:hover {
    color: #193b69 !important;
    background-color: #fff; }
a.btn-blue {
  color: #193b69;
  border: 3px solid #193b69;
  width: 98.125%; }
  a.btn-blue:hover {
    color: #fff;
    background-color: #193b69; }
a.btn-s {
  color: #193b69;
  background-color: #fff;
  width: 100%; }
  a.btn-s:hover {
    color: #dcaa00; }
a.btn-blue-s {
  color: #fff;
  background-color: #193b69;
  width: 100%; }
  a.btn-blue-s:hover {
    color: #dcaa00; }

.gutter-size {
  width: 3.8961%; }

@media only screen and (min-width: 30em) {
  #callout-container .callout {
    width: 48.05195%; } }

.callout {
  background-color: #193b69;
  color: #fff;
  margin-bottom: 1.42857em;
  width: 100%; }
  .callout h2, .callout h3, .callout h4, .callout h5 {
    color: #fff; }
  .callout h3, .callout h4 {
    margin-bottom: 0; }
    .callout h3 a, .callout h4 a {
      text-decoration: none; }
      .callout h3 a:hover, .callout h4 a:hover {
        text-decoration: underline; }
  .callout img {
    display: block;
    margin: 0 auto; }
  .callout p.more {
    border-top: 3px solid #fff;
    padding-top: 1.07143em; }
  .callout a {
    color: #fff; }
  .callout.green {
    background-color: #7a9c48; }
  .callout.d-blue {
    background-color: #193b69; }
  .callout.m-blue {
    background-color: #476287; }
  .callout.l-blue {
    background-color: #7daed3; }

.callout-content {
  padding: 5.40541%; }

aside .callout {
  margin-top: 1.42857em; }
@media only screen and (min-width: 48em) {
  aside {
    float: right;
    width: 19.28571em;
    margin: 0 0 2.14286em 2.14286em; } }

.gutter-size {
  width: 3.8961%; }

.img-callout img {
  display: block;
  margin: 0 auto; }
.img-callout > div {
  padding: 0 5.40541%;
  width: 89.18919%;
  position: absolute;
  bottom: 1.42857em; }
@media only screen and (min-width: 30em) {
  .img-callout {
    width: 48.05195%; } }

input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.35714em;
  /*&.search_input{
  	padding-left: em(30, $font-base);
  	 @include retina-image("../img/search-icon", 16px 16px);
  	 background-repeat: no-repeat;
  	  background-position: 0.625em center;
  }*/ }
  input[type="text"].search-input {
    padding: 0.71429em 0.71429em 0.71429em 2.14286em;
    background-image: url("../img/clarionSprite.png");
    background-repeat: no-repeat;
    background-position: -498px 9px;
    border: 1px solid #d0d0d0;
    width: 100%; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      input[type="text"].search-input {
        background-image: url("../img/clarionSprite_2x.png");
        background-size: 521px 275px; } }

@media only screen and (max-width: 960px) {
  .scroll-x {
    padding: 0 !important;
    overflow-x: scroll; } }
.title-block {
  text-align: center; }
  .title-block h2 {
    font-size: 1.71429em; }

.callout-stagger {
  position: relative;
  margin: 0 auto; }
  .callout-stagger .h-item {
    display: none; }
  .callout-stagger > ul > li {
    width: 300px;
    width: 30rem; }
  .callout-stagger > ul:not(.left-overflow):not(.right-overflow) {
    float: left;
    pointer-events: none; }
    .callout-stagger > ul:not(.left-overflow):not(.right-overflow) > li {
      float: left;
      pointer-events: auto;
      margin-bottom: 0;
      overflow: hidden;
      position: relative; }
      .callout-stagger > ul:not(.left-overflow):not(.right-overflow) > li hr {
        border-color: #fff; }
  .callout-stagger > ul.left-overflow, .callout-stagger > ul.right-overflow {
    position: absolute;
    /*	li{
    		float:none;
    	}*/ }
  .callout-stagger.programs {
    width: 1500px;
    width: 150rem; }
  .callout-stagger.admissions {
    width: 2100px;
    width: 210rem; }
  @media only screen and (min-width: 60.0625em) {
    .callout-stagger {
      max-width: 900px;
      max-width: 90rem; }
      .callout-stagger .h-item {
        display: block; }
      .callout-stagger > ul > li {
        height: 300px;
        height: 30rem; }
      .callout-stagger > ul.left-overflow {
        left: -21.42857em; }
      .callout-stagger > ul.right-overflow {
        right: -21.42857em; }
      .callout-stagger > ul:not(.left-overflow):not(.right-overflow) {
        margin: 0 0 -10.71429em; }
        .callout-stagger > ul:not(.left-overflow):not(.right-overflow) > li:nth-child(odd) {
          margin-top: 10.71429em; }
      .callout-stagger.programs ul:nth-last-child(2) {
        margin-bottom: 0px; }
      .callout-stagger.admissions ul:last-child {
        margin-bottom: 0px; } }

ul.carousel {
  padding: 0;
  margin: 0;
  height: 0;
  list-style: none;
  overflow: hidden; }
  ul.carousel li {
    position: relative;
    float: left;
    max-width: 54.85714em; }

#slideContainer {
  position: relative; }
  #slideContainer #next, #slideContainer #prev {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.75); }
    #slideContainer #next > span, #slideContainer #prev > span {
      cursor: pointer;
      position: absolute;
      margin-top: -1.42857em;
      display: block;
      width: 2.85714em;
      height: 2.85714em;
      background-color: rgba(182, 182, 181, 0.75);
      text-align: center; }
    #slideContainer #next .fa, #slideContainer #prev .fa {
      margin-top: 1.07143em; }
  #slideContainer #next {
    right: 0; }
  #slideContainer #prev {
    left: 0; }
    #slideContainer #prev > span {
      right: 0; }

.carousel-desc {
  background: #7daed3;
  padding: 1.07143em; }
  .carousel-desc h2 {
    color: #fff; }
  .carousel-desc a {
    width: auto; }
  @media only screen and (min-width: 48em) {
    .carousel-desc {
      background: none;
      position: absolute;
      bottom: 2.85714em;
      left: 0;
      width: 80%; }
      .carousel-desc h2 {
        text-shadow: 0px 0px 10px #000; } }

.video, .poster-image {
  cursor: pointer; }

.video {
  position: relative;
  margin: 0 auto;
  max-width: 56.5em;
  z-index: 10; }

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }

.video-overlay {
  background: #000;
  height: 100%;
  opacity: 0.75;
  position: absolute;
  top: 0;
  transition: all 0.5s ease 0s;
  width: 100%; }
  .video-overlay.transition {
    opacity: 0.75; }

.fa-play-circle-o {
  position: absolute;
  color: #fff;
  font-size: 5.35714em;
  left: 50%;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.blueContainer h1, .blueContainer h2 {
  color: #fff; }
.blueContainer h3 {
  color: #dcaa00; }
.blueContainer a:hover {
  color: #dcaa00; }

@media only screen and (min-width: 48em) {
  .col-3 {
    float: left;
    width: 30.76923%;
    margin: 0 1.28205%;
    /*&:first-of-type{
        margin-left: 0;
    }*/ } }

.mobile-header header {
  margin-bottom: 0 !important; }
@media only screen and (min-width: 60.0625em) {
  .mobile-header {
    display: none; } }

#prospective-students a {
  width: auto; }
#prospective-students .frame {
  margin: -2.85714em -1.07143em 2.85714em; }
@media only screen and (min-width: 48em) {
  #prospective-students .frame {
    margin-bottom: -2.85714em;
    margin-right: 2.14286em;
    width: 65.64103%;
    float: left; }
    #prospective-students .frame + div {
      float: left;
      width: 31.79487%; } }

@media only screen and (min-width: 48em) {
  #tuition-and-aid .link-container {
    width: 102.5641%;
    margin-left: -2.5%; }
    #tuition-and-aid .link-container > div {
      float: left;
      width: 47.5%;
      margin-left: 2.5%; } }
#tuition-and-aid .link-container > div {
  margin-bottom: 1.42857em; }
  @media only screen and (min-width: 60.0625em) {
    #tuition-and-aid .link-container > div {
      margin-bottom: 0;
      width: 22.5%; } }

.status-icon {
  background-image: url("../img/clarionSprite.png");
  background-position: -468px -26px;
  background-repeat: no-repeat;
  width: 3.71429em;
  height: 2.42857em;
  margin: 0 auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .status-icon {
      background-image: url("../img/clarionSprite_2x.png");
      background-size: 521px 275px; } }

.icon-container {
  width: 20.71429em;
  margin: 2.14286em auto; }
  @media only screen and (min-width: 30em) {
    .icon-container {
      width: 31.07143em; } }
  @media only screen and (min-width: 48em) {
    .icon-container {
      width: 51.64286em; } }
  @media only screen and (min-width: 60.0625em) {
    .icon-container {
      width: 65.35714em; } }

.aid-icon {
  display: block;
  margin: 0 0.53571em 1.42857em;
  width: 9.28571em;
  float: left; }
  .aid-icon span {
    display: block;
    margin: 0 auto; }
  .aid-icon > div {
    background-image: url("../img/clarionSprite.png");
    background-repeat: no-repeat;
    width: 9.28571em;
    height: 9.28571em;
    margin: 0 auto 1.42857em; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      .aid-icon > div {
        background-image: url("../img/clarionSprite_2x.png");
        background-size: 521px 275px; } }
    .aid-icon > div.tuition-icon {
      background-position: 0px -70px; }
    .aid-icon > div.fees-icon {
      background-position: -131px -70px; }
    .aid-icon > div.room-icon {
      background-position: -261px -70px; }
    .aid-icon > div.calculator-icon {
      background-position: -391px -70px; }
  @media only screen and (min-width: 30em) {
    .aid-icon {
      margin-left: 3.125em;
      margin-right: 3.125em; } }
  @media only screen and (min-width: 48em) {
    .aid-icon {
      margin: 0 1.81214em; } }
  @media only screen and (min-width: 60.0625em) {
    .aid-icon {
      margin: 0 3.52643em; } }

#news-and-events .col-3 > h4 {
  color: #193b69;
  border-bottom: 3px solid #193b69;
  text-align: center;
  padding-bottom: 0.9375em; }
#news-and-events .col-3:last-child h4 ~ * {
  padding: 0 20px; }

.news-list .event_item:nth-child(odd) {
  background-color: #fff; }
.news-list .event_item:nth-child(even) {
  background-color: #efefef; }

.event_item {
  display: block;
  padding: 1.07143em;
  border-bottom: 1px solid #d0d0d0;
  color: #000;
  text-decoration: none; }
  .event_item h4 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .event_item p:last-child {
    margin: 0; }

a.event_item:hover h4 {
  color: #dcaa00; }
a.event_item:hover .date-box {
  background-color: #193b69; }

.date {
  color: #7a9c48;
  font-weight: 600; }

.date-box {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  float: left;
  color: #fff;
  background-color: #7daed3;
  padding: 0.35714em 1.07143em; }
  .date-box span {
    display: block; }
  .date-box + div {
    margin-left: 5em; }
  @media only screen and (min-width: 48em) {
    .date-box {
      padding: 0.71429em 1.42857em; }
      .date-box + div {
        margin-left: 5.71429em; } }

.right-col .event_item {
  padding-left: 0;
  padding-right: 0; }
.right-col .date-box {
  margin-right: 0.625em; }

.info-container {
  margin-bottom: 1.25em;
  padding-bottom: 1.25em;
  border-bottom: 1px solid #d0d0d0; }
  .info-container .row span {
    display: block;
    margin-bottom: 0.625em; }
  @media only screen and (min-width: 48em) {
    .info-container .row {
      float: left;
      width: 48.64865%;
      margin-left: 2.7027%; }
      .info-container .row.info br {
        display: none; }
      .info-container .row:first-child {
        margin-left: 0; } }

.clarion-alert.reverse, .homepage-error.reverse {
  background: #101318;
  color: #fff; }
  .clarion-alert.reverse a, .homepage-error.reverse a {
    color: #fff; }
  .clarion-alert.reverse .SmartBoard_Table, .homepage-error.reverse .SmartBoard_Table {
    border: 1px solid #242b37;
    background: #1a1f27; }
.clarion-alert h2, .homepage-error h2 {
  color: #dcaa00; }
.clarion-alert .alert, .homepage-error .alert {
  max-width: 68.57143em;
  margin: 0 auto; }
.clarion-alert .fa-lg, .homepage-error .fa-lg {
  vertical-align: 0; }

.SmartBoard_Table {
  margin: 0 auto 20px;
  border: 1px solid #bcbcbc;
  background: #EFEFEF; }
  .SmartBoard_Table tr {
    font-size: 14px; }
  .SmartBoard_Table tr:first-child {
    font-size: 16px;
    color: #dcaa00;
    font-weight: bold; }
  .SmartBoard_Table td {
    border: none;
    padding: 5px 20px; }

footer {
  font-size: 0.85714em;
  color: #fff; }
  footer .logo {
    display: block;
    margin-bottom: 1.42857em; }
    @media only screen and (min-width: 48em) {
      footer .logo {
        float: left; } }
  footer section {
    margin-bottom: 0px; }
  footer p {
    margin-top: 0; }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      color: #fff;
      text-decoration: underline; }

@media only screen and (min-width: 48em) {
  .link-footer div {
    float: left;
    width: 31.62393%;
    margin-left: 2.5641%;
    margin-top: 0; }
    .link-footer div:first-child {
      margin-left: 0; } }

.footer-nav {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff; }
  .footer-nav ul {
    border-top: 3px solid #7daed3;
    margin-bottom: 30px; }
  .footer-nav button {
    text-align: center; }
  @media only screen and (min-width: 48em) {
    .footer-nav .row div {
      float: left;
      margin-left: 2.5641%;
      width: 23.07692%; }
      .footer-nav .row div:first-child {
        margin-left: 0; } }
  .footer-nav .footer-nav-list {
    display: none; }
    @media only screen and (min-width: 48em) {
      .footer-nav .footer-nav-list {
        display: block; } }
  .footer-nav.menu-open button {
    border-bottom: 3px solid #fff; }
  .footer-nav.menu-open .fa-chevron-down {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .footer-nav.menu-open .footer-nav-list {
    display: block; }

.misc-links ul {
  border-top: none; }
@media only screen and (min-width: 48em) {
  .misc-links {
    float: right !important; } }

.footer-info {
  background-color: #9b8542; }
  .footer-info ul {
    margin-bottom: 1.42857em; }
  @media only screen and (min-width: 48em) {
    .footer-info .container div {
      float: left;
      margin-left: 2.5641%; }
      .footer-info .container div:first-child {
        margin-left: 0; } }
  .footer-info li {
    float: left; }
    .footer-info li a {
      display: block;
      line-height: 1;
      border-left: 2px solid #fff;
      padding: 0 0.625em; }
    .footer-info li:first-child a {
      border: none;
      padding-left: 0; }
  @media only screen and (min-width: 48em) {
    .footer-info {
      font-size: 1em; } }

#social-footer a {
  border: none;
  display: block;
  padding: 0 0.3125em; }
  #social-footer a:hover {
    color: #193b69; }

#footer-logos a {
  display: block;
  margin-bottom: 0.35714em; }
@media only screen and (min-width: 60.0625em) {
  #footer-logos {
    float: right;
    text-align: right; } }

/* Added for ticket #46107 virtual_tour */
.VirtualTourContainer {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative; }

.VirtualTourContainer iframe,
.VirtualTourContainer object,
.VirtualTourContainer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

.cu-button-blue {
	text-transform:uppercase;
    font-weight:700;
    border:3px solid white;
    padding:8px 40px;
	background-color: #00336600;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}
.cu-button-blue:hover {
  background-color: #ffffff;
  color: #003366;
}
.cu-button-gold {
	text-transform:uppercase;
    font-weight:700;
    border:3px solid white;
    padding:8px 40px;
	background-color: #97824A;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
}
.cu-button-gold:hover {
  background-color: #ffffff;
  color: #97824A;
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(http://fonts.gstatic.com/s/lora/v14/0QIhMX1D_JOuMw_LIftO.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(http://fonts.gstatic.com/s/lora/v14/0QIiMX1D_JOuMw_Dmt5emNGu.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiYA.ttf) format('truetype');
}

