html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}:focus{outline:0}
body{background:#FFF;color:#000;line-height:1}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0}
caption,th,td{font-weight:400;text-align:left}
blockquote:before,blockquote:after,q:before,q:after{content:""}
blockquote,q{quotes:"" ""}

/** enCircle Specific Changes Below ********************************************/
strong {font-weight:bold}
em {font-style:italic}
td {vertical-align:top}
ol {list-style-type:decimal;list-style-position:outside; margin-left: 20px}
ul {list-style-type:disc; list-style-position:outside; margin-left: 20px}
p {margin-bottom: 10px}
/*div {overflow:hidden}*/
body { padding: 0; margin: 0; font-family: Verdana,Geneva,sans-serif; font-size: 13px; line-height: 1.4em; background: #002546; position:relative; }

a, img { border: none; color: #0E4A88; }

.fl, .left {float: left;}
.fr, .right {float: right;}
.floatcontainer { overflow: hidden; }

div.clear { clear: both; }

#main-container { padding-bottom: 5px; min-width: 980px; min-height: 890px; }
#main-container #main-header { height:132px; width: 100%; background: url(/images/header-bg.jpg) repeat-x; z-index: 999; }
#main-header .centered { width:980px; height: 132px; margin: 0 auto; z-index: 999; }

#main-header .centered .logo-section { float: left; width: 28%; margin-top: 10px; }
#main-content { z-index: -99; } 

/*************************************************************************************************/
/** Navigation
/*************************************************************************************************/
#main-header .centered .navi-section { float: right; width: 71%; position: relative; height: inherit; }
#main-header .centered .navi-section .main-navi { position: absolute; top: 84px; right: 0; }
#main-header .centered .navi-section .main-navi ul { background: url(/images/header-navi-bg-lvl1.jpg) repeat-x; height: 30px; list-style-type: none; margin: auto 0 auto auto; padding: 0 0 5px 0; z-index: 999; }
#main-header .centered .navi-section .main-navi ul li { float:left; padding: 6px 7px 5px; border-right: solid 1px #0B83E6; list-style-type: none; z-index: 999; border-top: solid 1px #fff; }

#main-header .centered .navi-section .main-navi ul li.last { border-right: solid 0px #0B83E6; }
#main-header .centered .navi-section .main-navi ul li.last ul { border-right: solid 0px #0B83E6; margin-left: 0 !important; right: 0; }
#main-header .centered .navi-section .main-navi ul li a { color: #fff; font-size: 13px; text-decoration: none; display: block; }
#main-header .centered .navi-section .main-navi ul li a:hover { color: #8A8169; }

#main-header .centered .navi-section .main-navi ul li ul { display: none; position: absolute; z-index: 1000; list-style-type: disc; padding: 0; top: 25px; margin-left: -7px; z-index: 999; height: auto; }
#main-header .centered .navi-section .main-navi ul li ul li { border: none; border-bottom: solid 1px #515151; display: block; float: none; background: #043965; z-index: 999; }
#main-header .centered .navi-section .main-navi ul li ul li a { font-size: 11px; }

/*************************************************************************************************/
/** Quick Search
/*************************************************************************************************/
#main-header .centered .navi-section #quick-search { position: absolute; right: 140px; z-index: 2000; width: 475px; top: 0; z-index: 999; }
#main-header .centered .navi-section #quick-search .qs-body { background: #2367A9; overflow: hidden; }
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody { padding: 10px; overflow: hidden; z-index: 999; }
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody ul {z-index:2000;margin:0;padding:0;list-style-type:none;float:left;display:block;width:151px;}
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody ul li {z-index:2000}
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody ul a {z-index:2000;padding:5px;display:block;color:#FFF; font-size: 10px; text-decoration: none;}
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody ul a:visited {z-index:2000;color:#FFF}
#main-header .centered .navi-section #quick-search .qs-body .findItFastBody ul a:hover {z-index:2000;background-color:#f5f2ef;text-decoration:none;color:#000}

#main-header .centered .navi-section #quick-search .qs-search { background: url(/images/qs-bg.png) no-repeat; width: 343px; height: 32px; margin-top: -2px; }
#main-header .centered .navi-section #quick-search .qs-search .qss-title { width: 103px; height: 38px; background: url(/images/qs-title.png) no-repeat; margin-left: 16px; cursor: pointer; }
#main-header .centered .navi-section #quick-search .qs-search .qss-input { padding-top: 5px; }
#main-header .centered .navi-section #quick-search .qs-search .qss-input input[type=text] { width: 160px; height: 19px; padding: 0; margin: 0; }
#main-header .centered .navi-section #quick-search .qs-search .qss-search { padding-left: 5px; padding-top: 6px; }

#main-header .centered .navi-section #quick-search-link { position: absolute; right: 0; }

/*************************************************************************************************/
/** Header Chat Section
/*************************************************************************************************/
#main-header .centered .navi-section #navi-chat-trigger { position: absolute; right: 0; top: 45px; } 


/*************************************************************************************************/
/** Footer
/*************************************************************************************************/
#main-container #main-footer { background: #002546;  }
#main-container #main-footer .centered { margin: 0 auto; width: 980px; height: inherit; }
#main-container #main-footer .centered .container { overflow: hidden; text-align: center; margin: 0 auto; }

#main-container #main-footer .centered .container .footerLinks { overflow: hidden; margin: 25px 19px 25px 15px; width: 665px; border-right: 1px solid #003A6D; float: left; }
#main-container #main-footer .centered .container .footerLinks ul { width: 24.7%; display: block; float: left; margin: 20px 11px; overflow: hidden; list-style-type: none; line-height: 13px; margin: 0; }
#main-container #main-footer .centered .container .footerLinks ul li { padding: 0; margin: 8px 0; width: 150px; text-align: left; }
#main-container #main-footer .centered .container .footerLinks ul li a { font-family: Verdana, Geneva, sans-serif; color: #8a8169; font-size: 11px; text-decoration: none; }

#main-container #main-footer .centered .container .accreditation { float: right; margin-top: 25px; width: 275px; }

#main-container #main-footer .centered .small-print { text-align: center; font-size: 10px; color: #fff; margin: 30px 0 0; }


/*************************************************************************************************/
/** Content
/*************************************************************************************************/
#main-container #main-content { background: url(/images/content-template-bg.jpg) repeat-x #155696; padding-bottom: 25px; }
#main-container #main-content .main-content-sectioned { margin: 0 auto; background: url(/images/content-template-section-bg.png) no-repeat center top;}
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner { width: 980px; margin: 0 auto; background: #fff; overflow: hidden; padding: 0 0 60px; min-height: 525px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .column-content-section { padding-top: 10px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left { float: left; width: 239px; margin: 0 0 10px 10px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right { float: right; overflow: hidden; width: 720px; }


/*************************************************************************************************/
/** Content Left Column
/*************************************************************************************************/
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation {}
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container {}
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Title { background-image: url(/images/left-navigation-top.jpg); background-repeat: no-repeat; background-color: #0D4075; color: #FFFFFF; padding: 7px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Title a {  color: #FFFFFF; font-size: 16px; text-decoration: none;  }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch { border-right: 1px solid #ccc; border-left: 1px solid #ccc; padding: 5px 0 75px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul { list-style-type: none; list-style-position: outside; margin: 0 5px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul li { font-size: 12px; border-bottom: solid 1px #ccc; margin: 0; padding: 4px 0; *border-bottom: solid 0px #fff; /*ie7 hack*/ }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul li.sideNav_Active { color: #978668; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul li ul { padding: 0 8px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul li ul li { border-bottom: solid 0px #fff !important; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Branch ul li a { color: #000000; text-decoration: none; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-navigation .sideNav_Container .sideNav_Bottom {  background-image: url(/images/left-navigation-bottom.jpg); height: 13px; width: 239px; }

#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-bottom { position: relative; height: 60px; margin-top: -75px; background-color: #0C4781 !important; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .stay-connected { position: absolute; width: 253px; height: 43px; top: 10px; background: url(/images/home-info-section-header.png) no-repeat; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .stay-connected .title { font-size: 11px; color: #fff; margin: 7px 0 0 12px; float: left; }

#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .stay-connected .links div.wgtLink_df19_connect { float: right; margin: 7px 20px 0 0; background: none; border: none; padding: 0; width: 105px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .stay-connected .links div.wgtLink_df19_connect.wgtLink_df19_connect a { text-decoration: none; }

#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-left .left-bottom-extras,
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner #sub-section-online-bottom .column-left .left-bottom-extras /* for template 7*/  { text-align: center; margin-top: 20px; }
/*************************************************************************************************/
/** Content Right Column
/*************************************************************************************************/
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right ul,
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right ol { margin: 5px 35px 10px; }


#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section { margin: 0 auto; padding-top: 26px; overflow: hidden; width: 705px; background: url(/images/right-content-header-bg.jpg) no-repeat #0D4075; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section .tX_Breadcrumb { color: #fff; font-size: 14px; margin-left: 15px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section .tX_Breadcrumb a { color: #fff; text-decoration: none; } 
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section .tX_Title { margin: 16px 0 0 14px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section .tX_Title h1 { border-bottom: 2px solid #9A8A70; color: #fff; float: left; font-size: 24px; padding: 0 40px 7px 0; width: 528px; line-height: 1.1em; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-header-section-bottom { margin: 0 auto; width: 705px; height: 19px; background: url(/images/right-content-header-bg-bottom.jpg) no-repeat; }

#main-container #main-content .main-content-sectioned .main-content-sectioned-inner .content-column-right .content-text-section { width: 705px; margin: 15px auto 0; }



/*************************************************************************************************/
/** USW Online Section
/*************************************************************************************************/

/************ Top Menu Links ************/
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner #sub-header-online-menu {  background: #9A8A6E; min-height: 30px; *min-height: 36px; /*ie7 hack*/ }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner #sub-header-online-menu .wgtLink_df62_lnklsttxt { overflow: hidden; width:92%; margin: 0 auto ; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner #sub-header-online-menu .wgtLink_df62_lnklsttxt a { float: left; margin: 10px 35px; color: #fff; text-decoration: none; font-size: 14px; }
#main-container #main-content .main-content-sectioned .main-content-sectioned-inner #sub-header-online-menu .wgtLink_df62_lnklsttxt a:hover { color: #DFBD5D; }



/*************************************************************************************************/
/** Emergency Notification
/*************************************************************************************************/
.notificationBulletin {color:#F63C47;font-weight:bold;font-size:13px; z-index: 1; position: absolute; top: 40px; right: 117px;}
.notificationBulletinLink {color:#E8B95F;font-weight:bold;font-size:13px}
.notificationTitle {padding-bottom:10px}
.notificationText{}







/****************************************************************************************************************/
/** Template 32766 Classes
/****************************************************************************************************************/
div.t32766z10 {padding:10px;overflow:hidden}
div.t32766z10 a {color:#515151}

﻿/*************************************************************************************************/
/** Widget Classes
/*************************************************************************************************/
table.wgtContact_df6 {margin:0 auto}
table.wgtContact_df6 td {padding:5px}
table.wgtContact_df6 th {color:#000;background-color:#eee;font-weight:bold;padding:3px}
.departmentLinks{color:#515151}
.departmentLinks:hover{color:#515151}
.departmentLinks:visited{color:#515151}

div.wgtEvent_DayView_MainTitle {font-weight:bold;font-size:15px;margin:5px 0 0 0;padding-left:5px}
div.wgtEvent_DayView_Content {background-color:#fff;vertical-align:bottom}
div.wgtEvent_DayView_Detail {line-height:14px}
span.wgtEvent_DayView_Tags {font-size:10px;padding-right:10px}
div.wgtEvent_DayView_Event {border-top:solid 4px #f2f2f2;padding:6px}
div.wgtEvent_DayView_Event:hover {background-color:#f9d770}
div.wgtEvent_DayView_Event a {color:#515151}
div.wgtEvent_DayView_Event a:visited {color:#515151}
div.wgtEvent_DayView_NoEvents {height:75px;padding:5px}
div.wgtEvent_DayView_EventTime {font-size:10px;width:65px}
span.wgtEvent_DayView_Title {font-size:13px}

div.wgtEvent_df20 {width:678px}
div#wgtEvent_df20_MonthContainer {border:solid 1px #ddd}
div.wgtEvent_df20_Prev {float:left;font-size:10px;cursor:pointer}
div.wgtEvent_df20_MonthTitle {font-size:18px;font-weight:bold;width:200px;margin:5px auto;text-align:center}
div.wgtEvent_df20_Next {float:right;font-size:10px;cursor:pointer}
div.wgtEvent_df20_Navigation {display:none}
table.wgtEvent_df20 {}
table.wgtEvent_df20 tr {}
table.wgtEvent_df20 tr th {width:97px;color:#222;text-align:center;background-color:#C1BFBF;padding:5px 0}
table.wgtEvent_df20 tr td:hover {background-color: #85B8E5;background-image:none}
td.wgtEvent_df20_ActiveBorder {border-left:solid 1px #ddd}
td.wgtEvent_df20_InactiveBorder {border-left:solid 1px #eee}
td.wgtEvent_df20_NoBorder {border:0}
td.wgtEvent_df20_Inactive {width:97px;height:75px;background-color:#FFF}
td.wgtEvent_df20_Inactive div.wgtEvent_df20_Day {background-color:#fafafa;font-size:10px;line-height:10px;width:13px;color:#555}
td.wgtEvent_df20_Inactive div.wgtEvent_df20_Event {color:#c0c0c0}
td.wgtEvent_df20_Active {width:97px;height:75px;background: #FFF url(/Images/wdt-calendar-day-bg.png) bottom repeat-x}
td.wgtEvent_df20_Active div.wgtEvent_df20_Day {background-color:#eaeaea;font-size:10px;line-height:10px;width:13px;color:#555}
td.wgtEvent_df20_Today {background-color:#C6D6E4;background-image:none}
div.wgtEvent_df20_Event {font-size:9px;line-height:10px;padding:2px 1px 5px 1px}
div.wgtEvent_df20_Event a {color:#515151}
div.wgtEvent_df20_Event a:visited {color:#515151}
div.wgtEvent_df20_Event:hover {background-color:#C6D6E4}
div.wgtEvent_df20_WidgetHeader {font-weight:bold;font-size:15px;margin-bottom:10px;}
div.wgtEvent_df20_FilterContainer {background:#9F9177;border:solid 1px #897c65;color:#fff;margin-bottom:20px;padding:5px;font-size:11px;display:none}
div.wgtEvent_df20_Filter select {font-size:11px}
div.wgtEvent_df20_Filter {padding-right:30px;padding-top:3px}

/* Calendar and list Display Format */
div.wgtEvent_df59_Left{float:left;width:350px}
div.wgtEvent_df59_ListTitle{font-size:21px;margin-bottom:10px}
div.wgtEvent_df59_ListLeft{float:left;width:80px}
div.wgtEvent_df59_ListRight{float:left;width:250px}
div.wgtEvent_df59_Date{font-size:15px;margin-top:7px;font-weight:bold}
div.wgtEvent_df59_Tag{margin-top:4px;font-size:13px}
div.wgtEvent_df59_Icon{margin-top:5px}
a.wgtEvent_df59_Title{color:#005243;font-size:14px;font-weight:bold}
div.wgtEvent_df59_Text{}
div.wgtEvent_df59_Location{margin-top:3px}
div.wgtEvent_df59_Right{float:right}

div.wgtForm_df14_Container table {background-color:#e5e5e5;border:solid 1px #abadaa;margin-left:auto;margin-right:auto;padding: 10px 5px 20px;}
div.wgtForm_df14_Container td {padding:5px}
div.wgtForm_df14_Container2 table {background-color:#e5e5e5;border:solid 1px #abadaa;margin-left:auto;margin-right:auto;padding: 10px 5px 20px;}
/*div.wgtForm_df14_Container2 table, div.wgtForm_df14_Container2 #submit-btn-container {display: none;}*/
div.wgtForm_df14_Container2 #divFormMessage { background-color: #E5E5E5; border: 1px solid #ABADAA; color: #5E5E5E; font-weight: bold; padding: 25px; text-align: center; display: none; }

div.wgtLink_df8_Content {height:152px;background:#e7e7e7 url(/Images/Widget/wgtLink_df17_map.gif) top left no-repeat}
div.wgtLink_df8_Header {margin:8px 0px 0px 15px;height:25px}
div.wgtLink_df8_Label {margin:0px 0px 0px 30px;color:#767676;font-size:16px;height:25px}
div.wgtLink_df8_ddlList {margin:14px 0px 0px 54px;}
select.wgtLink_df8_ddlList {width:190px;height:20px;}

div.wgtLink_df15 {margin:9px 0px}
div.wgtLink_df15_Left {float:left;width:260px;height:202px}
div.wgtLink_df15_Banner {float:left;height:202px;margin-left:9px}
div.wgtLink_df15_Box {float:right;width:251px;height:58px;margin-bottom:14px;cursor:pointer}
div.wgtLink_df15_Active {background:url(/Images/Widget/wgtLink_df15_BkgActive.jpg) top left no-repeat}
div.wgtLink_df15_Inactive {background:url(/Images/Widget/wgtLink_df15_BkgInactive.jpg) top left no-repeat}
div.wgtLink_df15_Thumb {width:48px;height:48px;float:left;margin:5px 0 0 5px}
div.wgtLink_df15_Text {width:180px;float:left;margin:5px 0 0 7px}
div.wgtLink_df15_Active div.wgtLink_df15_Header {color:#0d4e41;font-size:14px;font-weight:bold;margin-top:5px}
div.wgtLink_df15_Active div.wgtLink_df15_Content {color:#000;margin-left:10px}
div.wgtLink_df15_Inactive div.wgtLink_df15_Header {color:#cccccc;font-size:14px;font-weight:bold;margin-top:5px}
div.wgtLink_df15_Inactive div.wgtLink_df15_Content {color:#afafaf;margin-left:10px}
div.wgtLink_df15_Inactive img {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5}

a.wgtLink_df16_Tab {display:block;height:26px;margin-top:1px}
a.wgtLink_df16_Tab0 {background:url(/Images/Widget/wgtLink_df16_Tab0.gif) top left no-repeat}
a.wgtLink_df16_Tab1 {background:url(/Images/Widget/wgtLink_df16_Tab1.gif) top left no-repeat}
a.wgtLink_df16_Tab2 {background:url(/Images/Widget/wgtLink_df16_Tab2.gif) top left no-repeat}
a.wgtLink_df16_Tab3 {background:url(/Images/Widget/wgtLink_df16_Tab3.gif) top left no-repeat}
a.wgtLink_df16_Tab4 {background:url(/Images/Widget/wgtLink_df16_Tab4.gif) top left no-repeat}
div.wgtLink_df16_Tab {height:60px;padding:10px;color:#fff}
div.wgtLink_df16_Tab0 {background:url(/Images/Widget/wgtLink_df16_Tab0b.gif) top left repeat-x}
div.wgtLink_df16_Tab1 {background:url(/Images/Widget/wgtLink_df16_Tab1b.gif) top left repeat-x}
div.wgtLink_df16_Tab2 {background:url(/Images/Widget/wgtLink_df16_Tab2b.gif) top left repeat-x}
div.wgtLink_df16_Tab3 {background:url(/Images/Widget/wgtLink_df16_Tab3b.gif) top left repeat-x}
div.wgtLink_df16_Tab4 {background:url(/Images/Widget/wgtLink_df16_Tab4b.gif) top left repeat-x}

div.wgtLink_df19_connect {width:240px;border:1px solid #ebe9e5;background:#f6f4f0;padding:5px;margin:10px 0px 10px 0px}
img.wgtLink_df19_connect {margin-left:7px;float:left}

span.wgtNews_Date {color:#898989;font-style:italic}

.wgtNews_df8_ImageLeft {float:left;padding:0 10px 10px 0}
.wgtNews_df8_ImageRight {float:right;padding:0 0 10px 10px}
.wgtNews_df8_ImageLeftCaption {float:left;margin:0 10px 10px 0;font-size:11px;line-height:12px}
.wgtNews_df8_ImageRightCaption {float:right;margin:0 0 10px 10px;font-size:11px;line-height:12px}
.wgtNews_df8_ImageCenter {display:block;margin: 0 auto;padding-bottom:10px}
.wgtNews_df8_ImageCenterCaption {display:block;margin: 0 auto 25px;font-size:11px;line-height:12px;text-align:center}
.wgtNews_df8_Caption{padding-top:5px}

div.wgtNews_df11_Header {font-weight:bold;font-size:15px;}
div.wgtNews_df11_Container {padding:10px;font-size:11px;line-height:20px;color:#565656}
div.wgtNews_df11_Item {float:left;width:100%;padding:10px 0;background:#fff url(../Images/Widget/wgtNews_DotBorder.gif) repeat-x}
div.wgtNews_df11_Item a {text-decoration:none;color:#6B6D45}
div.wgtNews_df11_Item a:hover {text-decoration:underline;color:#232323}
img.wgtNews_df11_Image {}
div.wgtNews_df11_Left {float:left;border:solid 1px #ddd;padding:2px;width:100px;height:100px}/**/
div.wgtNews_df11_Right {padding-left:10px;float:left;width:535px}/**/
div.wgtNews_df11_Left_Short {float:left;border:solid 1px #ddd;padding:2px;width:100px;height:100px}
div.wgtNews_df11_Right_Short {padding-left:10px;float:left;width:340px}
div.wgtNews_df11_Title {font-size:16px;font-weight:bold;padding-bottom:2px;padding-top:5px}
div.wgtNews_df11_Abstract {}
div.wgtNews_df11_ReadMore {padding-top:5px}
div.wgtNews_df11_ReadMore a {color:#565656;font-size:11px}
div#wgtNews_df11_ViewMoreItems {cursor:pointer;text-align:center;background-color:#f5f5f5}
div#wgtNews_df11_ViewMoreItems:hover {background-color:#ddd}

div.wgtNews_df12_Top {border:1px solid #cdcdcd;background:#f5f5f5}
div.wgtNews_df12_Header {height:22px;padding:5px 15px 0px 15px}
div.wgtNews_df12_Middle {border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;position:relative;height:220px;overflow:hidden}
div.wgtNews_df12_MiddleSub {position:absolute;top:0;left:0;display:block;width:9000px;padding-left:13px}
div.wgtNews_df12_ItemWrapper {float:left;width:175px;padding:10px 0 15px 0;margin:0 12px}
div.wgtNews_df12_ItemHeader {font-size:14px;font-weight:bold}
div.wgtNews_df12_ItemDate {color:#a6a6a6;margin-top:0px;font-size:11px}
div.wgtNews_df12_Content {margin-top:7px}
div.wgtNews_df12_Bottom {border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd}
div.wgtNews_df12_Arrows {float:right;margin:0 20px 0 0;position:relative;height:25px}
div.wgtNews_df12_VerticalBar {float:left;width:1px;height:170px;font-size:1px;background:#ededed;margin-top:8px}

#wgtNews_df12_ClickLeft {position:absolute;top:0;left:-25px;display:block;width:11px;height:13px;background:url(/Images/Widget/wgtNews_arrowLeft.gif)}
#wgtNews_df12_ClickRight {position:absolute;top:0;left:0px;display:block;width:11px;height:13px;background:url(/Images/Widget/wgtNews_arrowRight.gif)}

/* Form Widget CSS */

.formStandardText{width:198px}
.formStandardTextSmall{width:150px}
.formStandardTextArea{width:98%;height:200px}
.formLabelTD{width:30%}
.formDataTD{width:70%;text-align:left;}
.formCheckBoxTD{white-space:normal;}
.formCheckBoxTD input[type=radio], .formCheckBoxTD input[type=checkbox] { float: left; }
.formCheckBoxTD span {float: left;margin: -1px 0 5px 2px;padding: 0;width: 80%;}
.formHeadingSpacing{padding: 10px 0px 5px 5px}
.formControlSpacing{padding: 0px 0px 0px 5px}
.formControlSpacing .error{color:#FF7700;font-size:11px;}
.smallFormHeading{font-weight: bold; font-size: 18px; padding: 5px 0px 10px 10px;}
.smallFormCompleteMessage{color:#03401F;display:none;text-align:center;background-color:#e5e5e5;padding:10px;min-height:50px;border:solid 1px #abadaa}

.colReportFormHeading{font-weight:bold}
/*.colFormSectionHeader{color:#005243;font-size:14px;margin-bottom:5px;font-weight:bold}*/
.colFormSectionHeader{color:#0d5297;font-size:16px;margin-bottom:5px;font-weight:bold}
.colFormSectionDesc{margin-bottom:5px}

/* Center Widget CSS */
/*.centerMainText{font-size:13px;line-height:18px}*/
/*.centerSectionHeader{border:solid 1px #ebebeb;padding:8px;background:#FFF url(/Images/tX_TitleBackground.png) bottom repeat-x;color:#454545;font-size:18px}*/
/*.centerNewsAndNotes{font-size:13px;line-height:18px}*/
/*.centerDegreeSection{padding-top:8px;background:#F0F0F0;margin:10px 0 0 10px}*/
/*.centerDegreeTypeHeader{font-weight:bold;font-size:16px}*/
.centerMainText{line-height:18px}
.centerSectionHeader{border:solid 1px #ebebeb;padding:8px;background:#FFF url(/Images/tX_TitleBackground.png) bottom repeat-x;color:#454545;font-size:16px}
.centerNewsAndNotes{line-height:18px;padding:0 8px 0 8px}
.centerEarnYourDegreeHeader{background:#9B8C6F;color:#FFFDFA;padding:8px;font-size:16px;-moz-border-radius-topright:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-webkit-border-top-left-radius:10px}
.centerDegrees{padding:5px;background:#F0F0F0;-moz-border-radius:10px;-webkit-border-radius:10px;margin-top:10px}
.centerDegreeSection{padding-top:4px;background:#F0F0F0;margin:10px 0 0 10px}
.centerDegreeTypeHeader{font-weight:bold;font-size:14px}
.centerDegreeItem{padding-left:5px;color:#515151}
.centerDegreesMoreInfoLink{color:#515151;text-decoration:underline}
.centerFullName{color:#565656;font-size:14px;font-weight:bold}
.centerAddress{}
.centerDirectionsLink{color:#4F5B4D;font-size:12px;font-weight:bold}
.centerContactInfo{line-height:20px}

/* Link List Widget */
/*.llTwoColumnHeader{color:#7D7D7D;font-size:18px}*/
/*.llTwoColumnNoHeaderItem{color:#555D52;font-size:15px}*/
.llTwoColumnHeader{color:#515151;font-size:14px}
.llTwoColumnItem{color:#394537;line-height:20px}
.llTwoColumnNoHeaderItem{color:#555D52;font-size:14px}

/* Program Widget CSS */
.programDescription{padding-top:5px}
.courseProFooter{padding:3px;padding-top:15px;font-size:11px}
.courseGroupHeader,.courseGroupFooter{border:solid 1px #ebebeb;padding:8px;background:#FFF url(/Images/tX_TitleBackground.png) bottom repeat-x;color:#525252;font-size:16px}
.courseGroupFooter{font-size:14px}
.courseGroupBoldText{font-size:14px;background:#FDEEB7}
.courseGroupText{}
.groupItems{}
.courseDescription{padding:0 0 5px 20px;font-size:12px}
.courseRequisites{font-style:italic;padding-left:20px;font-size:11px;color:#888}
.courseItem{font-size:13px;cursor:pointer}
.textItem{font-size:13px}
.programTitle{font-size:20px}
.courseGroupNotes{font-size:10px;font-style:italic}
.creditHours{padding:3px 10px 3px 3px;text-align:right;font-size:12px}
.components{padding:5px}
.programTable{border:1px solid #EBEBEB}
.programBreak{height:5px}

/* Course Widget CSS */
.courseListItem{font-size:13px;background:#FFF;color:#505050}
.courseListItem:hover{background:#878787;color:#FFF;cursor:pointer}
.divCourseListCourseInfo{background:#FDF6C0;color:#505050;padding:5px}
.courseListCourseRequisites{font-style:italic}

/* Contact Widget CSS */
.contactBioSectionHeader { border:solid 1px #ebebeb; padding:8px; background: #FFF url(/Images/tX_TitleBackground.png) bottom repeat-x;
                        color: #525252; font-size: 16px; }
.contactBioSection { padding: 7px; border-left: solid 1px #ebebeb; border-right: solid 1px #ebebeb; }
.deptListingLetterHeading { background-color: #C1B59C; padding:4px; padding-left: 8px; margin-top: 8px; color: #fff; font-weight: bold; }
.schoolDeptListingHeader { border:solid 1px #ebebeb; padding:8px; background: #FFF url(/Images/tX_TitleBackground.png) bottom repeat-x;
                        color: #525252; }
                        
.schoolDeptListingHeader td { padding: 10px 5px; font-weight: bold; }
                        

/* Photo Gallery Widget CSS */
.gallerySlide{background:#f6f6f6 url(/Images/zoom.jpg) bottom right no-repeat;border:1px solid #e5e5e5;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;padding:20px 10px 10px;margin:15px;float:left}
.photoTitle{font-size:9px;text-align:center; width:100px;}

/* Slide Show Widget CSS */
#slideshowContainer{position:relative;margin:auto 0}
#slideshow{position:absolute;top:0;left:0;z-index:10}
#slideshow DIV{position:absolute;top:0;left:0;z-index:8;opacity:0.0}
#slideshow DIV.active{z-index: 10;opacity: 1.0}
#slideshow DIV.last-active{z-index:9}

/* Notification Widget */
.notificationBulletin {color:#F63C47;font-weight:bold;font-size:13px; z-index: 1; position: absolute; top: 40px; right: 117px;}
.notificationBulletinLink {color:#E8B95F;font-weight:bold;font-size:13px}
.notificationTitle {padding-bottom:10px}
.notificationText{}

/* COL Schedule CSS */
.colScheduleHeading{font-size:18px;font-weight:bold;color:#3B5235;margin:15px 0px 10px 0px}
.colScheduleTableHeader{font-weight:bold;width:125px;font-size:12px;vertical-align:middle;text-align:center}
.colScheduleTableHeaderReg{font-weight:bold;width:175px;font-size:12px;vertical-align:middle;text-align:center}
.colScheduleTableData{text-align:center;border:1px}
.sylMessage{margin-bottom:10px}
.colScheduleTermHeader{width:70px}

/* COL Term Availability CSS */
.tavailLeftColumn{font-weight:bold}
.tavailHeader{font-size:18px;font-weight:bold;color:#3B5235;margin:15px 0px 10px 0px}
.tavailHeader2{font-size:18px;font-weight:bold;color:#3B5235;margin:15px 0px 10px 0px;text-align:center}
.tavailThankYouMessage{text-align:center; font-weight:bold}

/* COL Course Widget CSS */
.colCourseListItem{font-size:13px;background:#FFF;color:#505050}
.colCourseListItem:hover{background:#878787;color:#FFF;cursor:pointer}
.divColCourseListCourseInfo{background:#FDF6C0;color:#505050;padding:5px}
.colCourseListCourseRequisites{font-style:italic}

/* COL Discipline Widget CSS */
.colDisciplineHeading{font-size:18px;font-weight:bold;color:#3B5235;margin:15px 0px 0px 0px}
table.disciplineData{font-size:12px;border:1px solid #333;margin:20px 0;border-bottom:none;border-right:none;padding:0;margin:0;border-spacing:0}
table.disciplineData td{padding:1px 5px;border-bottom:#000 1px solid;border-right:#000 1px solid;padding:4px;margin:0;border-spacing:0;vertical-align:middle;text-align:center}
table.disciplineData th{font-weight:bold;color:#FFF;background:#666;padding:4px;margin:0;border-spacing:0;vertical-align:middle;text-align:center}
.disciplineReportContainer{overflow:scroll}
.disciplineReportSection{padding-top:20px}
.disciplineReportLabel{font-weight:bold;padding-right:5px;width:200px}
.disciplineRSVPHeader{font-size:18px;font-weight:bold;color:#3B5235;margin:15px 0px 20px 0px}

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {display:none}
.ui-helper-hidden-accessible {position:absolute;left:-99999999px}
.ui-helper-reset {margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-helper-clearfix {display:inline-block}
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix {height:1%}
.ui-helper-clearfix {display:block}
/* end clearfix */
.ui-helper-zfix {width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}

/* Corner radius */
.ui-corner-tl {-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px}
.ui-corner-tr {-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px}
.ui-corner-bl {-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px}
.ui-corner-br {-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px}
.ui-corner-top {-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px}
.ui-corner-bottom {-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px}
.ui-corner-right {-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px}
.ui-corner-left {-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px}
.ui-corner-all {-moz-border-radius:4px;-webkit-border-radius:4px}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {position:absolute;top:0;left:0;width:100%;height:100%}


/* Component containers
----------------------------------
.ui-widget {font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em}
.ui-widget-content {background-color:#f2f2f2;color:#515151}
.ui-widget-content a {color:#F00}
.ui-widget-header {background:#FDEEB7 url(/Images/Widget/wgtEvent_DayView_TitleBkg.png) bottom repeat-x;color:#515151;font-weight:bold;border-bottom:solid 1px #ddd}*/

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon-closethick {width:16px;height:16px;background-image: url(/Images/Widget/wgtEvent_df20_Close.gif)}

/* Overlays */
.ui-widget-overlay {background:#666;opacity:.50;filter:Alpha(Opacity=50)}

/* Dialog
----------------------------------*/
.ui-dialog {position:relative;padding:.2em;width:300px;}
.ui-dialog .ui-dialog-titlebar {padding:.5em .3em .3em 1em;position:relative}
.ui-dialog .ui-dialog-title {float:left;margin:.1em 0 .2em} 
.ui-dialog .ui-dialog-titlebar-close {position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px}
.ui-dialog .ui-dialog-titlebar-close span {display:block;margin:1px}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {padding:0}
.ui-dialog .ui-dialog-content {border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1}
.ui-dialog .ui-dialog-buttonpane {text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em}
.ui-dialog .ui-dialog-buttonpane button {float:right;margin:.5em .4em .5em 0;cursor:pointer;padding:.2em .6em .3em .6em;line-height:1.4em;width:auto;overflow:visible}
.ui-dialog .ui-resizable-se {width:14px;height:14px;right:3px;bottom:3px}
.ui-draggable .ui-dialog-titlebar {cursor:move}

/* Datepicker */
.ui-datepicker { width: 17em; padding: .2em .2em 0; font-size: .8em}
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { float:left; font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* News and Information Center page css */
.featuredArticlesItem { background-color:#484848;color:#FFFFFF;font-size:12px;font-weight:bold;padding:2px 5px; }
.featuredArticlesItem:hover { background-color:#999999;color:#000000;cursor:pointer }
.selectedFeaturedArticle { background-color:#1F1F1F;color:#FFFFFF;font-size:12px;font-weight:bold;padding:2px 5px }
.selectedFeaturedArticle:hover {text-decoration:none}
.featuredArticlesSlideShowContainer{margin:0 auto;height:249px;width:960px;background:#FFF;position:absolute;z-index:1;left:0px;vertical-align:bottom}
.newsInfoHeading { font-size:20px;color:#1A3B10;font-family:Times New Roman;padding-bottom:5px }
.newsInfoHeadingRow2 { font-size:17px;color:#1A3B10;font-family:Times New Roman;padding-bottom:5px }
.upcomingEventsLeft {float:left;text-align:left}
.upcomingEventsRight {float:right;text-align:right;text-transform:uppercase;white-space:nowrap}
.upcomingEventLink {color:#D1A25C;font-size:12px}
.upcomingEventsItem {border-top: 1px solid #ECECEC;padding:8px 2px}
.publicationsItem{float:left;margin-right:22px}

/* Alumni And Friends page css */
.alumniArticleLinkSelected { background-color:#FFFFFF;color:#000000;font-family:Myriad pro,Arial,sans-serif;font-size:12px;font-weight:bold;padding:2px 5px;}
.alumniArticleLink {background-color:#999999;color:#000000;cursor:pointer;font-family:Myriad pro,Arial,sans-serif;font-size:12px;font-weight:bold;padding:2px 5px; }
.alumniArticleLink:hover {background-color:#F7BB27}
.alumniFriendsEventHeader {color:#03401F;font-weight:bold}
.alumniFriendsEventHeader:visited{color:#03401F;}
.alumniFriendsEvent{color:#03401F;}
.alumniFriendsEventSmall{color:#03401F;font-size:11px}
.alumniFriendsEventContainer{border-top:1px solid #B0B8AD;padding:5px 10px;}
.alumniFriendsEventDate{float:left;font-family:Myriad pro,Arial,sans-serif;font-size:13px;font-weight:bold;text-align:center;text-transform:uppercase;}
.alumniFriendsEventDateSmall{float:left;font-family:Myriad pro,Arial,sans-serif;font-size:12px;font-weight:bold;text-align:center;text-transform:uppercase;}
.alumniFriendsBottomPic{float:left;margin:0 17px 0 10px;}
.alumniFriendsSlideShowContainer{margin:0 auto;height:275px;width:960px;position:relative}
.alumniFriendsSlideShowLink{color:#E6C166;text-decoration:underline}

/* COL Homepage css */
.colSectionHeader{background-color:#7E7E7E;border:1px solid #EBEBEB;color:#FFFFFF;font-size:16px;padding:5px;}
.colLeftLink{ color:#515151}
.colLeftLink:visited { color:#515151}
.colEventLinks{ color:#515151}
.colEventLinks:visited{ color:#515151}
.colEvents{ color:#515151; line-height:21px; font-size:12px;padding-top:10px}
.colLeftSideContainer{border-right: 1px solid #EBEBEB;padding:10px;width:40%;float:left}
.colRightSideContainer{padding:10px;width:40%;float:right}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}/* Dialog
----------------------------------*/

/*******************************************************************************************
* END: jQuery UI CSS Framework
********************************************************************************************/



/* Table Styles */
table.tabularData{border:1px solid #333;margin:20px 0;border-bottom:none;border-right:none;padding:0;margin:0;border-spacing:0}
table.tabularData td{padding:1px 5px;border-bottom:#000 1px solid;border-right:#000 1px solid;padding:4px;margin:0;border-spacing:0}
table.tabularData th{font-weight:bold;color:#FFF;background:#666;padding:4px;margin:0;border-spacing:0}

table.tabularDataCentered{border:1px solid #333;margin:20px 0;border-bottom:none;border-right:none;padding:0;margin:0;border-spacing:0}
table.tabularDataCentered td{padding:1px 5px;border-bottom:#000 1px solid;border-right:#000 1px solid;padding:4px;margin:0;border-spacing:0;vertical-align:middle;text-align:center}
table.tabularDataCentered th{font-weight:bold;color:#FFF;background:#666;padding:4px;margin:0;border-spacing:0;vertical-align:mid
