#block-instagram-block-instagram-block .block-content {
	padding: 10px;
}
#block-instagram-block-instagram-block .block-content a.group:nth-child(5) {
	display: block;
}
#block-instagram-block-instagram-block .block-content a.group img {
	    margin: 5px !important;
	    min-width: 110px !important;
}
/* */
#zone-feature { display: block !important; }
#zone-feature .block-ull-ens-message { display: block; }
@media screen and (max-width: 767px) {
     #zone-feature .block-views { display: none; }
}
.node-recruiter div nav ul li { display: none; }
.term-listing-heading { display: none; }
.page-taxonomy-term-3057 p { display: none; }
.view.view-recruiter.view-id-recruiter.view-display-id-block_2 { padding: 28px 22px; }
.slideshow-mini .slide-pager { text-indent: -1000px !important; }
.news-events .events { display: none; }
.news-events .news { width: 100% !important; max-width: 100% !important; float: none !important; }
