@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u-w4BMUTPHjxsIPx-oPCc.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHjxsAXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(https://fonts.gstatic.com/s/lato/v16/S6u_w4BMUTPHjxsI3wi_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHh30AXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}

/* - - - - - - - - - - - - - - - - - - - - -

 Title : Degree Programs
 Author : Jim Quinnett
 URL : https://www.mcm.edu

 Last Updated : January 26, 2018

- - - - - - - - - - - - - - - - - - - - - */
#logo{
	display: hidden;
	}

#container{
	background:#680000;
	width: 320px;
	}
	
@media only screen and (max-width: 480px){
			#container {
			text-align: left;
			}
	}
#container, html.embed {
	background-color: #680000;
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
	}
@media only screen and (max-width: 480px){		
#container, html.embed	{
	/*margin-left: 10px !important;*/
	width: 100%;
}
}

#logo a {
	display: none;
	height: 0px;
}
label#title3.desc.notranslate {
	display: none;
}
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
	color: #000000;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background: #ffffff;
}
.wufoo .info h2 {
	font-family: 'Lato', sans-serif;
	margin-top: 12px;
}

@media only screen and (max-width: 480px){
		
#container, html.embed	{
	width:100% !important;
}
}
	
.info h2 {
	margin: 0 0 0 0;
}
.wufoo .info, .wufoo .paging-context {
    border-bottom: 1px dotted #ffffff;
}
.button {
    background-color: #fff; /* white */
}
.safari input.btTxt {
	color: #444444;
}

.centerFormProp {
	text-align: left !important;
}

@media only screen and (max-width: 480px){
.compact  {
	position: relative;
	top: 0px;
	)
}

/* code to force to divs to move together in master slider*/



     


