@font-face {
	font-family: 'microsoft_tai_leregular';
	src: url('taile.eot');
	src: url('taile.eot?#iefix') format('embedded-opentype'),  url('taile.woff') format('woff'),  url('taile.ttf') format('truetype'),  url('taile.svg#microsoft_tai_leregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4d4d4d;
}
.inbody {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg-inbody.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4d4d4d;
}
.inbody1 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg-inbody1.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4d4d4d;
}
.inbody2 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg-inbody2.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4d4d4d;
}
.inbody3 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bg-inbody3.jpg);
	background-repeat: repeat-x;
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4d4d4d;
}
.main {
	width: 980px;
	margin: 0px auto;
}
.header {
	width: 980px;
	margin: 0px auto;
}
.out {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	background-color: red;
	height: 30px;
}
.menumain {
	width: 978px;
	margin: 0px auto;
	height: 42px;
	background-image: url(../images/bg-menu.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #ccc;
}
.left {
	float: left;
}
.break {
	clear: both;
}
/*---------NEWS------------*/
.news {
	width: 304px;
	height: 375px;
	float: left;
	padding: 0px;
	margin-left: 5px;
	position:relative;
}
.news ul
{
list-style:none;
 text-decoration:none;
  padding:0px;
   margin:0px;
   position:relative;
   display:inline;
   line-height:2px;
}
.newsbanner li a
{
text-decoration:none;

}
.newsbanner li img
{
	border:0px;
}


.newsdesc {
	width: 100%;
	margin: 10px 0px 0px 0px;
	padding-bottom: 10px;
	color: #5e5f5e;
	float: left;
	border-bottom: 1px solid #ccc;
}
.newstxt {
	color: #0a4690;
	line-height: 20px;
}
.newstxt1 {
	color: #282828;
	line-height: 20px;
}
.newslink {
	color: #5e5f5e;
	text-decoration: none;
}
.newslink:active {
	color: #5e5f5e;
	text-decoration: none;
}
.newslink:hover {
	color: #5e5f5e;
	text-decoration: underline;
}
.innewsdesc {
	width: 100%;
	margin: 10px 0px 0px 0px;
	padding-top: 10px;
	color: #5e5f5e;
	float: left;
	border-top: 1px solid #ccc;
}
.content {
	width: 980px;
	margin: 0px auto;
}


/*search*/
#tfheader {
	background-color: transparent;
}
#tfnewsearch {
	float: right;
	margin-top: 30px;
	padding: 3px;
}
.tftextinput {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #002870;
	border-right: 0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #002870;
	border-right: 0px;
	background: #002870;
	background: -webkit-gradient(linear, left top, left bottom, from(#002870), to(#002870));
	background: -moz-linear-gradient(top, #002870, #002870);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
	text-decoration: none;
	background: #2550ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#2550ab), to(#2550ab));
	background: -moz-linear-gradient(top, #2550ab, #2550ab);
}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
 border: 0;
}
.tfclear {
	clear: both;
}

/*---------BANNER------------*/
.bannermain {
	width: 980px;
	margin: 0px auto;
	margin-top: 6px;
}
.banner {
	width: 671px;
	height: 300px;
	float: left;
}
.inbanner {
	width: 980px;
	margin: 0px auto;
	margin-top: 6px;
}
.inbanimg {
	width: 671px;
	height: 184px;
	float: left;
}
.inbanimg1 {
	width: 359px;
	height: 184px;
	float: left;
}
.inbanimg2 {
	width: 304px;
	height: 184px;
	float: left;
	margin-left: 8px;
}
.inbanimg3 {
	width: 980px;
	height: 184px;
	float: left;
}
.innews {
	width: 272px;
	height: 152px;
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	margin-left: 5px;
	background-image: url(../images/bg-innews.jpg);
	background-repeat: repeat-x;
}
.innews1 {
	width: 272px;
	height: 252px;
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	margin-left: 0px;
	background-image: url(../images/bg-innews.jpg);
	background-repeat: repeat-x;
	background-color: #ededed;
}
.innews {
	width: 272px;
	height: 152px;
	float: left;
	padding: 15px;
	border: 1px solid #ccc;
	margin-left: 5px;
	background-image: url(../images/bg-innews.jpg);
	background-repeat: repeat-x;
}
.breadcrum {
	width: 955px;
	margin: 0px auto;
	margin-top: 0px;
	height: 18px;
	background-color: #1a2d57;
	padding: 12px 10px 10px 15px;
	color: #ffdf33;
	font-size: 15px;
	font-family: 'microsoft_tai_leregular';
	font-style: italic;
}
.breadcrum img {
	padding: 0px 10px 0px 10px;
}
.breadcrum_dir {
	width: 955px;
	margin: 0px auto;
	margin-top: 0px;
	height: 18px;
	background-color: #1a2d57;
	padding: 12px 10px 10px 15px;
	color: #ffdf33;
	font-size: 15px;
	font-family: 'microsoft_tai_leregular';
	font-style: italic;
}
/*---------CONTENT------------*/
.intitle {
	width: 965px;
	height: 20px;
	margin: 0px auto;
	padding: 6px 0px 7px 15px;
	background-color: #1a2d57;
	margin-top: 5px;
	color: #fff;
}
.intitle1 {
	width: 655px;
	height: 20px;
	margin: 0px auto;
	padding: 6px 0px 7px 15px;
	background-color: #1a2d57;
	margin-top: 0px;
	color: #fff;
}
.intitle2 {
	width: 688px;
	height: 20px;
	margin: 0px auto;
	padding: 8px 0px 6px 15px;
	background-color: #2f4a8d;
	margin-top: 0px;
	color: #fff;
	font-weight: bold;
}
.incontent {
	width: 940px;
	margin: 0px auto;
	padding: 15px 20px 20px 20px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
}
.incontent1 {
	width: 980px;
	margin: 0px auto;
	margin-top: 5px;
}
.intitletxt {
	font-size: 16px;
}
.intitletxt1 {
	font-size: 18px;
	color: #014294;
	font-weight: bold;
}
.intitletxt2 {
	font-size: 18px;
	color: #eee;
	font-weight: bold;
}
.indivL {
	width: 660px;
	float: left;
	margin-right: 40px;
}
.indivL ul li {
	list-style-image: url(../images/arrow.png);
	margin-bottom: 10px;
}
.indivL ul {
	background-color: #f4f4f4;
	padding: 30px;
}
.indivR {
	width: 240px;
	float: left;
}
.signup {
	width: 220px;
	padding: 10px;
	background-color: #eee;
	margin-bottom: 20px;
}
.link1 {
	font-size: 18px;
	color: #014294;
	text-decoration: none;
}
.link1:active {
	font-size: 18px;
	color: #014294;
	text-decoration: none;
}
.link1:hover {
	font-size: 18px;
	color: #014294;
	text-decoration: underline;
}
.link2 {
	font-size: 18px;
	color: #ffdf33;
	text-decoration: none;
}
.link2:active {
	font-size: 18px;
	color: #ffdf33;
	text-decoration: none;
}
.link2:hover {
	font-size: 18px;
	color: #FFF;
	text-decoration: underline;
}
.right {
	float: right;
}
.indivL1 {
	width: 670px;
	float: left;
	margin-right: 0px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
}
.indivL2 {
	width: 640px;
	float: left;
	margin-top: 10px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
	padding: 15px;
}
.indivL3 {
	width: 703px;
	float: left;
	margin-top: 10px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
	padding: 0px;
	min-height: 500px;
}
.indivR1 {
	width: 303px;
	float: left;
	margin-left: 5px;
}
.indivR2 {
	width: 260px;
	float: left;
	margin-right: 15px;
	min-height: 500px;
	background-color: #FFF;
	margin-top: 10px;
	padding: 0px;
	overflow: hidden;
}
.signup1 {
	width: 237px;
	padding: 10px;
	background-color: #2c2c2c;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	color: #eee;
}
.signup2 {
	width: 237px;
	padding: 10px;
	background-color: #444;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #ccc;
	color: #eee;
}
.clinkheading {
	width: 237px;
	padding: 9px 10px 7px 10px;
	background-color: #2f4a8d;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #FFF;
	display: block;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}
.clink {
	width: 237px;
	padding: 5px 10px 5px 10px;
	background-color: #eee;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #292929;
	display: block;
	text-decoration: none;
}
.clink:active {
	width: 237px;
	padding: 5px 10px 5px 10px;
	background-color: #eee;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #292929;
	display: block;
	text-decoration: none;
}
.clink:hover {
	width: 237px;
	padding: 5px 10px 5px 10px;
	background-color: #FFF;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #22448e;
	display: block;
	text-decoration: none;
}
.clinkselected {
	width: 237px;
	padding: 5px 10px 5px 10px;
	background-color: #FFF;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #22448e;
	display: block;
	text-decoration: none;
}
.clinkselected:hover {
	width: 237px;
	padding: 5px 10px 5px 10px;
	background-color: #FFF;
	margin-bottom: 1px;
	border: 0px solid #ccc;
	color: #22448e;
	display: block;
	text-decoration: none;
}
.arrowbullet {
	margin-left: -20px;
}
.arrowbullet li {
	list-style-image: url(../images/arrow.png);
	margin-bottom: 8px;
}
.bios {
	float: left;
	padding: 10px;
	border: 1px solid #eee;
	color: #014294;
	margin-right: 10px;
	font-size: 12px;
	margin-top: 10px;
}
.bios a {
	color: #014294;
	text-decoration: none;
}
.indivL2 ul li {
	list-style-image: url(../images/arrow2.jpg);
	list-style-position: outside;
	padding: 15px 0px 20px 0px;
	margin-left: -25px;
	border-bottom: 1px solid #eee;
}
.indivL4 {
	width: 640px;
	float: left;
	margin-top: 10px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
	padding: 15px;
}
.indivL4 ul li {
	list-style-image: url(../images/arrow.png);
	margin-bottom: 7px;
}
.indivL4 ul {
	background-color: #f4f4f4;
	padding: 30px;
}
.indivL5 {
	width: 640px;
	float: left;
	margin-top: 10px;
	border: 1px solid #d7d7d7;
	background-color: #FFF;
	padding: 15px;
}
.indivL5 ul li {
	list-style-image: url(../images/arrow.png);
	margin-bottom: 7px;
}
.indivL5 span img {
	margin-right: 3px;
	float: left;
	margin-top: 10px
}
/*---------VISION------------*/
.visionmain {
	width: 671px;
	height: 75px;
	margin: 0px auto;
}
.newtab {
	width: 980px;
	margin: 0px auto;
	height: 355px;
}
.newtab2 {
	width: 980px;
	margin: 0px auto;
	height: 341px;
}
.newtab3a {
	width: 980px;
	margin: 0px auto;
	height: 246px;
}
.newtab1 {
	width: 980px;
	margin: 0px auto;
	height: 389px;
}
.newtab3 {
	width: 980px;
	margin: 0px auto;
}
.homebox01 {
	width: 305px;
	margin: 10px 31px 0px 0px;
	float: left;
}
.homebox01 ul {
	list-style-image: url(../images/boxarrow.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: -10px;
}
.homebox01 ul li {
	margin-bottom: 7px;
}
.homebox01 ul li.a {
	color: #27498e;
	text-decoration: none;
	font-family: 'microsoft_tai_leregular';
}
.homebox01 ul li.a:hover {
	color: #27498e;
	text-decoration: underline;
	font-family: 'microsoft_tai_leregular';
}
.homebox02 {
	width: 305px;
	margin: 10px 31px 0px 0px;
	float: left;
}
.hsignup a {
	width: 210px;
	background-image: url(../images/bg-signup.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 74px;
	color: #FFF;
	padding: 15px 15px 15px 80px;
	display: block;
	text-decoration: none;
}
.hsignup a:hover {
	color: #FFF;
	text-decoration: none;
}
.joinemail a {
	width: 210px;
	background-image: url(../images/bg-join.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 74px;
	color: #FFF;
	padding: 15px 15px 15px 80px;
	margin-top: 15px;
	display: block;
	text-decoration: none;
}
.joinemail a:hover {
	color: #FFF;
	text-decoration: none;
}
.title2 {
	font-size: 20px;
	color: #f0d200;
	font-weight: bold;
	font-family: 'microsoft_tai_leregular';
}
.homebox03 {
	width: 305px;
	margin: 10px 0px 0px 0px;
	float: left;
}
.hboxtit {
	width: 305px;
	display: block;
	height: 20px;
	background-image: url(../images/hbox-tit.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: 32px;
	color: #FFF;
	padding: 8px;
0px 10px 0px;
	font-weight: bold;
}
/*---------JOIN NEWSLETTER------------*/
.joinmain {
	width: 950px;
	height: 112px;
	margin: 0px auto;
	margin-top: 10px;
	background-image: url(../images/bg-join.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 15px;
}
.join {
	width: 660px;
	float: left;
	color: #ffffff;
	font-size: 18px;
	line-height: 20px;
}
.jointxtbox {
	width: 380px;
	height: 28px;
	background-color: #FFF;
	border: 0px solid #ccc;
}
.email {
	width: 290px;
	float: left;
	background-image: url(../images/join-divider.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 112px;
	text-align: center;
}
.email img {
	margin: 30px 0px 20px 25px;
}
/*---------FOOTER------------*/
.footermain {
	width: 100%;
	margin-top: 10px;
	background-color: #e5e5e5;
	padding: 15px 0px 15px 0px;
}
.footer {
	margin: 0px auto;
	width: 980px;
}
.footertxt {
	color: #27498e;
	font-size: 16px;
}
.footerlinks {
	color: #464746;
	text-decoration: none;
	line-height: 20px;
}
.footerlinks:active {
	color: #464746;
	text-decoration: none;
	line-height: 20px;
}
.footerlinks:hover {
	color: #27498e;
	text-decoration: none;
	line-height: 20px;
}
.footerdiv1 {
	width: 180px;
	float: left;
	margin-right: 20px;
}
.footerdiv2 {
	width: 250px;
	float: left;
	margin-right: 20px;
}
.footerdiv3 {
	width: 200px;
	float: left;
}
.footerdiv4 {
	width: 240px;
	float: left;
	border-left: 1px solid #CCC;
	padding-left: 40px;
}
.footerdiv4 img {
	margin-right: 10px;
	margin-top: -5px;
}
.phonetxt {
	font-size: 24px;
	color: #014294;
	float: left
}
.phonetxt1 {
	font-size: 18px;
	color: #014294;
	float: left
}
.copyrights {
	margin: 0px auto;
	width: 980px;
	margin-top: 10px;
	padding-bottom: 20px;
	color: #27498e;
	font-size: 12px;
}
.copytxt {
	color: #666666;
	font-size: 16px;
}
/*---------COMMON------------*/
.common {
	background-color: #efefef;
	padding: 10px;
}
.common ol {
	margin-left: -18px;
}
.tablebor {
	border: 1px solid #eeeeee;
	background-color: #f0f0f0;
}
.intitletxt5 {
	font-size: 14px;
	color: #014294;
	font-weight: bold;
}
a {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
a:active {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
a:hover {
	font-size: 14px;
	color: #014294;
	text-decoration: underline;
}
.link3 {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
.link3:active {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
.link3:hover {
	font-size: 14px;
	color: #014294;
	text-decoration: underline;
}
.link4 {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
.link4:active {
	font-size: 14px;
	color: #014294;
	text-decoration: none;
}
.link4:hover {
	font-size: 14px;
	color: #014294;
	text-decoration: underline;
}
.link5 {
	font-size: 15px;
	color: #b8b8b8;
	text-decoration: none;
	font-family: 'microsoft_tai_leregular';
}
.link5:active {
	font-size: 15px;
	color: #b8b8b8;
	text-decoration: none;
}
.link5:hover {
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.link6 {
	font-size: 13px;
	color: #014294;
	text-decoration: none;
}
.link6:active {
	font-size: 13px;
	color: #014294;
	text-decoration: none;
}
.link6:hover {
	font-size: 13px;
	color: #014294;
	text-decoration: none;
}
/*---------FORM------------*/
.txtbox1 {
	width: 60px;
	height: 25px;
	border: 1px solid #ccc;
}

.focus-keyboard, a.focus-keyboard img {
   border-bottom: 4px solid #ffdf33 !important;
}

.menumain .qmmc div:focus, .menumain .qmmc div dl:focus, .menumain .qmmc div dl dd:focus, .menumain .qmmc div dl dd a:focus,
input, a:focus, a:active{
  -moz-outline-style:none;
  outline:none;
}

@keyframes ticker {
	0% { transform: translate3d(0, 0, 0); }
	100% { transform: translate3d(-100%, 0, 0); }
}
.tcontainer{
	width: 100%;
	overflow: hidden;
}
.ticker-wrap {
	line-height: 30px;
	width: 100%;
	padding-left: 100%;
	height: 30px;
	vertical-align: middle;
	align-content: center;
	background-color:yellow;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
}
.ticker-move {
	display: inline-block;
	white-space: nowrap;
	padding-right: 100%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 30s;
}
.ticker-move:hover{
	animation-play-state: paused;
}
.ticker-item{
	display: inline-block;
	padding: 0 2rem;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 50%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #cccccc;
	position: relative;
}

.jspDrag
{
	background: #ddc100;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 50%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 50%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 50%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
<!--%%%%%%%%%%%% QuickMenu Styles [Publish this section to the document head for full validation!] %%%%%%%%%%%-->


/*!!!!!!!!!!! QuickMenu Core CSS [Do Not Modify!] !!!!!!!!!!!!!*/
/*[START-QCC]*/.qmclear{}.qmmc:after{content: "";display:block;height:0px;clear:both;overflow:hidden;}
.qmmc div>a, .qmmc dd>a, .qmmc li>a, .qmmc div>span, .qmmc dd>span, .qmmc li>span, .qmmc div, .qmmc dl, .qmmc dd, .qmmc li, .qmmc ul {font-wieght:normal;text-decoration:none;font-family:Arial;font-size:14px;line-height:normal;padding:0px;margin:0px;}
.qmmc .qmdivider{display:block;font-size:1px;border-width:0px;border-style:solid;position:relative;z-index:1;}
.qmmc .qmdividery{float:left;width:0px;}
.qmmc .qmtitle{display:block;cursor:default;white-space:nowrap;position:relative;z-index:1;}
.qmmc {position:relative;zoom:1;}
.qmmc a, .qmmc li {float:left;display:block;white-space:nowrap;position:relative;z-index:1;line-height:normal;}
.qmmc div a, .qmmc ul a, .qmmc ul li {float:none;}
.qmsh div a {float:left;}
.qmmc div{visibility:hidden;position:absolute;}
.qmmc .qmcbox{cursor:default;display:block;position:relative;z-index:1;}
.qmmc .qmcbox a{display:inline;}
.qmmc .qmcbox div,.qmmc .qmcbox ul{float:none;position:static;visibility:inherit;left:auto;}
.qmmc .qmmulti{float:left;position:relative;}
.qmmc .qmmulti dd{margin:0px;padding:0px;}
.qmmc dd {position:relative;}
.qmmc .qmml0 {z-index:99;}
.qmmc .qmml1 {z-index:98;}
.qmmc .qmml2 {z-index:97;}
.qmmc .qmml3 {z-index:96;}
.qmmc .qmml4 {z-index:95;}
.qmmc .qmml5 {z-index:94;}
.qmmc .qmml6 {z-index:93;}
.qmmc .qmml7 {z-index:92;}
.qmmc .qmml8 {z-index:91;}
.qmmc .qmml9 {z-index:90;}
.qmmc li {z-index:auto;}
.qmmc ul {visibility:hidden;position:absolute;z-index:10;}
.qmmc, .qmmc ul, .qmmc dl {list-style:none;padding:0px;margin:0px 10px 0px 0px;}
.qmmc li a {float:none;}
.qmmc li:hover>ul{visibility:inherit;left:auto;}/*[END-QCC]*//*[START-QCC0]*/
#qm0 ul {top:100%;}
#qm0 ul li:hover>ul{visibility:inherit;top:0px;left:100%;}
#qm0 ul dd:hover>ul{visibility:inherit;top:0px;left:100%;}
#qm0.qmmc, .qmcoreindicator {z-index:9999999;}
#qm0 span.qmcbox div, #qm0 span.qmcbox ul, #qm0 span.qmcbox li, #qm0 span.qmcbox span, .qmcoreindicator {border-style:none;border-width:0px;padding:0px;margin:0px;width:auto;height:auto;top:auto;left:auto;white-space:normal;box-shadow:none;border-radius:0px;}/*[END-QCC0]*/
.qmparent qmsub{background-color:#CCCCCC; margin-left:-50px;}

/*!!!!!!!!!!! QuickMenu Styles !!!!!!!!!!!*/


	/* QuickMenu 0 */

	/*"""""""" (MAIN) Container""""""""*/	
	#qm0	
	{	
		width:978px;
		height:42px;

		
	}


	/*"""""""" (MAIN) Items""""""""*/	
	#qm0 a	
	{	
		padding:13px 12px 14px 12px;
		color:#1e3f84;
		font-family:Arial;
		font-size:12px;
		text-decoration:none;
		text-align:left;
		text-transform:uppercase;
		font-weight:bold;
		


	}


	/*"""""""" (MAIN) Hover State""""""""*/	
	#qm0 a:hover	
	{	
		text-decoration:none;
		background-color:#1e3f84;
		color:#ffdf00;
		
	}


	/*"""""""" (MAIN) Hover State - (duplicated for pure CSS)""""""""*/	
	#qm0 li:hover>a	
	{	
		text-decoration:none;
		text-transform:lowercase;
		color:#ffdf00;
		
	}


	/*"""""""" (MAIN) Active State""""""""*/	
	#qm0 .qmactive, #qm0>li:hover>.qmparent	
	{	
		background-color:#1e3f84;
		color:#ffdf00;
		text-decoration:none;
	}
	#qm0 .qmparent1
	{	
		background-color:#f60203;
		color:#ffdf00;
		text-decoration:none;
		
	}


	/*"""""""" (SUB) Container""""""""*/	
	#qm0 div, #qm0 ul	
	{	
		padding:10px;
		margin:0px 0px 0px 0px;

		border-width:0px;
		border-style:solid;
		border-color:#4D4D4D;
		background-image:url(../images/bg-subdiv.png);
		background-repeat:repeat;
		
	}

	/*"""""""" (SUB) Column""""""""*/	
	#qm0 div .qmmulti, #qm0 ul .qmmulti	
	{	
		padding:0px;
	}

	/*"""""""" (SUB) Items""""""""*/	
	#qm0 div a, #qm0 ul a	
	{	
		padding:3px 5px 3px 5px;
		margin-right:20px;
		font-size:12px;
		border-width:0px 0px;
		color:#fff;
		text-transform:none;
		
	}
	#qm0 div a:hover{
		background-color:#2550ab;
	}

	/*"""""""" Individual Titles""""""""*/	
	#qm0 .qmtitle	
	{	
		margin:2px 5px 5px 5px;
		color:#ffdf00;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
	}


	/*"""""""" Individual Horizontal Dividers""""""""*/	
	#qm0 .qmdividerx	
	{	
		border-top-width:1px;
		margin:10px 5px;
		border-color:#dddddd;
		background-image:url(../images/hdivider.png);
		background-repeat:no-repeat;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 ul .qmparent	
	{	

		background-position:left top;
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 .qmparent	
	{	
		background-image:url(../images/arrow_5.gif);
		background-repeat:no-repeat;
		
	}


	/*"""""""" Custom Rule""""""""*/	
	ul#qm0 li:hover > a.qmparent	
	{	background-image:url(../images/arrow_7.gif);
		background-color:#4D4D4D;
		color:#ffdf00;
		
	}
	/*[END-QS0]*/

/*
	Resets defualt browser settings
	reset.css
*/

/*
	Page style
*/


#container {
	width:671px;
	padding:0px;
	margin:0 auto;
	position:relative;
	z-index:0;

}

#example {
	width:671px;
	height:300px;
	position:relative;

}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:0;
	width:600px;
	height:300px;
	top:-3px;
	left:-80px;

}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:671px;
	overflow:hidden;
	position:relative;
	display:none;

}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:671px;
	height:300px;
	display:block;
	background-color:#CCCCCC;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:500px;
}

/*
	Pagination
*/
.pagination {
	margin:10px 0px 0px 570px;
	width:80px;

}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:15px;
	height:0;
	padding-top:15px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -15px;
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:580px;
	margin-top:9px;
	padding:4.5px 0 18px;
	border-top:1px solid #dfdfdf;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}
.out {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	background-color: red;
	height: 30px;
}

/*
	Anchors
*/

