@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

html{margin:0;padding:0;border:0;font-size:100%}body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,dialog,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1.5;font-size:75%;color:#444;background:#fff;font-family:'Open Sans', sans-serif}p{margin:0;padding:0 0 1em 0}a{color:#2964ba;text-decoration:underline}a:focus,a:hover{color:#2964ba}a img{border:none}*:focus{box-shadow:0px 0px 8px 0px #397be5}blockquote{margin:1.5em;font-style:italic}strong,dfn{font-weight:bold}em,dfn{font-style:italic}sup,sub{line-height:0}abbr,acronym{border-bottom:1px dotted #666}address{margin:0 0 1.5em;font-style:italic}del{color:#666}pre{margin:1.5em 0;white-space:pre}pre,code,tt{font:1em 'andale mono', 'lucida console', monospace;line-height:1.5}table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;width:100%;vertical-align:middle}th{font-weight:bold;vertical-align:middle}thead th{background:#c3d9ff}td{vertical-align:middle}th,td,caption{padding:4px 10px 4px 5px;text-align:left;font-weight:normal;float:none !important}tbody tr:nth-child(even) td,tbody tr.even td{background:#e5ecf9}tfoot{font-style:italic}caption{background:#eee}li ul,li ol{margin:0}ul,ol{margin:0;padding-left:1.5em;padding-bottom:0.75em}ul{list-style-type:disc}ol{list-style-type:decimal}dl{margin:0 0 1.5em 0}dl dt{font-weight:bold}dd{margin-left:1.5em}h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111}h1{font-size:3em;line-height:1.2}h2{font-size:2em;line-height:1.2;padding:0 0 0.2em 0}h3{font-size:1.75em;line-height:1.2;padding:0 0 0.2em 0}h4{font-size:1.2em;line-height:1.2;padding:0 0 0.2em 0}h5{font-weight:bold;font-size:1em;line-height:1.2;padding:0 0 0.2em 0}h6{font-weight:bold;font-size:1em;line-height:1.2;padding:0 0 0.2em 0}h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0}.container{width:998px;margin:0 auto}.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24{float:left;margin-right:10px}.last{margin-right:0}.span-1{width:32px}.span-2{width:74px}.span-3{width:116px}.span-4{width:158px}.span-5{width:200px}.span-6{width:242px}.span-7{width:284px}.span-8{width:326px}.span-9{width:368px}.span-10{width:410px}.span-11{width:452px}.span-12{width:494px}.span-13{width:536px}.span-14{width:578px}.span-15{width:620px}.span-16{width:662px}.span-17{width:704px}.span-18{width:746px}.span-19{width:788px}.span-20{width:830px}.span-21{width:872px}.span-22{width:914px}.span-23{width:956px}.span-24{width:998px;margin-right:0}input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px}input.span-1,textarea.span-1{width:20px}input.span-2,textarea.span-2{width:62px}input.span-3,textarea.span-3{width:104px}input.span-4,textarea.span-4{width:146px}input.span-5,textarea.span-5{width:188px}input.span-6,textarea.span-6{width:230px}input.span-7,textarea.span-7{width:272px}input.span-8,textarea.span-8{width:314px}input.span-9,textarea.span-9{width:356px}input.span-10,textarea.span-10{width:398px}input.span-11,textarea.span-11{width:440px}input.span-12,textarea.span-12{width:482px}input.span-13,textarea.span-13{width:524px}input.span-14,textarea.span-14{width:566px}input.span-15,textarea.span-15{width:608px}input.span-16,textarea.span-16{width:650px}input.span-17,textarea.span-17{width:692px}input.span-18,textarea.span-18{width:734px}input.span-19,textarea.span-19{width:776px}input.span-20,textarea.span-20{width:818px}input.span-21,textarea.span-21{width:860px}input.span-22,textarea.span-22{width:902px}input.span-23,textarea.span-23{width:944px}input.span-24,textarea.span-24{width:986px}.append-1{padding-right:42px}.append-2{padding-right:84px}.append-3{padding-right:126px}.append-4{padding-right:168px}.append-5{padding-right:210px}.append-6{padding-right:252px}.append-7{padding-right:294px}.append-8{padding-right:336px}.append-9{padding-right:378px}.append-10{padding-right:420px}.append-11{padding-right:462px}.append-12{padding-right:504px}.append-13{padding-right:546px}.append-14{padding-right:588px}.append-15{padding-right:630px}.append-16{padding-right:672px}.append-17{padding-right:714px}.append-18{padding-right:756px}.append-19{padding-right:798px}.append-20{padding-right:840px}.append-21{padding-right:882px}.append-22{padding-right:924px}.append-23{padding-right:966px}.prepend-1{padding-left:42px}.prepend-2{padding-left:84px}.prepend-3{padding-left:126px}.prepend-4{padding-left:168px}.prepend-5{padding-left:210px}.prepend-6{padding-left:252px}.prepend-7{padding-left:294px}.prepend-8{padding-left:336px}.prepend-9{padding-left:378px}.prepend-10{padding-left:420px}.prepend-11{padding-left:462px}.prepend-12{padding-left:504px}.prepend-13{padding-left:546px}.prepend-14{padding-left:588px}.prepend-15{padding-left:630px}.prepend-16{padding-left:672px}.prepend-17{padding-left:714px}.prepend-18{padding-left:756px}.prepend-19{padding-left:798px}.prepend-20{padding-left:840px}.prepend-21{padding-left:882px}.prepend-22{padding-left:924px}.prepend-23{padding-left:966px}.border{padding-right:4px;margin-right:5px;border-right:1px solid #ddd}.colborder{padding-right:24px;margin-right:25px;border-right:1px solid #ddd}.pull-1{margin-left:-42px}.pull-2{margin-left:-84px}.pull-3{margin-left:-126px}.pull-4{margin-left:-168px}.pull-5{margin-left:-210px}.pull-6{margin-left:-252px}.pull-7{margin-left:-294px}.pull-8{margin-left:-336px}.pull-9{margin-left:-378px}.pull-10{margin-left:-420px}.pull-11{margin-left:-462px}.pull-12{margin-left:-504px}.pull-13{margin-left:-546px}.pull-14{margin-left:-588px}.pull-15{margin-left:-630px}.pull-16{margin-left:-672px}.pull-17{margin-left:-714px}.pull-18{margin-left:-756px}.pull-19{margin-left:-798px}.pull-20{margin-left:-840px}.pull-21{margin-left:-882px}.pull-22{margin-left:-924px}.pull-23{margin-left:-966px}.pull-24{margin-left:-1008px}.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24{float:left;position:relative}.push-1{margin:0 -42px 1.5em 42px}.push-2{margin:0 -84px 1.5em 84px}.push-3{margin:0 -126px 1.5em 126px}.push-4{margin:0 -168px 1.5em 168px}.push-5{margin:0 -210px 1.5em 210px}.push-6{margin:0 -252px 1.5em 252px}.push-7{margin:0 -294px 1.5em 294px}.push-8{margin:0 -336px 1.5em 336px}.push-9{margin:0 -378px 1.5em 378px}.push-10{margin:0 -420px 1.5em 420px}.push-11{margin:0 -462px 1.5em 462px}.push-12{margin:0 -504px 1.5em 504px}.push-13{margin:0 -546px 1.5em 546px}.push-14{margin:0 -588px 1.5em 588px}.push-15{margin:0 -630px 1.5em 630px}.push-16{margin:0 -672px 1.5em 672px}.push-17{margin:0 -714px 1.5em 714px}.push-18{margin:0 -756px 1.5em 756px}.push-19{margin:0 -798px 1.5em 798px}.push-20{margin:0 -840px 1.5em 840px}.push-21{margin:0 -882px 1.5em 882px}.push-22{margin:0 -924px 1.5em 924px}.push-23{margin:0 -966px 1.5em 966px}.push-24{margin:0 -1008px 1.5em 1008px}.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24{float:left;position:relative}div.prepend-top,.prepend-top{margin-top:1.5em}div.append-bottom,.append-bottom{margin-bottom:1.5em}.box{padding:1.5em;margin-bottom:1.5em;background:#e5ecf9}hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none}hr.space{background:#fff;color:#fff;visibility:hidden}.clearfix:after,.container:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;overflow:hidden}.clearfix,.container{display:block}.clear{clear:both}@font-face{font-family:'Encode Sans Compressed';src:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-200-extralight-webfont-woff2.woff2") format("woff2"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-200-extralight-webfont-woff.woff") format("woff"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-200-extralight-webfont-tff.ttf") format("truetype");font-weight:200}@font-face{font-family:'Encode Sans Compressed';src:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-400-regular-webfont-woff2.woff2") format("woff2"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-400-regular-webfont-woff.woff") format("woff"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-400-regular-webfont-tff.ttf") format("truetype");font-weight:normal}@font-face{font-family:'Encode Sans Compressed';src:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-700-bold-webfont-woff2.woff2") format("woff2"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-700-bold-webfont-woff.woff") format("woff"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-700-bold-webfont-tff.ttf") format("truetype");font-weight:bold}@font-face{font-family:'Encode Sans Compressed';src:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-900-black-webfont-woff2.woff2") format("woff2"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-900-black-webfont-woff.woff") format("woff"),url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_fonts/encodesanscompressed-900-black-webfont-tff.ttf") format("truetype");font-weight:900}.uwbcss_hide-offscreen,.uwb_hide-offscreen,.util_hide--off-screen{position:absolute;left:-9999px}.util-uppercase{text-transform:uppercase}.left{float:left !important}p .left{margin:1.5em 1.5em 1.5em 0;padding:0}.right{float:right !important}p .right{margin:1.5em 0 1.5em 1.5em;padding:0}.small{font-size:0.8em;margin-bottom:1.875em;line-height:1.875em}.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em}.hide{display:none}.quiet{color:#666}.loud{color:#000}.highlight{background:#ff0}.added{background:#060;color:#fff}.removed{background:#900;color:#fff}.first{margin-left:0;padding-left:0}.last{margin-right:0;padding-right:0}.top{margin-top:0;padding-top:0}.bottom{margin-bottom:0;padding-bottom:0}h4.sectionTitle3{display:none}.mainNavigation{font-weight:300}.uwb_banner-message,.uwb_banner-message .uwb_banner-message_title{color:#000;font-family:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-weight:300}.uwb_banner-message{font-size:14px;line-height:22px;width:100%;min-width:1030px}.uwb_banner-message .uwb_banner-message_title{font-size:38px;line-height:28px;margin-bottom:0px;padding:0 0 0 45px;height:35px;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/bubbles.png");background-repeat:no-repeat}.uwb_banner-message a{color:#000}.uwb_banner-message a:hover{color:#4f2d92}.uwb_banner-message p{margin:0 0 0.7em}.uwb_banner-message_alert{background-color:#efa32a}.uwb_banner-message_alert .uwb_banner-message_title{background-position:-50px -150px}.uwb_banner-message_info{background-color:#d2e6f3}.uwb_banner-message_info .uwb_banner-message_title{background-position:-50px -50px}.uwb_banner-message_clear{background-color:#bcc75f}.uwb_banner-message_clear .uwb_banner-message_title{background-position:-50px -100px}.uwb_banner-message_text-wrapper{width:998px;margin:0 auto;padding:15px 0 10px}.headerWrapper{height:105px}.header{width:998px;margin:0 auto}.header .screenReaderLinks{font-size:100%;position:absolute;left:-5000px}.w-banner{display:flex;margin:3px 0 0 0}.w-banner span{position:absolute;top:0;left:-9999px}.w-banner_big-w{display:block;width:126px;height:81px;margin:0 14px 0 2px;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/w-logo-sprite.png");background-repeat:no-repeat;background-position:0 -7px}.w-banner_big-w:hover{background-position:0 -98px}.w-banner_wordmark{display:block;width:488px;height:93px;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-UWB-white.png");background-repeat:no-repeat;background-position:0 -19px}.w-banner_wordmark.mod-business{background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-Business-white.png")}.w-banner_wordmark.mod-education{background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-EDU-white.png")}.w-banner_wordmark.mod-nhs{background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-NHS-white.png")}.w-banner_wordmark.mod-ias{background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-IAS-white.png")}.w-banner_wordmark.mod-stem{background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/BrandLogoHeader-STEM-white.png")}.w-banner_print-version{display:none}.topNavigation{display:flex;justify-content:flex-end;z-index:100}.topNavigation ul{font-size:11px;padding:0px;margin:0px}.topNavigation a{display:block;text-decoration:none;color:#9487ac;padding:3px 8px 0 8px}.topNavigation a:hover{color:#fff}.topNavigation li{display:inline-block}.header #search{width:auto !important;float:right;margin-top:28px}.gsc-search-box table{width:200px !important;margin:0 !important;padding:0 !important;background:none !important;border:none !important;text-align:left !important}.gsc-search-box table tr,.gsc-search-box table td{margin:0 !important;padding:0 !important;background:none !important;border:none !important;text-align:left !important}#gsc-i-id1{background:none !important;background-color:#fff !important;padding:0 0 0 0.2em !important;margin:0 !important;min-height:25px !important;font-size:14px !important}#gsc-i-id1::-webkit-input-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1:-ms-input-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1::-ms-input-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1::placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1:-ms-input-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1::-webkit-input-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1:-moz-placeholder{color:#fff !important;background-color:#fff !important}#gsc-i-id1:focus{outline:auto !important;outline-width:2px !important;outline-style:solid !important;outline-color:Highlight !important}.w-google-cse_label{position:absolute;left:-5000px}input.gsc-search-button:not(.gsc-search-button-v2){background:#d3a302 url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/searchBtn.gif") no-repeat scroll left top !important;border:0 none !important;border-radius:2px !important;height:27px !important;min-width:31px !important;padding:0 !important;text-indent:-9000px !important;text-transform:capitalize !important}td.gsc-clear-button{display:none !important}.w-PrimaryNav{position:relative;padding:0 2px;width:1026px;margin:0 auto;border-radius:4px;height:3.1em}.w-MegaMenu{position:relative;list-style:none;padding:0;margin:5px 0 0 0;width:100%}.w-MegaMenu .elem-LvlTop{margin:0;float:left}.w-MegaMenu .elem-LvlTop h2{line-height:26px;padding:0}.w-MegaMenu .elem-LvlTop:first-of-type .elem-LvlTop_Title{padding-left:19px;padding-right:31px}.w-MegaMenu .elem-LvlTop:last-of-type{float:right}.w-MegaMenu .elem-LvlTop:last-of-type .elem-LvlTop_Title{padding-left:20px;padding-right:33px;margin-right:2px;background-image:none}.w-MegaMenu .elem-LvlTop_Title{display:block;font-size:13px;color:#f0f0f0;margin:0;padding:6px 33px 5px;text-decoration:none;background:url(https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/megamenuDivider.gif) no-repeat right 13px}.w-MegaMenu .elem-LvlTop_Title:hover{background:#f8f8f7;color:#262626;border-top-left-radius:2px;border-top-right-radius:2px}.w-MegaMenu .elem-LvlTop_Title.isActive{background:#f8f8f7;color:#262626;border-top-left-radius:2px;border-top-right-radius:2px}.w-MegaMenu .elem-SubMenu{position:absolute;display:flex;flex-direction:row;visibility:hidden;top:-9999em;max-height:0px;opacity:0;left:0;list-style-type:none;width:1016px;margin:0;padding:20px 8px 3px 0;background-color:#f8f8f7;background-image:url(https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/megamenu-headingBG.gif);background-repeat:no-repeat;background-position:0 25px;background-size:970px 5px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;box-shadow:0 1px 1px #cdcdcd}.w-MegaMenu .elem-SubMenu.isVisible{visibility:visible;top:2.5em;max-height:600px;opacity:1;z-index:1001}.w-MegaMenu .elem-SubmenuSection ul{list-style-type:none}.w-MegaMenu .elem-SubmenuSection a{display:block;padding:5px 6px;text-decoration:none;color:#474747}.w-MegaMenu .elem-SubmenuSection a:hover{background:#eee;border-top-left-radius:2px;border-top-right-radius:2px}.w-MegaMenu .elem-SubmenuSection .elem-LvlTwo_Title{display:inline-block;margin:0 0 8px 0;padding:0 10px 0.2em 12px;color:#252525;font-weight:bold;font-size:14px;line-height:1.2;background-color:#f9f9f8}.w-MegaMenu .elem-SubmenuSection .elem-LvlTwo_List{width:234px;margin:0 0 15px 8px;padding:0}.w-MegaMenu .elem-SubmenuSection .elem-LvlTwo_List li{line-height:16px}.w-MegaMenu .elem-SubmenuSection .elem-LvlThree_Title{margin:0 0 8px 6px;color:#252525;font-weight:bold;font-size:14px}.w-MegaMenu .elem-SubmenuSection .elem-LvlThree_List{margin:0 0 15px 0;padding:0}.w-MegaMenu .elem-SubmenuSection .elem-Btn_More{display:block;background:#c79800;color:#fff;font-size:11px;line-height:18px;text-align:center;float:left;padding:4px 20px;text-shadow:none;margin:15px 0 10px 5px;border-radius:2px}.w-MegaMenu .elem-SubmenuSection .elem-Btn_More:hover{background:#543c80}.w-MegaMenu .elem-ColsContainer{display:flex;flex-direction:row}.w-MegaMenu_Static{position:relative;list-style:none;display:flex;justify-content:space-between;padding:0.5em 0 0 0;margin:5px 0 0 0;width:100%}.w-MegaMenu_Static a{display:block;color:#f0f0f0;margin:0;padding:2px 33px 4px;text-decoration:none;background:url(https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/megamenuDivider.gif) no-repeat right 13px}.w-MegaMenu_Static a:hover{color:#fff}.w-MegaMenu_Static li{margin:0}.w-MegaMenu_Static li:last-of-type a{background:none}.footer{width:998px;margin:0 auto}ul.uwbAddress a,ul.getInTouch a{display:inline}footer .getInTouch strong{margin-right:5px}.uwb-give-button{text-transform:uppercase;text-decoration:none;color:#4b2e83 !important;font-size:1.5em;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-heart.png");background-repeat:no-repeat;background-position:1em;padding:5px;display:block;position:relative;width:69%;border:1.5px solid #7862a2;border-radius:3px;-webkit-border-radius:3px}a.uwb-give-button{font-weight:200;border:1.25px solid #7862a2;padding-left:3em;padding-top:3}a.uwb-give-button:hover{font-weight:800;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-heart-gold.png");border:1.25px solid #a39779}.person-button-gold{text-decoration:none;color:#85754d !important;font-size:1.5em;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-person-gold.png");background-size:25px;background-repeat:no-repeat;background-position:0.5em;padding:5px;display:block;position:relative;border-radius:3px;-webkit-border-radius:3px}a.person-button-gold{font-weight:200;text-align:left;border:1.25px solid #b7a57a;padding-left:2.2em;background-size:25px}a.person-button-gold:hover{font-weight:700;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-person-gold-out.png");background-size:25px;border:1.25px solid #b7a57a}.heart-button-purple{text-decoration:none;color:#4b2e83 !important;font-size:1.5em;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-heart.png");background-size:25px;background-repeat:no-repeat;background-position:0.5em;padding:5px;display:block;position:relative;border-radius:3px;-webkit-border-radius:3px}a.heart-button-purple{font-weight:200;text-align:left;border:1.25px solid #4b2e83;padding-left:2.2em;background-size:25px}a.heart-button-purple:hover{font-weight:700;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/give-heart-out.png");background-size:25px;border:1.25px solid #4b2e83}.colButtons{margin:0px;padding:0px}.colButtons li{list-style:none;padding:0px !important;margin:0 0 3px !important;display:inline-block;background:none !important}.w-KCMSForm{margin-bottom:2em;border:0;padding:0}.w-KCMSForm em,.w-KCMSForm .w-Required_Label{color:#85754d;font-style:italic}.w-KCMSForm em:before,.w-KCMSForm .w-Required_Label:before{content:' '}.w-KCMSForm legend{font-size:1.8em;line-height:1.8em;color:#000;margin-bottom:5px;font-weight:normal}.w-KCMSForm input[type='radio']{height:1.2em}.w-KCMSForm input[type='text'],.w-KCMSForm input[type='password'],.w-KCMSForm textarea{padding:7px 5px;width:240px;background:#f9fbfe;border:1px solid #d7d7d7}.w-KCMSForm textarea{width:30em;height:10em}.w-KCMSForm select{font-size:1em}.w-KCMSForm input[type='submit']{background:#363636;color:#fff;border:solid 3px #363636;padding:8px 35px;border-radius:2px;min-height:44px;text-transform:uppercase}.w-KCMSForm input[type='submit']:hover,.w-KCMSForm input[type='submit']:active{background-color:#fff;color:#363636;cursor:pointer}.w-KCMSForm input[type='submit']:focus{box-shadow:0px 0px 12px 0px #397be5}.w-KCMSForm .editing-form-control-nested-control{margin-bottom:1.5em}.w-KCMSForm .editing-form-control-nested-control+.EditingFormErrorLabel{margin-top:-1.5em}.w-KCMSForm .EditingFormErrorLabel{display:block;font-weight:bold;color:#aa0000;background:#fcecf3;border:1px dashed #e0bdcd;padding:5px;margin-bottom:2em}.w-KCMSForm .ErrorLabel{display:block;padding:1em;background:#aa0000;color:#ffffff;border:1px solid #ccc;text-align:center;margin-bottom:2em}.w-KCMSForm .input-width-15.form-control{width:3em}.w-KCMSForm .input-width-20.form-control{width:4em}.w-KCMSForm .sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.w-KCMSForm .date-time-picker button{height:31px;width:32px;border:none;background-color:#fff;background-image:url(https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/uw-icons-calendar.png);background-position:50% 50%;vertical-align:bottom;background-repeat:no-repeat;cursor:pointer}.w-KCMSForm .date-time-picker .calendar-action:before,.w-KCMSForm .date-time-picker .calendar-gmt-info:before{content:' '}.uwb_directory-index_navigation-thumbnails{position:relative;width:190px}.uwb_directory-index_navigation-thumbnails .uwb_thumbnail-item{display:none;position:absolute;top:0;left:0}#mainCol ul li.uwb_thumbnail-item{background:none;padding-left:0}.w-ShowPanel{visibility:visible;opacity:1;transition:opacity 0.4s ease-in-out;width:auto;height:auto;padding:1em 2em;margin:0 0 0.2em 0;background-color:#eee;display:inline-block}.w-HidePanel{visibility:hidden;opacity:0;transition:opacity 0.4s ease-in-out;width:0px;height:0px}.w-TriggerBtn{background-color:#eee;padding:6px 30px 6px 6px;font-size:16px !important;text-decoration:none;color:#363636;border-radius:3px;border:0px;margin:1em 0;text-align:left}.w-TriggerBtn:hover,.w-TriggerBtn:focus{cursor:pointer;background-color:#ccc;color:#000}.w-TriggerBtn_Expanded{background-color:#363636;color:white}.w-TriggerBtn_Expanded:before{content:' [-] '}.w-TriggerBtn_Collapsed:before{content:' [+] '}.w-Wrapper_SingleButton .w-TriggerBtn{margin:0.5em 0}.w-Wrapper_SingleButton .w-ShowPanel{background-color:transparent}.w-Wrapper_AccordionStyle{margin:1em 0 0 0}.w-Wrapper_AccordionStyle h2,.w-Wrapper_AccordionStyle h3,.w-Wrapper_AccordionStyle h4,.w-Wrapper_AccordionStyle h5,.w-Wrapper_AccordionStyle h6{font-size:1em;font-weight:normal}.w-Wrapper_AccordionStyle .w-ShowPanel{display:block}.w-Wrapper_AccordionStyle .w-TriggerBtn{width:100%;margin:0.5em 0 0 0}#mainCol #rightCol .uwb_blog_list-widget ul li{line-height:16px;margin:0 0 0.5em}.uwb_blog_summary-widget{border-bottom:1px solid #ddd;padding:0 0 1em 0;margin:0 0 2em 0}.uwb_blog_summary-widget .elem_meta-data{font-size:0.8em}.uwb_blog_summary-widget .elem_container{position:relative;overflow:hidden;clear:both}.uwb_blog_summary-widget .elem_decoration{margin:0 1em 0 0;float:left}.w-UWBContentPicture{display:table;width:1px}.w-UWBContentPicture::after{content:'';clear:both;display:table}.w-UWBContentPicture.mod-Right{float:right;padding:15px 0 20px 20px}.w-UWBContentPicture.mod-Left{float:left;padding:15px 20px 20px 0}.w-UWBContentPicture.mod-Block{padding:20px 0}@media (max-width: 30em){.w-UWBContentPicture.mod-Right{float:none}.w-UWBContentPicture.mod-Left{float:none}}picture,figcaption{display:table-row}.w-UWBContentPicture_CaptionText{display:inline}.w-UWBContentPicture_Credit{display:inline}.w-UWBContentPicture_Credit.mod-Divider::before{content:' / '}.w-UWBHeading_OffScreen{position:absolute;top:0;left:-9999px}.w-UWBList_Horizontal{list-style-type:none}.w-UWBList_Horizontal li{display:inline-block;margin:0 2px 2px 0}.w-UWBList_HorizontalPipe{list-style-type:none}.w-UWBList_HorizontalPipe li{position:relative;display:inline-block;padding:0 1em 0 0.5em;margin:0}.w-UWBList_HorizontalPipe li:first-of-type{padding:0 1em 0 0}.w-UWBList_HorizontalPipe li:after{position:absolute;top:-2px;right:0;content:'|'}.w-UWBList_HorizontalPipe li:last-of-type:after{content:''}.w-UWBList_HorizontalPipe li a{margin:0}.w-UWBSimpleText_Copyright{margin:0;padding:0}

body{background:#fff url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/headerBg.jpg") no-repeat center top}.w-PrimaryNav{margin-top:-393px}.headerWrapper{padding-bottom:10px;background:#2e1c50 url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/headerBg.jpg") no-repeat center top;height:486px;width:100%;min-width:1030px}.w-HomeContent_Block{background-color:#fff}.w-HomeContent{position:relative;overflow:hidden;width:998px;margin:0 auto;background-color:#fff;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/contentBg-home.gif");background-repeat:repeat-y;background-position:left top}h1.intro-heading{position:absolute;top:0;left:-9999px}main{width:100%;min-width:1030px;background:none;padding-top:0;color:#707070;font-size:1em;line-height:21px}main a{color:#707070}main a:hover{color:#4b2e84;text-decoration:underline}main a.more{background:#f0efef;padding:6px 30px;font-weight:bold;text-decoration:none;color:#363636;border-radius:3px;border:0px;margin-top:10px}main a.more:hover{background:#cbcbcb;color:#363636}main .w-HomeContent_Tagline{margin:0;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/uwbTagline.jpg");background-color:#fff;background-repeat:no-repeat;background-position:left bottom;width:998px;height:60px}main .w-HomeContent_Tagline span{position:absolute;left:-9999px}main img{float:left;padding:3px;border:1px solid #dfdfdf;background:#fff;margin-right:10px;margin-bottom:5px}.colBox{padding:0 0 30px;margin-bottom:30px}#admissions,#events,#updates,#socialMedia{border-bottom:4px solid #eaeaea;border-style:double}#col1,#col3{padding-top:40px}#col1 h3{color:#b7a571;margin-bottom:15px;font-size:18px;line-height:22px;font-variant:normal;font-style:normal}#col1 h4{color:#363636;font-weight:bold;font-size:13px;line-height:18px;margin-bottom:3px}#col1 ul{padding:0;overflow:hidden;font-size:11px;margin-bottom:0;line-height:18px}#col1 ul li{list-style-type:none;width:45%;margin-right:5%;float:left}#col1 ul li a{text-decoration:none;color:#7a7a7a}#admissions ul{margin-top:40px}#admissions p{margin-bottom:10px}#portal.colBox{padding:0 0 20px;margin-bottom:20px}#portal ul{margin-top:20px}#col2{font-size:1.1em;line-height:22px;color:#000;padding-bottom:20px;background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/uwbTaglineBtm.jpg") no-repeat 240px top;padding-top:45px}#col2 h3,#col2 h3 a{color:#363636;text-decoration:none;margin-bottom:3px;font-weight:normal;font-size:20px;line-height:24px;font-style:normal}#col2 .story{width:420px;margin:0 auto 35px}#events.colBox{margin-top:-20px;margin-bottom:20px;padding-bottom:25px}.colBox.w-Home_Box-ImgNoBorder{padding:0 0 20px;margin-bottom:20px;border-bottom:4px solid #eaeaea;border-style:double}.colBox.w-Home_Box-ImgNoBorder img{border:0}#socialMedia.colBox,#otherLinks.colBox{padding:0 0 20px;margin-bottom:20px;overflow:hidden}#socialMedia ul,#otherLinks ul{margin:0;padding:0 0 0 20px}#socialMedia li,#otherLinks li{display:inline-block;float:left;margin-right:3px;list-style-type:none}#socialMedia img,#otherLinks img{border:0;padding:0;margin:0}#socialMedia li a{width:50px;height:50px;display:block;text-indent:-9999px}#socialMedia li.icon-facebook a{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconFb.gif") no-repeat left top}#socialMedia li.icon-facebook a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconFbHover.gif") no-repeat left top}#socialMedia li.icon-twitter a{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconTw.gif") no-repeat left top}#socialMedia li.icon-twitter a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconTwHover.gif") no-repeat left top}#socialMedia li.icon-linkedin a{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconIn.png") no-repeat left top}#socialMedia li.icon-linkedin a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconInHover.png") no-repeat left top}#socialMedia li.icon-youTube a{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconYt.gif") no-repeat left top}#socialMedia li.icon-youTube a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconYtHover.gif") no-repeat left top}#otherLinks li{float:left;margin:0}#otherLinks li a{display:block}#otherLinks ul li.accessibility{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconAccessibility.gif") no-repeat left top;width:25%;height:50px}#otherLinks ul li.accessibility a{text-indent:-9999px;background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconAccessibility.gif") no-repeat left top;width:50px;height:50px}#otherLinks ul li.accessibility a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconAccessibilityHover.gif") no-repeat left top}#otherLinks ul li.gift a{text-decoration:none;font-weight:bold;color:#b7a571;padding-top:14px;padding-bottom:10px;padding-left:35px;background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconGift.gif") no-repeat left top;height:30px;width:105px;margin-right:20px;font-size:14px}#otherLinks ul li.gift a:hover{background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/iconGiftHover.gif") no-repeat left top;color:#4b2e84}.tabWrapper ul.tab_container li{padding-right:35px}.tabWrapper{margin:0 auto;overflow:hidden;background:#fff}.smoothTabs ul{list-style:none;margin:0;padding:0;width:100%;overflow:hidden}.tabWrapper .tab_navigation li{list-style:none;color:#858585;float:left;display:inline;cursor:pointer;text-align:center;margin-right:2px;list-style-type:none}li.smoothTabsLiCurrent{color:#000 !important}.smoothTabsDivHidden{display:none}.tabWrapper .item{overflow:hidden;margin-bottom:15px}.tabWrapper a.more-link{font-size:11px;color:#7a7a7a;margin-left:55px}#events.tabWrapper{color:#707070;font-size:1em}#events.tabWrapper ul.tab_navigation{color:#858585;font-size:18px;line-height:18px !important;padding:0;overflow:hidden}#events.tabWrapper ul.tab_navigation li{color:#858585;padding-bottom:15px;padding-top:10px;text-align:left;padding-left:20px}#events.tabWrapper ul.tab_navigation li.secondTab{width:110px !important;float:left}#events.tabWrapper ul.tab_navigation li.firstTab{width:75px !important;float:left;background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/tab-divider.jpg") no-repeat right center;padding-top:20px}li.smoothTabsLiCurrent{color:#b7a571 !important}#events.tabWrapper .item{padding-top:20px;padding-right:3%;width:97%;border-top:1px solid #e1e1e1;margin-bottom:0}#events.tabWrapper .item li{display:block;overflow:hidden;padding:0 0 0 15px;margin-bottom:0}#events.tabWrapper .item li a{padding-top:3px;padding-bottom:3px;display:block;color:#707070;text-decoration:none}#events.tabWrapper .item li a:hover{color:#000 !important}#events.tabWrapper .item span.date{width:25px;margin-right:16px;display:block;float:left;font-size:10px;line-height:14px;text-align:center;margin-top:3px}#events.tabWrapper .item span.date em{color:#363636;font-size:20px;font-weight:normal;font-style:normal;text-align:left;display:block;margin-bottom:2px}#events.tabWrapper .item span.info{width:168px;float:left;display:block;line-height:18px;padding-bottom:7px;margin-bottom:7px}#events.tabWrapper .item span.info strong{display:block}#events.tabWrapper .more-link,#events.tabWrapper .construction-link{display:block;line-height:16px;padding-left:55px}#events.tabWrapper .more-link a{font-size:11px}#events.tabWrapper .construction-link{padding-top:15px;padding-bottom:5px;margin-bottom:0;background:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/construction-icon.gif") no-repeat 15px 20px;border-top:1px solid #f0efef}#events.tabWrapper .construction-link a{text-decoration:none;color:#363636}#events.tabWrapper .construction-link strong{display:block}#updates{padding-top:10px;padding-left:10px;text-align:left;border-bottom:4px solid #eaeaea;border-style:double}#updates h3{color:#b7a571}.w-HomeFooter_Block{position:relative;min-height:30em;width:100%;min-width:1030px;background-color:#212121;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/footerBg.jpg");background-repeat:no-repeat;background-position:center top;margin-top:80px;color:#a3a3a3;font-size:11px;padding-bottom:20px}.w-HomeFooter_Content{position:relative;border:none;background-image:none;background-color:transparent;width:998px;margin:0 auto}.w-HomeFooter_Content h2{font-size:13px;color:#fff;margin:20px 0 8px}.w-HomeFooter_Content .col2 h2{margin-left:20px;margin-right:40px}.w-HomeFooter_Content ul{margin:0;padding:0}.w-HomeFooter_Content ul li{list-style-type:none;margin-bottom:2px;line-height:1.7}.w-HomeFooter_Content ul a{color:#a3a3a3;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}.w-HomeFooter_Content ul a:hover{color:#fff;-webkit-text-decoration:underline solid;text-decoration:underline solid}.w-HomeFooter_Content address{font-weight:normal;font-style:normal;margin-bottom:15px;line-height:19px}.uwb_static-feature{position:relative;display:flex;width:998px;height:330px;margin:0 auto 10px;background-color:#fff}.uwb_static-feature img{border:none;padding:0;margin:0}.uwb_static-feature_content-box{width:288px;padding:45px 37px 45px 45px;background-color:#ededed}.uwb_static-feature_title{color:#4b2e84;font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:34px;line-height:36px;letter-spacing:-1px;margin:0 0 0.3em 0}.uwb_static-feature_text{font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:1.1em}.uwb_static-feature_button,.uwb_static-feature_button:hover,.uwb_static-feature_button:focus{display:block;width:auto;margin-top:0;padding:4px 8px;border-radius:2px;background-color:#4b2e84;color:#fff;font-size:14px;text-align:center;text-decoration:none}.uwb_static-feature_image{width:630px;height:330px;border:none}.uwb_static-feature_image .uwb_static-feature_arrow{position:absolute;top:0;left:370px;background-image:url("https://uwb-prodkcms-endpnt.azureedge.net/edu-v2/_12.00/_images/static-feature-arrow.png");background-repeat:no-repeat;width:18px;height:330px}


/* --------
   
   Document: print.css
   Date: Aug. 2012 
   
   * Gives you some sensible styles for printing pages.
   * See Readme file in this directory for further instructions.

   Some additions you'll want to make, customized to your markup:
   #header, #footer, #navigation { display:none; }
   
   Table of content:
   	1. Layout
   	2. Text
   	3. Links
   	4. Custom
	

---------------------------------------------------------*/
body {
  line-height: 1.5;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 8pt;
}

/* 1. Layout
-------------------------------------------------------------- */
.headerWrapper {
  background: none !important;
}
#uwbWrapper {
  background: none !important;
}
#containerWrapper {
  background: none !important;
}
.container {
  background: none !important;
}

hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* 2. Text
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

code {
  font: 0.9em 'Courier New', Monaco, Courier, monospace;
}

a img {
  border: none;
}

p img.top {
  margin-top: 0;
}

blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.8em;
}

.small {
  font-size: 0.8em;
}

.large {
  font-size: 1.1em;
}

.quiet {
  color: #999;
}

.hide {
  display: none;
}

/* 3. Links
-------------------------------------------------------------- */
a:link,
a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #095cd5;
}

/*
  This has been the source of many questions in the past. This
  snippet of CSS appends the URL of each link within the text.
  The idea is that users printing your webpage will want to know
  the URLs they go to. If you want to remove this functionality,
  comment out this snippet and make sure to re-compress your files.
 */
a:link:after,
a:visited:after {
  content: ' (' attr(href) ')';
  font-size: 90%;
}

/* If you're having trouble printing relative links, uncomment and customize this:
   (note: This is valid CSS3, but it still won't go through the W3C CSS Validator) */
/* a[href^="/"]:after {
  content: " (http://www.yourdomain.com" attr(href) ") ";
} */
/* 4. Custom
-------------------------------------------------------------- */
nav,
ul.navigation,
#search,
.megamenu,
.share,
#leftCol,
.footerW,
footer .col2,
footer .col3,
footer .col4,
.screenReaderLinks {
  display: none;
}

/* Banner branding updates, Fall 2015 */
.w-banner_big-w,
.w-banner_wordmark {
  display: none;
}

.w-banner_print-version {
  display: block;
  width: 630px;
  height: 93px;
}

/* End bannder branding updates */
/* ******************************* */
/* ******************************* */
/* REMOVE references below to #logo after markup is in place */
#events ul.tab_navigation a:link:after,
#events ul.tab_navigation a:visited:after,
#homeContent #col2 h2 a:link:after,
#homeContent #col2 h2 a:visited:after {
  content: '' !important;
}

#content p {
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px !important;
  padding: 0;
  color: #000;
  font-weight: bold;
}

.w-h1,
.w-H1_SubTitle {
  position: relative;
  display: block;
}

.w-H1_SubTitle {
  margin: 2em 0 -2em 0;
}

#content h2 {
  font-size: 11pt !important;
  margin-top: 10px;
}

#content h3 {
  margin-top: 10px !important;
}

h4.sectionTitle2 {
  display: none;
}

#breadcrumb li {
  display: inline-block;
  font-size: 8pt;
  color: #4f4f4f;
}

#breadcrumb li a,
.footer a {
  color: #4f4f4f;
}

.container,
#content {
  margin-bottom: 15px;
  border-bottom: 1px solid #c0c0c0;
}

#content {
  padding-bottom: 15px;
}

.breadcrumbLinks {
  display: block;
  float: none;
  width: 100%;
  border-top: 3px solid #000;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
  padding: 10px 0 10px 0px;
}

.colBox .focusBox {
  padding-bottom: 15px;
}

.footer {
  margin-top: 15px;
  padding-bottom: 15px;
  border-top: 3px solid #000;
}

.footer .col1 {
  font-size: 7pt;
  line-height: 14px;
}

.footer .col1 ul {
  padding-left: 0px;
}

.footer .col1 li {
  display: inline-block;
  margin-right: 5px;
  border-right: 1px solid #c0c0c0;
  padding-right: 5px;
}

/*Home Page*/
.slideshow,
img.tagline,
#homeContent #socialMedia,
#homeContent #otherLinks,
#events ul.tab_navigation li.secondTab,
#homeContent #admissions ul,
#homeContent #portal ul {
  display: none;
}

.homePg .container {
  border: none;
}

#homeContent #admissions,
#homeContent #portal {
  width: 50%;
  float: left;
}

#homeContent #col1 {
  border-top: 3px solid #000;
  margin-top: 5px;
  padding-top: 5px;
}

#homeContent #col1,
#homeContent #col2 {
  border-bottom: 1px solid #c0c0c0;
  overflow: hidden;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%;
  clear: both;
}

#homeContent #col2 .story {
  width: 100%;
  clear: both;
}

#homeContent #col2 img {
  width: 90px;
}

#homeContent #col2 img,
#homeContent #col1 img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #c0c0c0;
}

#homeContent #col3 {
  padding-bottom: 15px;
}

#homeContent #events ul.tab_navigation,
#homeContent ul.tab_container {
  padding: 0;
  list-style-type: none;
}

#homeContent ul.tab_container a {
  text-decoration: none;
}

#homeContent #events ul.tab_navigation a,
#homeContent #col2 h2 a {
  font-weight: bold;
  font-size: 8pt;
  color: #000;
  text-decoration: none;
}

#homeContent #subContent-left {
  display: none;
}

#subContent-right h4 {
  border-top: 3px solid #000;
  padding-top: 15px;
  font: 13pt/28px 'Lucida Grande', Lucida, Verdana, sans-serif;
  text-align: center;
}

/*Legacy Styles*/
.columnWrapper .leftColumn {
  float: none;
  width: 100%;
}

#map .map-con {
  display: block;
}

#map-container img {
  display: none;
}

.uwb-admissions .colBox a:link:after,
.uwb-admissions .colBox a:visited:after,
.uwb-tours .colBox a:link:after,
.uwb-tours .colBox a:visited:after {
  content: '';
}

table {
  border-left: 0px solid #999999;
}

table thead th {
  border-bottom: 1px solid #999999;
}

table tbody th {
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
}

table tbody tr td {
  border: 1px solid #999999;
  padding: 3px;
}

table tbody tr td.disabled {
  border: 1px solid #999999;
  border-top: 0;
  border-left: 0;
}

.uwb-admin .map-con2 {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 100%;
}

#campuslinks {
  display: none;
}


