@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}

#features-slider-container {
  position: relative;
}
#features-slider {
  max-width: 1200px;
  margin: auto;
}
#features-slider .feature img {
  width: 100%;
  height: auto;
}
#features-slider .feature {
  max-width: none;
  width: 100%;
}
#features-slider .feature .details {
  padding: 10px 50px 30px; 
}
#features-slider-container .controls {
  position: absolute;
  display: block;
  width: calc(100% - 16px);
  margin: auto;
  max-width: 1400px;
  left: 0;
  right:0;
  top: 175px;
}
#features-slider-container .controls a {
  border: 2px solid #676767;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  padding: 7px;
  transition:transform 0.2s;
  position: absolute;
  display: block;
}
#features-slider-container .controls img {
   width: auto;
  height: 15px;
  margin: auto;
  display: block;
}

#features-slider-container .controls a.prevBtn {
  left:0;
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#features-slider-container .controls a.nextBtn {
  right:0;
}
#features-slider-container .controls .prevBtn:hover {
  -webkit-transform:scale(1.1) rotate(180deg);
  -ms-transform:scale(1.1) rotate(180deg);
  transform:scale(1.1) rotate(180deg);
}

#features-slider-container .controls .nextBtn:hover {
  -webkit-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1);
}

@media all and (min-width:580px) {
  #features-slider-container {
    margin: 10px 0;
    overflow: hidden;
  }
  #features-slider li .wrap {
    margin:0 5px;
  }
}

@media all and (min-width:1450px) {
  body.js #features-slider li {
    opacity: 0.5;
    transition:opacity 1s;
  }

  body.js #features-slider li.active {
    opacity: 1;
  } 

  #features-slider {
    overflow:visible !important;
  }

  #features-slider-container .controls a {
    height: 35px;
    width: 35px;
    padding: 10px 8px 10px 12px;
  }

  #features-slider-container .controls img {
    width: auto;
    height: 35px;
  }

  #features-slider .feature .details {
    padding: 10px 20px 30px; 
  }
}
