/* CSS Document */
/* Table of Contents:
	1. Reset Styles
	2. Baseline (Default) Styles
	2b. ALERT
	3. Global Header
	4. Main Navigation Menu
	5. Home Page Styles
	6. Sub Page Left Hand Navigation
	7. Sub Page Main Content Area
	8. Sub Page Column Styles
	9. Global Footer
	10. Media Queries
*/

@import url("fonts.css");

/* CSS Reset */
html, body, div, span, applet, object, iframe, pre,
a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, fieldset, form, label, 
legend, table, caption 
                  {margin: 0;padding: 0;border: 0;outline: 0;
                  font-size: 100%;vertical-align: baseline;
                  background: transparent;}
body              {line-height: 1;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
:focus            {outline: 0;}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse;border-spacing: 0;}

/******** 2. Default *********/
body {
	background-color: #ffffff;
	}

html, body {
	height: 100%;	
}
#main_container {
	background: url(/images/bkgnd.jpg) repeat-x top;
	margin:0 auto;
	min-width: 1024px;
	padding:0;
	z-index: 10;
}
#content_cont {
	background: url(/images/content-bkgnd.png) repeat-y top left;
	font-family: 'Fontin Sans', Tahoma, Arial, sans-serif;
	margin: 0 auto;
	width: 992px;
}
#content_sub {
	background: url(/images/content-main-bkgnd.gif) no-repeat top center;
	margin: -10px 16px 0 16px;
	width: 960px;
	}
a {color:#a0783a; text-decoration: underline; outline: none;}
a:visited {color:#466d70; text-decoration: underline; outline: none;}
a:hover, a:active {text-decoration: none; outline: none;}
img {border: 0;}
a img {border: 0; outline: none;}
.img_right {float: right; margin: 4px 0px 4px 10px;}
.clear {clear: both;}
h1 {color:#466d70; font: normal 1.813em 'KreonBold', Georgia, "Times New Roman", Times, serif; line-height: 1.1; margin: 0 0 10px 0;}
h2 {color: #d42a2c; font: normal 1.188em 'KreonBold', Georgia, "Times New Roman", Times, serif; line-height: 1.1;}
h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited {text-decoration: none;}
h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active {text-decoration: underline;}
h3 {color: #000; font: bold 1.125em 'Fontin Sans', Tahoma, Arial, sans-serif;}
h2.profile {color: #d42a2c; font: bold 18px 'Fontin Sans', Tahoma, Arial, sans-serif; margin: auto 0 0 0;}
fieldset {border: 0; margin: 0px; padding: 0px;}
input {color: #333; font: normal .75em 'Fontin Sans', Tahoma, Arial, sans-serif;}
li {line-height: 1.5;}
p.more {text-align: right;}
p.more a{text-decoration: none;}
p.more a:hover{text-decoration:underline;}
.emphasize {color: #d42a2c; font-weight: bold;}

/******* 2b. ALERT *******/
	#alert {background-color: #d5a10f; border-bottom: #fff 4px solid; border-top: #fff 4px solid; margin: 0 auto; padding: 2%; text-align: center; width: 96%;}
	#alert_text {background: url(/images/alert.png) no-repeat top left; color:#8c1c20; font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif; margin: 0 auto; min-height: 29px; padding-left: 40px; text-align: left; width: 700px;}
	#alert_text .close {float: right; padding: 10px;}
	#alert_text a {color:#000; font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif; display: block; text-decoration: underline;}
	#alert_text a:hover, #alert_text a:active {color: #8c1c20;}
	.alert {color: #000; font-weight: bold;}

/******** 3. Global Header *********/
#skip {position:absolute;z-index:9999;left:-10000px;top:0;width:100%;margin-left:0;text-align:center;list-style:outside none;}
#skip li {list-style-type:none;}
#skip a {position:absolute;left:-999em;overflow:hidden;top:0;}
#header_cont {
	height: 110px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 960px;
	z-index: 13000;
	}
		#logo {
			float: left;
			height: 95px;
			margin-top: 15px;
			padding: 0px;
			width: 260px;
		}
			#logo a {border: none; outline: none;}
		#utility {
			background: url(/images/utility-bkgnd.png) no-repeat top;
			float: right;
			height: 33px;
			margin-left: 52px;
			padding: 13px 0 64px 12px;
			width: 636px;
		}
			#utility ul {list-style: none; margin: 0; padding: 0;}
			#utility li {float: left; font: normal 13px 'Fontin Sans', Tahoma, Arial, sans-serif; margin: 0; padding: 5px 8px 0px 8px;}
			#utility li li {float: none; font-size: 12px;}
			#utility li ul {display: none; left: -999em;}
			#utility li.login li a, #utility li.login li a:visited {color: #8c1c20; display: block;}
			#utility li.login li a:hover, #utility li.login li a:active {text-decoration: underline;}
			#utility li.login:hover {background-color: #f9f0d4; border-top-left-radius: 6px 6px; border-top-right-radius: 6px 6px; color: #333; opacity: .99;}
			#utility li:hover ul {background-color: #f9f0d4; border-bottom-left-radius: 6px 6px; border-bottom-right-radius: 6px 6px; border-top-right-radius: 6px 6px; display: inherit; left: auto; margin: 0 0 0 -8px; opacity: .99; padding: 8px; position: absolute;}
			#utility li.login:hover a, #utility li.login a:hover, #utility li.login a:active {color: #000;}
			#utility li.login li a:hover, #utility li.login li a:active {color: #8c1c20;}
			#utility li a, #utility li a:visited {color: #fff; text-decoration: none;}
			#utility li a:hover, #utility li a:active {color:#d5a10f}
			#utility #search {float: left; margin: 0; padding-left: 10px;}
				fieldset.search {
						border: none;
						height: 23px;
						margin: 0;
						text-align: right;
						width: 195px;
						}
					#search input.searchBox {
						color: #333;
						width: 136px;
						height: 18px;
						padding: 1px 22px 1px 5px;}
					.search button.btn {
						background: none;
						border: none;
						outline: 0;
						width: 21px;
						height: 21px;
						margin-left:-22px;
						cursor: pointer;
						text-indent: -9999px;
						background: url(/images/search-field-sprite.gif) no-repeat top right;
						}
					.search button.btn:hover {
						background: url(/images/search-field-sprite.gif) no-repeat bottom right;
						}
						
/******** 4. Main Navigation *********/
#menu_cont {
	background: url(/images/menu-bkgnd.png) no-repeat top;
	height: 37px;
	margin: 0 auto;
	padding-bottom: 10px;
	position: relative;
	width: 992px;
	z-index: 10000;
}
#menu_cont ul{list-style: none;}
	#mega-menu {height: 37px; margin: 0 auto; padding: 0 16px; position: absolute; width: 960px; z-index: 8000;}
	#mega-menu li li{  
        border:none;
        display:block;
        float: none;
		height: auto;
        text-align:left;
    }
			#mega-menu li {display: inline;}
		    #mega-menu li a.top {   
        	border:none;
			color: #fff;
       		float:left;
			font: bold 13px 'Fontin Sans', Helvetica, sans-serif;
			height: 27px;
			list-style: none;
       		padding: 10px 15px 0 15px;
			outline:0;
        	text-align: center;
			text-decoration:none;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px #000;
			white-space: nowrap;
			}
			    #mega-menu li:hover a.top { 
				background-color: #f9f0d4;
				color: #8c1c20;
				text-shadow: 1px 1px 1px #FFFFFF; 
				}
				#mega-menu li div.drop { 
				background: url(/images/drop-bkgnd.png) bottom left;
				display: none;
				left: -999em;
    			margin: 0 auto;
    			text-align:left;
			}
			#mega-menu li:hover div.drop {display: block; left: 16px; padding: 20px 0px; position: absolute; top: 37px; z-index: 9001;}  
			
			.mega_1 {float: left; font: bold 14px 'Fontin Sans', Tahoma, Arial, sans-serif; padding: 0 0 20px 20px; width: 160px;}
			.mega_2 {float: left; font: bold 14px 'Fontin Sans', Tahoma, Arial, sans-serif; padding: 0 0 20px 20px; width: 160px;}
			.mega_3 {float: left; font: bold 14px 'Fontin Sans', Tahoma, Arial, sans-serif; padding: 0 10px 20px 20px; width: 150px;}
			.mega_4 {float: left; font: bold 14px 'Fontin Sans', Tahoma, Arial, sans-serif; padding: 0 20px 20px 10px; width: 150px;}
			.mega_5 {float: right; font: normal 14px 'Fontin Sans', Tahoma, Arial, sans-serif; padding: 0 20px 20px 20px; width: 200px;}
			.mega_4 img {padding-bottom: 4px;}
			ul.mega_1, ul.mega_2, ul.mega_3, ul.mega_4 {list-style: none; margin: 0;}
			.mega_5 h2 {color: #d42a2c; font: bold 18px 'Fontin Sans', Tahoma, Arial, sans-serif; margin-bottom: 4px; text-align: center; text-transform: uppercase;}
			.mega_1 li, .mega_2 li, .mega_3 li, .mega_4 li {line-height: 1; list-style: square; margin: 0;}
			.mega_5 li {line-height: 1; list-style: outside square; margin-bottom: 8px;}
			.mega_5 .event-date {font-weight: bold;}
			.mega_1 a, .mega_2 a, .mega_3 a, .mega_1 a:visited, .mega_2 a:visited, .mega_3 a:visited {color: #8c1c20; display: block; border-bottom: #333 1px dotted; padding: 6px; text-align: left; text-decoration: none;}
			.mega_4 a, .mega_4 a:visited {color: #8c1c20; text-align: left; text-decoration: none;}
			.mega_5 a, .mega_5 a:visited {color: #8c1c20; text-align: left; text-decoration: none;}
			.mega_4 a:hover, .mega_4 a:active, .mega_5 a:hover, .mega_5 a:active {text-decoration: underline;}
			.mega_1 a:hover, .mega_2 a:hover, .mega_3 a:hover, .mega_1 a:active, .mega_2 a:active, .mega_3 a:active {background-color: #fff; color: #333; filter:alpha(opacity=95); -moz-opacity:.95; opacity:.95;}
				
/********* 5. Home Page Styles *********/
#content_cont_home {
	background: url(/images/content-bkgnd-home.png) repeat-y top left;
	font-family: 'Fontin Sans', Tahoma, Arial, sans-serif;
	margin: 0 auto;
	width: 992px;
	z-index: 9000;
}
#feature_cont {
	height: 307px;
	margin: -10px auto 0 auto;
	width: 960px;
}
	#audience {
	background: #f8e7b5 url(/images/audience-bkgnd.gif) no-repeat bottom;
	float: left;
	height: 212px;
	padding-top: 95px;
	width: 240px;
	}
		#audience .link {font: bold 1.08em 'Fontin Sans', Tahoma, Arial, sans-serif; height: 25px; margin-top: 20px; width: 240px;}
		#audience .link a{color:#fff; display: block; height: 22px; padding:3px 10px 0 20px; text-decoration: none; width: 210px;}
		#audience .link.future {background-color: #a0783a;}
		#audience .link.current {background-color: #466d70;}
		#audience .link.faculty {background-color: #e65a29;}
		#audience .link.online {background-color: #8b1c1f;}
		#audience .link.future:hover,#audience .link.future:active,#audience .link.current:hover,#audience .link.current:active,#audience .link.faculty:hover,#audience .link.faculty:active,#audience .link.online:hover,#audience .link.online:active {background-color:#333;}
	#content_cont_home .advanced-slider {
		float: right;
		height: 307px;
		width: 720px;
	}
		#content_cont_home .advanced-slider h1{color: #e9c591; font-size: 20px; margin-bottom: 0;}
		#content_cont_home .advanced-slider h2{color: #e9c591; font-size: 18px; margin-bottom: 0;}
		#content_cont_home .advanced-slider h3{color: #e9c591; font-size: 16px; margin-bottom: 0;}
		#content_cont_home .advanced-slider .slider_content {margin-top: 6px;}
#content_home {
	margin: 0px 16px;
	width: 960px;
}
	#content_home h1 {color: #8c1c20; margin-bottom: 12px; letter-spacing: 0.01em;}
#home_left {float:left; width: 720px;}
#column_left {
	float: left;
	font: normal .875em 'Fontin Sans', Tahoma, Arial, sans-serif;
	padding: 20px;
	width: 200px;
}
	#content_home #column_left h1 {font-size: 1.688em;}
	#event_list {font: bold 1em 'Fontin Sans', Tahoma, Arial, sans-serif;}
	#event_list a {display: block; font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif;}
/* Calendar Styles */
	#events_home table, #tabevents table {background: #f9f0d4 url(/images/calendar/cal-bkgnd.jpg) repeat-x top; -moz-box-shadow: 4px 4px 2px #ccc; -webkit-box-shadow: 4px 4px 2px #ccc; box-shadow: 4px 4px 2px #ccc; padding: 4px; width: 98%;}
	#events_home .otherdaySmallGrid, #tabevents .otherdaySmallGrid {padding: 4px 0;}
	#events_home .titleSmallGrid, #tabevents .titleSmallGrid {color: #000; font: normal 1.064em 'KreonBold', Georgia, "Times New Roman", Times, serif; padding: 4px 0;}
	#events_home th, #events_home td, #tabevents th, #tabevents td {border: #8c1c20 1px solid;}
	#events_home .dayheaderSmallGrid, #tabevents .dayheaderSmallGrid {background-color: #e9c591; color: #000;}
/* END Calendar Styles */
#column_center {
	float: left;
	padding: 20px;
	width: 440px;
}

	#action_buttons  {float: left; height: 45px; padding: 5px 5px 0 20px; width: 440px; !important;}
		#action_buttons .button {margin-right: 8px; width: 100px; !important; }
		#action_buttons .button_last {width: 100px;!important; }
	#news {height: auto; margin-top: 0; width: 440px;}
		#news .tabbed_area {
        border: 0;
    	}
		#tabs_home {
    margin:0; z-index: 501;
		}
		
		ul#tabs_home {
		  padding: 0;
		}
		
		#tabs_home li#tabone, #tabs_home li#tabtwo, #tabs_home li#tabthree {
			display: inline;
			list-style: none;
		}
		#tabs_home li#tabone a, #tabs_home li#tabtwo a, #tabs_home li#tabthree a {
			background-color: #d1b182;
			display: inline-block;
			color:#000;
			font: normal 1.25em 'KreonRegular', Georgia, "Times New Roman", Times, serif;
			margin-right: 6px;
			padding: 8px 14px 0px 14px;
			text-decoration:none;
			border-top-left-radius: 10px 10px;
			border-top-right-radius: 10px 10px; 
		}
		#tabs_home li#tabone a:hover, #tabs_home li#tabone a.active, #tabs_home li#tabtwo a:hover, #tabs_home li#tabtwo a.active, #tabs_home li#tabthree a:hover, #tabs_home li#tabthree a.active {
			background-color:#e9c591;
			color:#8c1c20;
			-moz-box-shadow: 2px -2px 2px 0 #ccc;
			-webkit-box-shadow: 2px -2px 2px 0 #ccc;
			box-shadow: 2px -2px 2px 0 #ccc;
		}  
		#tabs_home section {
			display: none; /* I NEED TO FIX THIS */
			float: left;
			overflow: hidden; 
			padding: 3%;
			background: #fff url(/images/tabs-bkgnd.jpg) repeat-x top; 
			font: normal .875em 'Fontin Sans', Tahoma, Arial, sans-serif;
			-moz-box-shadow: 2px -2px 2px 0 #ccc;
			-webkit-box-shadow: 2px -2px 2px 0 #ccc;
			box-shadow: 2px -2px 2px 0 #ccc;
			margin-top: -4px;
			width: 94%;
			z-index: 500;
		}
		
		.no-js #tabs_home section {
		  display: block;
		}
		#news #tabs_home .content a, #news #tabs_home .content a:visited {
			background: none;
			border-radius: 0;
			color:#8c1c20;
			display: inline;
			font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0;
		} 
		#news #tabs_home .content a:hover {background:none; color:#8c1c20; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-decoration: underline;}
			#news #tabs_home #tabone h3 {color: #8c1c20; font: bold 1.125em 'Fontin Sans', Tahoma, Arial, sans-serif; margin: 0;}
			#news #tabs_home #tabone h3 a, #news #tabs_home #tabone h3 a:visited {color: #8c1c20; font-weight: bold;}
			#tabs_home .content ul, #tabs_home .content li {list-style: none; margin: 0; padding: 0;}
			#tabs_home ul li.news_list_item {border-bottom: #8c1c20 1px dotted; clear: left; margin-bottom: 12px; padding-bottom: 12px;}
			#tabs_home ul li.news_list_item img {float: left; margin-right: 20px;}
			#tabs_home ul li:last-child {border-bottom:none;}
		p.news_text {line-height: 1.2; margin: 0;}
#column_right {
	float: left;
	padding: 20px;
	width: 200px;
}
	.scrollable {
	height: 985px;
	overflow: auto;
	width: 200px;
	}
	#program_nav {font: normal .8em 'Fontin Sans', Tahoma, Arial, sans-serif; list-style: none; margin: 0; padding: 0;}
	#program_nav li{margin: 0; padding: 0;}
	#program_nav li:nth-child(odd) {background-color: #f9f0d4;}
	#program_nav li a {display: block; padding: 4px 4px 4px 6px; text-decoration: none;}
	#program_nav li a:hover {color: #fff;}
	#program_nav li:hover {background-color: #333; color: #fff;}

/********* 6. Sub Page Left Hand Navigation *********/
#sub_nav {color: #fff; float: left; font-size: .938em; line-height: 1.2; padding: 20px; width: 180px;}
	#sub_nav h2 {border-bottom: #f9efba 2px dotted; color: #f9efba; display: block; font: normal 1.375em 'Fontin', Georgia, "Times New Roman", Times, serif; margin: 6px 0; padding-bottom: 8px; text-align: left;}
		#sub_nav h2 a, #sub_nav h2 a:visited {color: #f9efba; text-decoration: none;}
		#sub_nav h2 a:hover, #sub_nav h2 a:active {color: #fff; text-decoration: none;}
	#sub_nav h3 {color: #fff; font-family: 'Fontin', Georgia, "Times New Roman", Times, serif; margin: auto 0 0 0;}
	#sub_nav p {margin-top: 0;}
	#sub_nav a, #sub_nav a:visited {color: #f9efba; text-decoration: underline;}
	#sub_nav a:hover, #sub_nav a:active {text-decoration: none;}
	ul.subnav {list-style: none; margin: 0 0 30px 0; padding: 0; width: 180px;}
	/*** !!! NOTE TO OU: Need 3rd level links to show static when parent directory is active !!! ***/
	ul.subnav li span {background: url(/images/sub-nav-arrow.png) no-repeat top right; cursor: pointer; display: inline-block; float: right; height: 1em; margin: -1em 0 0 18px; position: relative; width: 180px; z-index: 8000;}
	ul.subnav li span:hover {background: url(/images/sub-nav-arrow-on.png) no-repeat top right;}
	ul.subnav ul {display: none;}
	ul.subnav li.over ul {display: block; list-style: disc; margin: 0; padding: 0; width: 180px;}
	ul.subnav li.over span {background: url(/images/sub-nav-arrow-active.png) no-repeat top right;}
	ul.subnav li.over span:hover {background: url(/images/sub-nav-arrow-active-on.png) no-repeat top right;}
	#sub_nav li {color: #fff; font: normal 1.064em 'Fontin Sans', Tahoma, Arial, sans-serif; line-height: 1.1em; margin: 10px 0 0 0 ;}
	#sub_nav li li {font: normal .875em 'Fontin Sans', Tahoma, Arial, sans-serif; line-height: 1em; margin: 2px 18px; padding: 4px 0;}
	#sub_nav li a, #sub_nav li a:visited {color: #fff; display: block; text-decoration: none;}
	#sub_nav li a:hover, #sub_nav li a:active {color: #f9f0d4; text-decoration: underline;}
	
/********* 7. Sub Page Main Content Area *********/
#content_full {font-size: .938em; line-height: 1.2; margin-top: -10px; padding: 20px 36px; width: 920px;}
#content {float: right; font-size: .938em; line-height: 1.2; margin: 10px 20px 20px 15px; width: 705px;}
#breadcrumbs {clear: both; color: #333; font-size: .875em; margin: 10px 0 10px 0; text-align: left; width: 700px;}
#content_cont_home #breadcrumbs {background-color: #f6ead9; margin: -10px 16px 10px 16px; padding: 10px 36px; width: 888px;}
	#content table {background-color: #fff; border: none; width: 98%;}
	#content th {background-color: #333; color: #fff; font-size: 1em; border-left: #fff 2px solid; padding: 6px; text-align: left; text-transform: uppercase;}
	#content th a, #content th a:visited {background-color: #333; color: #fff; display: block; width: 100%}
	#content .noborder td {border: none;}
	#content table.fsTable td {border: none;}
	#content table.sortable tr:nth-child(odd) {background-color: #fff;}
	#content table.sortable tr:nth-child(even) {background-color: #f9f0d4;}
	#content td {border: #333 1px solid; font-weight: normal; margin: 0; padding: 6px; text-align: left;}
		#content table td a, #content table td a:visited {color: #466d70; text-decoration: underline;}
		#content table td a:hover, #content table td a:active {color: #8c1c20; text-decoration: none;}
		#content td.first {font-weight: bold;}
	#content table.sortable tr:hover td {background-color: #e9c591; color: #8c1c20; cursor: pointer;}
	#content ol, #content ul {margin: 14px 0 14px 14px; padding-left: 24px;}
	#content li {line-height: 1; padding: 6px 0;}
	#content h2, #content_full h2 {color: #8c1c20;}
	#sub_feature {clear: both; margin: -10px -20px 0 -15px; padding: 20px; width: 700px;}
		#content_cont #slider h1{color: #8c1c20; font-size: 1.4em; margin-bottom: 8px;}
	#sub_hero {clear: both; margin: 0 -20px 0 -15px; width: 740px;}
	#sub_cont {float: left; margin: 0 15px 20px 0; width: 450px;}
			#sub_cont #sub_col_l h2, #sub_cont #sub_col_r h2 {margin-bottom: 0;}
		#sub_cont #sub_col_l {float: left; padding-right: 15px; text-align: left; width: 210px;}
		#sub_cont #sub_col_r {border-left: #8c1c20 1px dotted; float: right; padding-left: 14px; text-align: left; width: 210px;}
			#sub_cont .item {border-bottom: #8c1c20 1px dotted; padding: 12px 0;}
	#sub_cont .callout {background-color: #ffffff; padding: 20px;}
		#sub_cont .callout h2 {margin: 0;}
		#sub_cont .callout .graphic {float: left; padding-right: 10px; width: 270px;}
		#sub_cont .callout .copy {float: right; text-align: left; padding-left: 10px; width: 120px;}
		#sub_cont #action_buttons {float: none; !important;}
		
		/************* Program Page *************/
		#programs {height: auto; padding-top: 12px;}
		#programs .tabbed_area {
        border: 0;
    	}
		ul#tabs_programs {
			margin: 0;
			padding: 0;
		}
		#tabs_programs li#tabone, #tabs_programs li#tabtwo, #tabs_programs li#tabthree, #tabs_programs li#tabfour, #tabs_programs li#tabfive, #tabs_programs li#tabsix {
			display: inline;
			list-style: none;
		}
		#tabs_programs li a.progtab {
			background: #f6ead9 url(/images/program-tab-bkgnd.jpg) repeat-x bottom;
			color: #333;
			font: bold 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
			margin-right: 4px;
			padding: 12px 14px;
			text-decoration:none;
			font-weight:bold;
			border-top-left-radius: 10px 10px;
			border-top-right-radius: 10px 10px;
			border-top: #000 1px solid;
			border-left: #000 1px solid;
			border-right: #000 1px solid;
		}
		#tabs_programs li a.progtab:hover {color:#df6d27;}
		#tabs_programs li a.active {
		background: #df6d27 url(/images/program-tab-bkgnd-active.jpg) repeat-x bottom;
		color:#fff;
		-moz-box-shadow: 2px -2px 2px 0 #ccc;
		-webkit-box-shadow: 2px -2px 2px 0 #ccc;
		box-shadow: 2px -2px 2px 0 #ccc;
			}
			#tabs_programs li a.active:hover {color:#fff;}
		#tabs_programs section {
			display: none; /* I NEED TO FIX THIS */
			float: left;
			overflow: hidden; 
			padding: 3%;
			background: #fff url(/images/program-content-bkgnd.jpg) repeat-x bottom;
			border: #000 1px solid;
			font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
			line-height: 1.2;
			margin-top: 12px;
    		padding: 10px 20px;
			-moz-box-shadow: 2px -2px 2px 0 #ccc;
			-webkit-box-shadow: 2px -2px 2px 0 #ccc;
			box-shadow: 2px -2px 2px 0 #ccc;
			width: auto;
			z-index: 500;
		}
		.no-js #tabs_programs section {
		  display: block; /* I NEED TO FIX THIS */
		}
		#programs #tabs_programs .content a, #programs #tabs_programs .content a:visited {
			background: none;
			border: 0;
			border-radius: 0;
			color:#466d70;
			font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0;
		} 
		#programs #tabs_programs .content a:hover {background:none; color:#8c1c20; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-decoration: underline;}
		#tabs_programs .content ul, #tabs_programs .content li {padding: 4px 0; line-height: 1.2;}
		#programs .content h2 {color: #466d70;}
		#programs .prog_bio {clear: both; margin: 0; padding-top: 10px;}
		#programs .prog_photo {float: left; width: 90px;}
		#programs .prog_info {border-bottom: #8c1c20 1px dotted; float: right; margin-left: 20px; padding-bottom: 10px; width: 548px;}
			.prog_info h3 {color: #8c1c20; margin: 0 0 -8px 0; padding: 0;}
			.prog_info span.title {font-style: oblique; font-weight: bold;}
			.prog_info span.awards {font-style: oblique;}
			.prog_info p.bio {font-style: normal;}
			
			/***** Testimonial *****/
			.prog_test {float: left; margin: 20px auto; width: 564px;}
				.test_photo {float: left; margin-right: 15px; width: 120px;}
				.test_content {float: right; font: normal .938em 'Fontin Sans', Tahoma, Arial, sans-serif; margin-right: 40px; text-align: left; width: 389px;}
					.test_content h3 {color: #8c1c20; margin-top: 0;}
					.testimonial {}
					.test_name {font-weight: bold;}
					.test_title {font-style: oblique;}
			.prog_action {float: right; margin: 20px auto; width: 141px;}
			.prog_action img {margin-bottom: 12px;}
	
	/****** Profile/News Index Styles ******/
	.spot_column_l {border-right: #8c1c20 1px dotted; float: left; padding-right: 2%; width: 47%;}
	.spot_column_r {float: right; padding-left: 2%; width: 47%;}
		.spotlight_cont {border-bottom: #8c1c20 1px dotted; clear: both; padding-top: 2%; width: 100%;}
			.spot_photo {float: left; height: auto; margin-right: 2%; width: 28%;}
			.spot_info {float: right; width: 70%;}
		ul.news_cont h3 {margin: 0;}
			ul.news_cont {list-style: none; margin: 0; padding: 0;}
			ul.news_cont li {list-style: none; margin: 0; padding: 0 0 12px 0;}
			ul.news_cont li.news_list_item {border-bottom: #8c1c20 1px dotted; clear: both; margin-bottom: 6px; padding-bottom: 14px;}
			ul.news_cont li.news_list_item img {float: left; margin: 0 20px 12px 0;}
			ul.news_cont li:last-child {border-bottom:none;}
			ul.news_cont p.news_text {margin: 0;}
		#prof_left {border-right: #8c1c20 1px dotted; float: left; padding-right: 20px; width: 450px;}
		#prof_right {float: right; padding-left: 20px; width: 214px;}
			.prof_hours {margin: 0; padding-left: 14px;}
			.faculty_email {}
			.faculty_phone {}
			.faculty_location {}
			.faculty_semester {}
			.faculty_hours {}
			.faculty_website {}
			h2.faculty_name, h2.student_name {color: #8c1c20; font: bold 1.313em 'Fontin Sans', Tahoma, Arial, sans-serif; margin: 0;}
			.faculty_name {color: #8c1c20; font: bold 1.313em 'Fontin Sans', Tahoma, Arial, sans-serif;}
				.faculty_name a {color: #8c1c20; text-decoration: none;}
				.faculty_name a:hover, .faculty_name a:active {color: #8c1c20; text-decoration: underline;}
			.faculty_title, .student_hometown {color: #333; font: bold 1.064em 'Fontin Sans', Tahoma, Arial, sans-serif;}
			.faculty_division, .student_major {color: #333; font: oblique 1.064em 'Fontin Sans', Tahoma, Arial, sans-serif;}
			.student_photo {background-color: #ccc; border: #333 2px solid; float: right; margin: 4px 0px 4px 10px; padding: 14px;}
			.student_favs {}
			.student_other {}
			
/********* 8. Sub Page Column Styles	 *********/
	#sidebar {border-left: #8c1c20 1px dotted; float: right; padding-left: 14px; text-align: left; width: 220px;}
		#sidebar h2 { color: #8c1c20; font: bold 1.250em 'KreonRegular', Georgia, "Times New Roman", Times, serif; padding-top: 10px;}
		#sidebar .event {padding: 10px 0;}
			#sidebar .event .date {color: #8c1c20; font-weight: bold;}
			#sidebar .event .info {}
			#sidebar {font-size: .875em;}
			#sidebar ul {list-style: disc; margin: 12px 0;}
			#profile {background: #f9f0d4 url(/images/profile-header.gif) no-repeat top; margin-bottom: 20px; padding: 52px 8px 8px 8px; width: 204px;}
			#profile #prof_info {float: left; font-weight: bold; text-align: left; width: 109px;}
			#profile #prof_photo {float: right; margin-left: 19px; width: 75px;}
			#profile #prof_photo img {margin-bottom: 6px;}
				p.prof-quote {font-weight: normal; font-style: oblique; margin-bottom: 0; width: 109px;}
				span.prof-name {font: bold 1.2em 'Fontin Sans', Tahoma, Arial, sans-serif;}
					.prof-name a {text-decoration: none;}
				span.prof-dept {font-weight: normal;}
				.prof-head {font-weight: bold;}
	/* BEGIN Calendar styles */
	#sidebar table {background: #f9f0d4 url(/images/calendar/cal-bkgnd.jpg) repeat-x top; font-family: 'KreonBold', Georgia, "Times New Roman", Times, serif; -moz-box-shadow: 4px 4px 2px #ccc; -webkit-box-shadow: 4px 4px 2px #ccc; box-shadow: 4px 4px 2px #ccc; margin-top: 10px; padding: 4px; width: 200px;}
	#sidebar .otherdaySmallGrid {padding: 4px 0;}
	#sidebar .titleSmallGrid {background-color: #fff; color: #000; font: normal 1.064em 'KreonBold', Georgia, "Times New Roman", Times, serif; padding: 4px 0; text-align: center;}
	#sidebar th, #sidebar td {border: #8c1c20 1px solid; font-family: 'KreonBold', Georgia, "Times New Roman", Times, serif;}
	#sidebar td a, #sidebar td a:visited {color: #d5a10f;}
	#sidebar .dayheaderSmallGrid {background-color: #e9c591; color: #000; font-family: 'KreonBold', Georgia, "Times New Roman", Times, serif;}
	/* END Calendar styles */

/********* 9. Global Footer *********/
#footer_cont {
	background: url(/images/footer-bkgnd.png) repeat-x top;
	margin: -7px auto 0 auto;
	z-index: 12000;
}
#footer_cont ul{list-style: none; margin: 0;}
#footer_cont li{line-height: 1; padding-bottom: 12px;}
	#footer {margin: 0 auto; padding: 20px 0; width: 960px;}
	#footer a, #footer a:visited {color: #fff; display: block; text-decoration: none;}
	#footer a:hover, #footer a:active {text-decoration: underline;}
	#footer_contact {
		color: #fff;
		float: left;
		font: bold .7em 'Fontin Sans', Tahoma, Arial, sans-serif;
		line-height: 1.2;
		text-align: left;
		width: 220px;
		}
		#footer_social {
			float: left;
			width: 40px;
		}
			#footer_social a img {padding-bottom: 4px;}
		#footer_links1 {
			border-right: #fff 1px solid;
			float: left;
			font: normal .8em 'Fontin Sans', Tahoma, Arial, sans-serif;
			line-height: .8;
			padding-left: 5px;
			width: 210px;
		}
		#footer_links2 {
			border-right: #fff 1px solid;
			float: left;
			font: normal .8em 'Fontin Sans', Tahoma, Arial, sans-serif;
			line-height: .8;
			padding-left: 0px;
			padding-right: 5px;
			margin-left: -15px;
			width: 240px;
		}
		#footer_app {
			background: url(/images/footer-app-bkgnd.png) no-repeat top right;
			float: right;
			margin: 0px 20px;
			min-height: 118px;
			padding-right: 72px;
			width: 128px;
		}
			#footer_app .head1 {color: #fff; font: normal 1em 'Fontin', Georgia, "Times New Roman", Times, serif;}
			#footer_app .head2 {color: #ffcb05; font: normal .938em 'Fontin', Georgia, "Times New Roman", Times, serif;}
			#footer_app #itunes a {background: url(/images/footer-itunes.gif) no-repeat top left; color: #fff; display: block; font: normal .750em 'Fontin', Georgia, "Times New Roman", Times, serif; height: 22px; padding: 6px 0 0 24px; text-decoration: none;}
				#footer_app #itunes a:hover, #footer_app #itunes a:active {background: url(/images/footer-itunes-on.gif) no-repeat top left; text-decoration: underline;}
			#footer_app #android a {background: url(/images/footer-android.gif) no-repeat top left; color: #fff; display: block; font: normal .750em 'Fontin', Georgia, "Times New Roman", Times, serif; height: 22px; padding: 6px 0 0 24px; text-decoration: none;}
				#footer_app #android a:hover, #footer_app #android a:active {background: url(/images/footer-android-on.gif) no-repeat top left; text-decoration: underline;}

/***** image map *****/

ul#imagemap {
	list-style: none;
	background: url(/images/support/main.jpg) no-repeat 0 0;
	position: relative;
	width: 450px;
	height: 450px;
	margin: 0;
	padding: 0;
}

ul#imagemap li {
	position: absolute;
}

ul#imagemap li a{
	display: block;
	height: 100%;

}

#disability {
	width: 124px;
	height: 80px;
	top: -37px;
	left: 130px;
}
#health {
	width: 66px;
	height: 40px;
	top: 64px;
	left: 109px;
}
#counseling {
	width: 103px;
	height: 65px;
	top: 55px;
	left: 182px;
}
#learningsupport {
	width: 99px;
	height: 62px;
	top: 94px;
	left: 54px;
}
#communityresources {
	width: 113px;
	height: 71px;
	top: -7px;
	left: 258px;
}

ul#imagemap li a{
	display: block;
	height: 100%;
	text-decoration: none;
}

ul#imagemap li a:hover {
	display: block;
	padding: 0px;
	/* width: 119px;  */
	/* background: #000; */
	position: relative;
	top: 50%;
	opacity: .5;
	filter:alpha(opacity=5);
	color: #FFF;
}

.accordion_toggle  {
			display: block;
			height: 25px;
			width: 570px;
			background: url(images/accordion_toggle.jpg) no-repeat top right #a60c0c;
			padding: 0 7px 0 10px;
			line-height: 25px;
			font-size: 11px;
			font-family: Arial;
			text-transform: capitalize;
			color: #ffffff;
			font-weight: bold;
			outline: none;
			border-bottom: 1px solid #000000;
			cursor: pointer;
			margin: 0 0 0 0;
		}
.accordion_toggle  h1:hover{
				display: block;
			height: 25px;
			width: 570px;
			background: url(images/accordion_toggle.jpg) no-repeat top right #a60c0c;
			padding: 0 7px 0 10px;
			line-height: 25px;
			font-size: 12px;
			font-family: Arial;
			text-transform: capitalize;
			color: #ff0000;
			font-weight: bold;
			outline: none;
			border-bottom: 1px solid #000000;
			cursor: pointer;
			margin: 0 0 0 0;

}
.accordion_toggle_active {
			background: url(images/accordion_toggle_active.jpg) no-repeat top right #737272;
			color: #ffffff;
			border-bottom: 1px solid #737272;
		}
		
.accordion_content {
			background-color: #ffffff;
			color: #000000;
			overflow: hidden;
			width: 570px;
			
		}

.accordion_content h2 {
				color: #a60c0c;
				font-family: Arial;
				font-weight: bold;
				font-size: 12px;
				margin-left: 10px;
				margin-bottom: 10px;
				text-transform: capitalize;
				text-align:center;
		}

/* Added by OU  */
.noborder td{
    border: none;
}


/* Moving dotted border from top of right column modules to bottom , per Nathan Gerber's request from OCCC */

.right-column-module{
border-bottom: 1px dotted #8c1c20;
}

/********* 10. Media Queries *********/
.phone-only, .tablet-phone-only {display: none;}

@media only screen and (max-width : 1100px) {

			.video-container {
				position: relative;
				padding-bottom: 56.25%;
				padding-top: 30px; height: 0; overflow: hidden;
			}
			.video-container iframe,
			.video-container object,
			.video-container embed {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
}

@media only screen and (max-width : 960px) { 
.tablet-phone-only {clear: both; display: block;}
select.tablet-phone-only {font-size: 1em; margin: 10px 2px; max-width: 96%;}
	#footer_links2 {width: 170px;}
	#footer_links1 {width: 178px;}
 @media not all and (-webkit-min-device-pixel-ratio:0) 


	
#alert_text {width: 88%;}
	#feature_cont {
	margin: 0 auto;
	}
	#column_left div.tablet-phone-only {background-color: #f9f0d4; margin: 0 4px 10px 4px; padding-bottom: 4px;}
#main_container {background-image: none; background-color: #fff; min-width: 0; width: 100%; overflow: hidden; position: relative;}
	#content_cont, #content_cont_home, #footer_cont, #footer, #menu_cont, #header_cont {height: auto; width: 100%;}
	#content_cont, #content_cont_home {background-color: #fff; background-image: none;}
	#header_cont #utility, #header_cont #search, #mega-menu, #home_spacer, #audience, #footer_app, .scrollable {display: none;}
	#header_cont {clear: both; margin-top: 0;}
	#logo {float: none; height: auto; margin-top: 0; padding-top: 1em; text-align: center; width: 100%;}
	#menu_cont {background-color: #333; background-image: none; clear: both; height: auto; margin-top: 10px; padding: 6px 2%; width: 96%}
	#mega-menu {display: none;}
		#menu_icon {text-align: right;}
		#menu_icon img {border: none; outline: none;}
		#menu_toggle, #sub_nav {display: none;}
		#menu_toggle a, #menu_toggle a:visited {color: #fff; display: block; font: normal 1em 'Fontin Sans', Helvetica, sans-serif; text-decoration: none;}
		#menu_toggle a:hover {text-decoration: underline;}
		#menu_toggle ul {margin: 0; padding: 0 0 0 3%;}
		#menu_toggle ul li {padding: .5em 0;}
		#menu_toggle ul li ul {margin: .5em 0 0 0;}
			#menu_toggle li.login ul {margin-left: 0; padding-left: .5em;}
				#menu_toggle li.login ul li {padding: .25em 0;}
			#menu_toggle #menu_left {float: left; padding: 1%; width: 43%;}
			#menu_toggle #menu_right {border-left: #fff 1px dotted; float: right; margin-bottom: 2%; padding: 1% 1% 1% 3%; text-align: left; width: 48%;}
						#menu_toggle fieldset.search {
						border: none;
						height: 1.5em;
						margin: .5em 0;
						width: 100%;
						}
						#menu_toggle input.searchBox {
						color: #333;
						font-size: 1em;
						width: 10em;
						height: 1.5em;}
						#menu_toggle .search button.btn {
						width: 21px;
						height: 21px;
						margin-left:-28px;
						background: url(/images/search-field-sprite.gif) no-repeat top right;
						}
/** Home page only **/
	#content_home {margin: 0 auto; width: 100%;}
	#feature_cont, #content_cont_home .advanced-slider, #content_cont_home .advanced-slider img {float: none; height: auto; width: 100%;}
			#feature_cont{text-align: center;}
#home_left {float:none; width: 100%;}
#content_home #column_left {float: left; height: auto; padding: 3% 1% 2% 1%; width: 32%;}
			/* Calendar Styles */
			#column_left table {width: 100%;}
#content_home #column_center {float: right; height: auto; padding: 3% 1% 2% 1%; width: 64%;}
#content_home #column_right {display: none;}
#action_buttons {float: left; height: 80px; padding: 3% 1% 2% 1%; width: 64%; !important;}
			#sub_cont #action_buttons {width: 94%;}
#action_buttons .button {margin-right: 2%; !important;}
#action_buttons .button, #action_buttons .button_last {height: 45px; width: 20%; !important;}
		
/** Sub pages **/
#sub_menu_icon {float: right; margin: 1% .1% -6% 0; padding: 1% 3%; text-align: right; width: 40px;}
#content_full {height: auto; padding: 3%; width: 94%;}
#content_sub {background: none; margin: -1% 0 0 0; width: 100%;}
#content {float: none; margin: 0; max-width: 100%; padding: 0; width: 100%}
#main_content {margin: 2%; width: 96%;}
#breadcrumbs {clear: both; background-color: #f6ead9; font-size: 1em; margin: 0; padding: 2%; width: 96%;}
	#content_cont_home #breadcrumbs {margin: 0; padding: 2%; width: 96%;}
	#content #breadcrumbs {width: 100%;}
#sub_nav {background-color: #406d70; float: none; padding: 6% 2% 0 2%; width: 96%;}
	#sub_nav h2 {margin-top: 0;}
	#sub_main {float: left; margin-right: 3%; width: 47%;}
	#sub_add {float: right; margin-left: 3%; width: 47%;}
	#sub_feature {height: auto; width: 100%;}
		#content_cont .slider {height: auto; width: 100%;}
		#content_cont .slider h1 {font-size: 1.4em; margin-bottom: 2%;}
		#content_cont .slider .slider_content {margin-top: 2%;}
	#sub_hero {margin: 0; width: 100%;}
	#sub_hero img {height: auto; width: 100%;}
	#sub_cont {margin: 2% 1.5%; width: 68%;}
		#sub_cont #sub_col_l {padding-right: 3%; width: 47%;}
		#sub_cont #sub_col_r {padding-left: 3%; width: 47%;}
			p.prof-quote {width: auto;}
#sidebar {margin-top: 2%; padding-left: 1.5%; text-align: left; width: 27%;}
		#sidebar h2 {color: #8c1c20; font: bold 1.125em 'KreonRegular', Georgia, "Times New Roman", Times, serif; padding-top: 1%;}
		#sidebar .event {padding: 1% 0;}
			#sidebar ul {list-style: disc; margin: 1% 0;}
/** Footer **/
	#footer {margin-top: 14px; padding: 2%; width: 96%;}
}

@media only screen and (max-width : 640px) { 
.phone-only {clear: both; display: block;}
select.tablet-phone-only, select.phone-only {margin: 12px 0; width: 96%;}
img.browse-programs, #breadcrumbs, #content #breadcrumbs {display: none;}
		#column_left div.tablet-phone-only {background: none; margin: 0; padding-bottom: 0;}
	/** Main Nav **/
	#menu_toggle a, #menu_toggle a:visited {font-size: .95em;}
	/*#menu_toggle ul li {padding: .25em 0;}*/
	#menu_toggle input.searchBox {font-size: .95em;width: 7em;height: 1.1em;}
	
	/** Tables **/
	#content table {width: 99%;}
	div.table_cont {
	clear: both;
	height: 285px;
	overflow: auto;
	width: 99%;
	}
	/* Reset overflow value to hidden for all non-IE browsers. */
	html>body div.table_cont {
		overflow: hidden;
		width: 99%;
	}
	tbody.scrollContent {display: block; height: 262px; overflow: scroll; width: 99%}
	thead.fixedHeader tr {display: block; margin-bottom: 2%; width: 100%;}
	thead.fixedHeader th {width: 60%;}
	thead.fixedHeader th + th {width: 25%;}
	thead.fixedHeader th + th + th {width: 15%;}
	#content th {font-size: .975em; padding: 1%;}
	
	/** Footer **/
	#footer_links1, #footer_links2 {display: none;}
	#footer_contact, #footer_social {clear: both; float: none; width: 100%;}
	#footer_social {padding: 10px 0; text-align: left; width: auto;}
	#footer_social a img {display: inline; float: left; padding:0 6px;}

/** Home Page **/
#feature_cont img.temp {margin: 0 auto; width: 100%; height: auto;}
#events_toggle {font: normal 1.5em 'KreonRegular', Georgia, "Times New Roman", Times, serif; margin: 10px 0 0 0; width: 100%;}
	#events_toggle a {background-color: #911d19; color: #fff; display: block; padding: 14px; text-decoration: none;}
	#events_toggle a:hover {background-color: #333;}
			#events_home {margin-top: 12px;}
#events_home, #events_home h1, #news #tabs_home li#tabone {display: none;}
	/** Home tabs **/
#news {margin-top: 10px; width: 100%;}
#tabs_home {position: relative; border: none; width: 100%;}
	#tabs_home li#tabevents a {background-color: #911d19;}
    #tabs_home li#tabevents, #tabs_home li#tabone-mobile, #tabs_home li#tabtwo, #tabs_home li#tabthree {display: block; margin-bottom: 10px;}
	#tabs_home li#tabone-mobile a {background-color: #f55e08;}
	#tabs_home li#tabtwo a {background-color: #406d71;}
	#tabs_home li#tabthree a {background-color: #dc9f00;}
    #tabs_home li#tabevents a, #tabs_home li#tabone-mobile a, #tabs_home li#tabtwo a, #tabs_home li#tabthree a {color: #fff; display: block; font: normal 1.3em 'KreonRegular', Georgia, "Times New Roman", Times, serif; border-radius: 0; padding: 14px 2%; text-decoration: none; width: 96%;}
	#tabs_home li#tabevents a:hover, #tabs_home li#tabevents a:active, #tabs_home li#tabone-mobile a:hover, #tabs_home li#tabone-mobile a.active, #tabs_home li#tabtwo a:hover, #tabs_home li#tabtwo a.active, #tabs_home li#tabthree a:hover, #tabs_home li#tabthree a.active {background-color: #333; color: #fff;}
	#tabs_home li a:hover, #tabs_home li a.active {color: #fff; padding: 14px 2%; -moz-box-shadow: none;-webkit-box-shadow: none; box-shadow: none;}
    #tabs_home section {padding: 1%; position: relative; left: 0; float: none;
			overflow: hidden; 
			padding: 3%;
			background-color: #fff;
			background-image: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			margin-top: 0;
			width: 94%;}
	/** END Home tabs **/
#feature_cont, #content_home #column_center, #content_home #column_left, #content_home #column_right {float: none; padding: 1% 2%; width: 96%;}
	.advanced-slider .slide-buttons {visibility: hidden;}
	#home_left {display: table; caption-side: top; float: none; width: 100%;}
	#content_home #column_left {margin: 0 0 -6px 0;}
	#action_buttons {display: table; float: none; margin: 10px 0 -10px; padding: 1% 2%; width: 96%; !important;}

/** Sub pages **/
#content_full {margin-top: 2%;}
	#content img, #content_cont_home img {height: auto; max-width: 100%;}
#sub_feature {display: none;}
#sub_menu_icon {background-color: #f6ead9; float: none; margin: 0; padding: 2% 2.5%; text-align: right; width: 95%;}
#sub_nav {padding: 2%;}
	#sub_main {float: none; margin: 0 14% 0 3%; width: 80%;}
	#sub_add {float: none; margin: 0 14% 0 3%; width: 80%;}
	#sub_nav h2 {margin-top: 2%;}
	#sub_cont #sub_col_l img, #sub_cont #sub_col_r img {height: auto; width: 100%;}
#sub_cont {margin: 0 1% 2% 2%; width: 97%;}
		#sub_cont #sub_col_l, .spot_column_l {border-right: none;float: none; padding: 0 2%; width: 96%;}
		#sub_cont #sub_col_r, .spot_column_r {border-left: none; float: none; padding: 0 2%; width: 96%;}
		#sub_cont .callout .graphic {float: none; padding-right: 2%; width: 98%;}
		#sub_cont .callout .copy {float: none; text-align: left; padding-left: 2%; width: 98%;}
			#prof_left {border-right: none; float: none; padding-right: 0; width: 100%;}
			#prof_right {float: none; padding-left: 0; width: 100%;}
				#prof_right img {width: auto;}
				#main_content img.student_photo {height: auto; width: 40%;}
				#main_content #faculty-member-container .prog_bio .prog_photo img {height: auto; width: 100%;}
#sidebar {border-left: none; clear: both; float: none; padding-left: 2%; text-align: left; width: 98%;}
	/** Program tabs **/
	#programs {padding-top: 0; padding-bottom: 2%;}
#programs #tabs_programs li#tabone {display: none;}
#tabs_programs li#tabone-mobile, #tabs_programs li#tabtwo, #tabs_programs li#tabthree, #tabs_programs li#tabfour, #tabs_programs li#tabfive, #tabs_programs li#tabsix {display: block; margin: 0;}
		#tabs_programs li a.progtab {
			background: #911d19;
			background-image:none;
			color: #fff;
			display: block;
			font: bold 1.064em 'Fontin Sans', Tahoma, Arial, sans-serif;
			margin: 0 0 -8px 0;
			padding: 3% 3%;
			text-decoration:none;
			font-weight:bold;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border: none;
		}
		#tabs_programs li a.progtab:hover {background-color: #333; color:#fff;}
		#tabs_programs li a.active {
		background-color: #333;
		background-image: none;
		color:#fff;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
			}
		#tabs_programs section {
			padding: 1%;
			position: relative;
			left: 0;
			float: none;
			overflow: hidden; 
			padding: 3%;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			margin-top: 0;
		}
		.no-js #tabs_programs section {
		  display: block; /* I NEED TO FIX THIS */
		}
		#programs #tabs_programs .content a, #programs #tabs_programs .content a:visited {
			background: none;
			border-radius: 0;
			color:#466d70;
			font: normal 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			padding: 0;
		} 
		#programs #tabs_programs .content a:hover {background:none; color:#8c1c20; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; text-decoration: underline;}
		#tabs_programs .content ul, #tabs_programs .content li {padding: 4px 0;}
		#tabs_programs section.content img {height: auto; width:33%;}
		#programs .content h2 {color: #466d70;}
		#programs .prog_bio {clear: both; margin: 0; padding-top: 10px;}
		#programs .prog_photo {float: left; width: 28%;}
		#programs .prog_info {border-bottom: #8c1c20 1px dotted; float: right; margin-left: 2%; padding-bottom: 10px; width: 70%;}
			#main_content .prog_action {clear: both; display: table; float: none; margin: 2% auto; width: 100%;}
			#main_content .prog_action a {display: table-cell; width: 33%;}
			#main_content .prog_action img {height: auto; margin-bottom: 1%; width: 100%;}
			
		/***** Testimonial *****/
			#main_content .prog_test {float: none; margin: 2% auto; width: 100%;}
			#main_content .prog_test img {height: auto; width: 100%;}
				.test_photo {margin-right: 2%; width: 120px;}
				.test_content {margin-right: 2%; width: 56%;}
}

@media only screen and (max-width : 480px) {
.spot_info {width: 68%;}
			/* Calendar Styles */
			#column_left table {width: 98%;}
	#content table.sortable th {font-size: .875em;}
}

@media only screen and (max-width : 320px) { 
#program-table #dept, #program-table tr td:nth-child(2) {display:none;}
thead.fixedHeader th {width: 60%;} 
thead.fixedHeader th + th + th {width: 40%;}
}

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

.advanced-slider {
	position: relative;
	overflow: visible;
	outline: none;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
}


.advanced-slider * {
	margin: 0;
	padding: 0;
}


.advanced-slider.fulscreen {
	max-width: 100% !important;
	max-height: 100% !important;
}


.advanced-slider a {
	position: static;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}


.advanced-slider img {
	max-width: none;
	max-height: none;
	border: 0 none;
	padding: 0;
	margin: 0;
	transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
}


.advanced-slider .slider-main {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.advanced-slider .slide-wrapper {
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
	z-index: 2;
}


.advanced-slider .slides {
	position: absolute;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	width: 100%;
	height: 100%;
}


.advanced-slider .slide {
	position: absolute;
	overflow: hidden;
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
	visibility: hidden;	
	list-style: none;
	filter: alpha(opacity=100);
	opacity: 1;
}


.advanced-slider .slide .image,
.advanced-slider .slide .thumbnail,
.advanced-slider .slide .caption,
.advanced-slider .slide .html {
	position: absolute;
}


.advanced-slider.webkit .slide .html {
	overflow: hidden;
}


.advanced-slider .video-hidden-image {
	display: none;
}


.advanced-slider iframe.video {
	background-color: #000;
}


.advanced-slider .video-play-button {
	display: block;
	background-image: url(images/video_play.png);
	background-position: center;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}


.advanced-slider iframe {
	display: block;
}


.advanced-slider.webkit .slide .html iframe,
.advanced-slider.webkit .slide .layer iframe {
	opacity: 0;
}


.advanced-slider.webkit .slide.transition .html iframe, 
.advanced-slider.webkit .slide.active .html iframe,
.advanced-slider.webkit .slide.transition .layer.init iframe,
.advanced-slider.webkit .slide.active .layer.init iframe {
	opacity: 1;
}


.advanced-slider .slice-container {
	position: absolute;
	width: 100%;
	height: 100%;
}


.advanced-slider .swipeable-container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow:hidden;
}


.advanced-slider .swipeable-container .slides {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.advanced-slider .swipeable-container .slides .selectable {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
	cursor: auto;
}


.advanced-slider .swipeable-container .grab {
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default;
}


.advanced-slider .swipeable-container .grabbing {
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default;
}


.advanced-slider .thumbnail-scroller .swipe {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.advanced-slider .thumbnail-scroller .grab {
	cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default;
}


.advanced-slider .thumbnail-scroller .grabbing,
.advanced-slider .thumbnail-scroller .grabbing a:hover,
.advanced-slider .thumbnail-scroller .grabbing a:active,
.advanced-slider .thumbnail-scroller .grabbing .lightbox-icon {
	cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default;
}


.advanced-slider .layer {
	position: absolute;
	visibility: hidden;
	padding: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .layer.black {
	color: #FFF;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
}


.advanced-slider .layer.white {
	color: #000;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.7);
}


.advanced-slider .layer.rounded {
	border-radius: 10px;
}


.advanced-slider .slice {
	display: block;
	position: absolute;
}


.advanced-slider .preloader {
	position: absolute;
	background: url(images/preloader2.gif) no-repeat;
	width: 62px;
	height: 14px;
	z-index: 15;
}


.advanced-slider .slide-arrows {
	position: static;
}


.advanced-slider .slide-arrows a {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .lightbox-icon {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	cursor: pointer;
}


.advanced-slider .lightbox-icon.play {
	background-image: url(images/lightbox_play.png);
}


.advanced-slider .lightbox-icon.magnifying {
	background-image: url(images/lightbox_magnifying.png);
}


.advanced-slider .lightbox-icon.hyperlink {
	background-image: url(images/lightbox_hyperlink.png);
}


.advanced-slider .slideshow-controls {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .shadow {
	position: absolute;
	height: 94px;
	margin-top: -50px;
	z-index: 1;
}


.advanced-slider .shadow .shadow-left, 
.advanced-slider .shadow .shadow-right, 
.advanced-slider .shadow .shadow-middle {
	float: left;
}


.advanced-slider .shadow .shadow-left {
	float: left;
	background: url(images/shadow_left.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-right {
	float: left;
	background: url(images/shadow_right.png);
	width: 200px;
	height: 94px;
}


.advanced-slider .shadow .shadow-middle {
	float: left;
	background: url(images/shadow_middle.png) repeat-x;
	height: 94px;
}


.advanced-slider .full-screen-controls {
	background: url(images/fullscreen.png) no-repeat;
	position: absolute;
	width: 31px;
	height: 27px;
	top: 20px;
	left: 20px;
	cursor: pointer;
}


.advanced-slider .timer-animation {
	position: absolute;
}


.advanced-slider canvas {
	position: absolute;
}


.advanced-slider .timer-animation .timer-animation-controls {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
}


.advanced-slider .timer-animation .timer-animation-controls {
	background: url(images/playpause_small.png) no-repeat;
}


.advanced-slider .timer-animation.play .timer-animation-controls {
	background-position: -20px 0;
}


.advanced-slider .timer-animation.pause .timer-animation-controls {
	background-position: 0 0;
}


.advanced-slider .caption-container {
	overflow: hidden;
	position: absolute;
}


.advanced-slider .caption-container .wrapper {
	position: absolute;
	background-color: transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}


.advanced-slider .caption-container .background {
	position: absolute;
	width: 100%;
	height: 100%;
}


.advanced-slider .caption-container .caption {
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail-wrapper {
	position: absolute;
}


.advanced-slider .thumbnail {
	background-image: url(images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;
}


.advanced-slider .thumbnail-content {
	background: none;
}


.advanced-slider .slide-buttons {
	position: absolute;
	z-index: 3;
}


.advanced-slider .slide-buttons .left, 
.advanced-slider .slide-buttons .right, 
.advanced-slider .slide-buttons .middle {
	float: left;
}


.advanced-slider .slide-buttons a {
	position: relative;
	cursor: pointer;
	float: left;
	text-decoration: none;
	text-align: center;
}


.advanced-slider .thumbnail-scroller {
	position: absolute;
	z-index: 2;
}


.advanced-slider .thumbnail-scroller .thumbnails-visible-container {
	position: relative;
	overflow: hidden;
}


.advanced-slider .thumbnail-scroller .thumbnails-container {
	position: absolute;
	overflow: visible;
	top: 0;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}


.advanced-slider .thumbnail-scroller .thumbnail-wrapper {
	cursor: pointer;
	list-style: none;
}


.advanced-slider .thumbnail-scroller .lightbox-icon {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .lightbox-icon.play {
	background-image: url(images/lightbox_play_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.magnifying {
	background-image: url(images/lightbox_magnifying_small.png);
}


.advanced-slider .thumbnail-scroller .lightbox-icon.hyperlink {
	background-image: url(images/lightbox_hyperlink_small.png);
}


.advanced-slider .thumbnail .caption {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.advanced-slider .thumbnail .caption .background {
	position: absolute;	
	width: 100%;
	height: 100%;
}


.advanced-slider .thumbnail .caption .content {
	position: absolute;
	width: 100%;
}


.advanced-slider .thumbnail-scroller .arrows a {
	position: absolute;
	cursor: pointer;
}


.advanced-slider .thumbnail-scroller .buttons {
	position: absolute;
	width: auto;
}


.advanced-slider .thumbnail-scroller .buttons a {
	position: absolute;
	cursor: pointer;
	text-decoration: none;
}


.advanced-slider-tooltip {
	position: absolute;
	z-index: 9999;
}

/* MAIN SLIDE */

.pixel .slide-wrapper
{
	background: none;
}

/* END OF MAIN SLIDE */


/* PRELOADER */

.pixel .preloader
{
	background:url(/images/home-feature/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
}

/* END OF PRELOADER */


/* SLIDE CAPTION */

.pixel .caption-container .background
{
	background-color:#000;
	width:100%;
	height:100%;
}


.pixel .caption-container .content
{	
	color:#fff;
	margin:0px;
	padding:12px;
	font: normal 14px 'Fontin Sans', Tahoma, Arial, sans-serif;
	line-height:1.1;
}

.pixel .caption-container .content a, .pixel .caption-container .content a:visited
{color:#f9f0d4; text-decoration: underline;}
.pixel .caption-container .content a:hover, .pixel .caption-container .content a:active
{text-decoration: none;}
/* END OF SLIDE CAPTION */


/* NAVIGATION BUTTONS/BULLETS */

/* main container of the navigation buttons */
.pixel .slide-buttons
{
	left: auto !important;
	right: 10px;
	margin-top: -30px;
}

/* 
 left, right and middle of the main container 
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.pixel .slide-buttons .left, .pixel .navigation-buttons .right{}


.pixel .slide-buttons .left{}


.pixel .slide-buttons .middle{}


.pixel .slide-buttons .right{}


/* this contains the buttons */
.pixel .slide-buttons .buttons-inner{}


/* this is a button */
.pixel .slide-buttons .buttons-inner a
{
	background-color: #466d70;
	color: #fff;
	cursor:pointer;
	margin:0px 2px;
	opacity: .6;
	padding: 2px 4px;
	text-align:center;
	text-decoration: none;
}


.pixel .slide-buttons .buttons-inner a.over
{
	opacity:.95;
	text-decoration: none; 
}


.pixel .slide-buttons .buttons-inner a.select
{
	opacity:1; 
	text-decoration: none;
}


/* this is used to style the numbers from within the buttons, when they are used */
.pixel .slide-buttons .buttons-inner a .number
{
	font: bold 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
	color: #000;
}


.pixel .slide-buttons .buttons-inner a.over .number
{
	font: bold 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
	color:#000;
}


.pixel .slide-buttons .buttons-inner a.select .number
{
	font: bold 1em 'Fontin Sans', Tahoma, Arial, sans-serif;
	color:#fff;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.pixel .slide-buttons .buttons-inner .thumbnail
{
	margin-bottom:10px;
}

/* END OF NAVIGATION BUTTONS/BULLETS */

/**** OCCC Print Styles ****/

body {
	font-size: 120%;
	line-height: 130%;
	width: 100%;
	margin: 0;
	float: none;
	background-color: #fff;
	background-image: none;
	font: 1em Georgia, "Times New Roman", Times, serif;
	color: #000;
}
#main_container, #content_cont, #content_cont_home, ##content_sub {background: none;}
a:link, a:visited {
	color: #00c;
	font-weight: bold;
	text-decoration: underline;}

#feature_cont, #sub_feature, #sub_nav ul, #breadcrumbs {display: none;}

